Repository pharo-project/pharo, pull requests merged in 2021-11, with the labels that each got.

#10293 Added IdentitySet>>identityIncludes: for improved performance
  src/Collections-Unordered/IdentitySet.class.st
Labels: tests passed please review!

#10164 Migrating RBRenamePackage into Refactoring2
  src/Refactoring2-Transformations-Tests/RBRenamePackageParametrizedTest.class.st
  src/Refactoring2-Transformations/RBPackageTransformation.class.st
  src/Refactoring2-Transformations/RBRenamePackageTransformation.class.st
Labels: Need more work

#10308 10290-CI-ZnHTTPSTesttestGmailEncrypted-started-failing-on-the-CI
  src/Zinc-HTTP/ZnClient.class.st
Labels: tests passed please review!

#10299 More Small cleanups - class side initialize
  src/Graphics-Files/PNGReadWriter.class.st
  src/Morphic-Core/NullWorldRenderer.class.st
  src/Morphic-Core/PasteUpMorph.class.st
  src/NECompletion-Tests/NECTestClass.class.st
  src/NECompletion-Tests/NECTestSuperClass.class.st
  src/Network-Kernel/NetNameResolver.class.st
  src/OSWindow-Core/OSKeySymbols.class.st
  src/OSWindow-Core/OSWindow.class.st
  src/Ombu/OmDeferrer.class.st
  src/Ombu/OmSessionStore.class.st
  src/Ombu/OmStoreFactory.class.st
  src/OpalCompiler-Core/OCASTTranslator.class.st
  src/System-OSEnvironments/OSEnvironment.class.st
  src/Tool-Registry/PharoCommonTools.class.st
Labels: tests passed please review!

#10313 10312-CI-Failing-test-NoUnusedVariablesLeftTest-due-to-RBPackageTransformation
  src/Refactoring2-Transformations/RBPackageTransformation.class.st
Labels: tests passed please review!

#10315 Cleanup EndianDetector
  src/System-Support/EndianDetector.class.st
Labels: tests passed please review!

#10310 10280-Unimplemented-method-in-MemoryLogger-classwriteLoop
  src/Beacon-Core/MemoryLogger.class.st
Labels: tests passed please review!

#10287 Small changes to make flow clearer.
  src/SystemCommands-RefactoringSupport/SycMethodNameEditorPresenter.class.st
Labels: tests passed please review!

#10324 Breakpoint-timeSpamp-unchanged-test
  src/Reflectivity-Tools-Tests/BreakpointTest.class.st
Labels: tests passed please review!

#10309 Microoptimization-MethodDictionary-scanFor
  src/Kernel/MethodDictionary.class.st
  src/OpalCompiler-Core/OCLiteralSet.class.st
Labels: tests passed please review!, easyReview

#10317 Small cleanups SystemDictionary
  src/System-Support/ManifestSystemSupport.class.st
  src/System-Support/SystemDictionary.class.st
Labels: tests passed please review!

#10327 Added a MakeAbstract command to execute a transformation to make a class abstract …
  src/SystemCommands-ClassCommands/SycCMakeAbstractCommand.class.st
Labels: tests passed please review!

#10311 Speedup-SendersOf
  src/Kernel-Tests/BehaviorTest.class.st
  src/Kernel/Behavior.class.st
  src/System-Support/SystemNavigation.class.st
Labels: tests passed please review!

#10283 Reduce usage of NativeBoost calls for UnifiedFFI-Legacy
  src/Athens-Cairo/AthensCairoStrokePaint.class.st
  src/Athens-Cairo/AthensCairoSurface.class.st
  src/Athens-Cairo/CairoFontMetricsProvider.class.st
  src/Athens-Cairo/CairoFreetypeFontRenderer.class.st
  src/OSWindow-SDL2/SDL2.class.st
  src/OSWindow-SDL2/SDL_Event.class.st
  src/OSWindow-SDL2/SDL_TextInputEvent.class.st
Labels: tests passed please review!

#10335 10334-Metaclass-should-be-able-to-answer-hasClassVarNamed
  src/Kernel-Tests-Extended/ClassTest.class.st
  src/Kernel-Tests/MetaClassTest.class.st
  src/Kernel/Metaclass.class.st
Labels: tests passed please review!

#10340 Cleanup correct casing
  src/Renraku/ClassDescription.extension.st
  src/Renraku/CompiledMethod.extension.st
  src/Renraku/PackageManifest.extension.st
  src/Renraku/RBLintRule.extension.st
  src/Renraku/RBParseTreeLintRule.extension.st
  src/Renraku/RBPatternBlockNode.extension.st
  src/Renraku/RBPatternMessageNode.extension.st
  src/Renraku/RBPatternMethodNode.extension.st
  src/Renraku/RBPatternPragmaNode.extension.st
  src/Renraku/RBPatternVariableNode.extension.st
  src/Renraku/RBProgramNode.extension.st
  src/Renraku/RBTransformationRule.extension.st
  src/Renraku/RGMethodDefinition.extension.st
  src/Renraku/RPackage.extension.st
  src/Renraku/TheManifestBuilder.extension.st
  src/Renraku/Trait.extension.st
Labels: tests passed please review!

#10338 10337 cleanup metacello core extensions should use correct casing
  src/Metacello-Core/BlockClosure.extension.st
  src/Metacello-Core/Collection.extension.st
  src/Metacello-Core/DateAndTime.extension.st
  src/Metacello-Core/Integer.extension.st
  src/Metacello-Core/MCRepository.extension.st
  src/Metacello-Core/Object.extension.st
  src/Metacello-Core/String.extension.st
  src/Metacello-Core/Symbol.extension.st
  src/Metacello-Core/UndefinedObject.extension.st
Labels: tests passed please review!

#10182 Rule to check class side #reset methods are in 'class initialization' protocol
  src/Renraku-Tests/ReClassSideResetMethodProtocolRuleTest.class.st
  src/Renraku/ReClassSideResetMethodProtocolRule.class.st
Labels: tests passed please review!

#10248 Release test for proper packages
  src/ReleaseTests/ProperClassCategorizationTest.class.st
  src/ReleaseTests/ProperManifestCategorizationTest.class.st
  src/ReleaseTests/ProperPackagesTest.class.st
Labels: tests passed please review!

#10349 10059-cannot-save-method-when-it-contains-a-breakpoint
  src/Reflectivity-Tools-Tests/BreakpointTest.class.st
  src/Reflectivity/Breakpoint.class.st
Labels: tests passed please review!

#10218 9922-RenderBugsTesttestForward-checks-for-timing-leads-to-timeouts-on-slow-CI
  src/Morphic-Tests/MorphicUIBugTest.class.st
  src/Morphic-Tests/RenderBugsTest.class.st
  src/Morphic-Tests/StickynessBugsTest.class.st
Labels: tests passed please review!

#10365 Fix Gofer-Core extensions should use correct casing / package name
  src/Gofer-Core/MCDictionaryRepository.extension.st
  src/Gofer-Core/MCDirectoryRepository.extension.st
  src/Gofer-Core/MCFileBasedRepository.extension.st
  src/Gofer-Core/MCRepository.extension.st
Labels: tests passed please review!

#10369 Fix Metacello extensions should use correct casing / package name
  src/Metacello-Cypress/MetacelloMCBaselineProject.extension.st
  src/Metacello-FileTree/MCFileTreeRepository.extension.st
  src/Metacello-MC/BlockClosure.extension.st
  src/Metacello-MC/Collection.extension.st
  src/Metacello-MC/GoferPackageReference.extension.st
  src/Metacello-MC/GoferReference.extension.st
  src/Metacello-MC/GoferResolvedReference.extension.st
  src/Metacello-MC/GoferVersionReference.extension.st
  src/Metacello-MC/MCDictionaryRepository.extension.st
  src/Metacello-MC/MCDirectoryRepository.extension.st
  src/Metacello-MC/MCFileBasedRepository.extension.st
  src/Metacello-MC/MCHttpRepository.extension.st
  src/Metacello-MC/MCRepository.extension.st
  src/Metacello-MC/MCVersionLoader.extension.st
  src/Metacello-MC/MCWorkingCopy.extension.st
  src/Metacello-MC/MetacelloAbstractPackageSpec.extension.st
  src/Metacello-MC/MetacelloGroupSpec.extension.st
  src/Metacello-MC/MetacelloMemberSpec.extension.st
  src/Metacello-MC/MetacelloProjectReferenceSpec.extension.st
  src/Metacello-MC/Object.extension.st
  src/Metacello-MC/String.extension.st
Labels: tests passed please review!

#10367 Fix Manifest-Core extensions should use correct casing / package name
  src/Manifest-Core/RBBrowserEnvironment.extension.st
  src/Manifest-Core/RBClassEnvironment.extension.st
  src/Manifest-Core/RBSelectorEnvironment.extension.st
  src/Manifest-Core/RBVariableEnvironment.extension.st
  src/Manifest-Core/RGClassDescriptionDefinition.extension.st
  src/Manifest-Core/RGMethodDefinition.extension.st
Labels: tests passed please review!

#10363 Fix Monticello extensions should use correct casing / package name
  src/Monticello/String.extension.st
  src/MonticelloFileTree-Core/MCFileBasedRepository.extension.st
  src/MonticelloFileTree-Core/MCMethodDefinition.extension.st
  src/MonticelloFileTree-Core/MCRepository.extension.st
  src/MonticelloFileTree-FileSystem-Utilities/FileReference.extension.st
  src/MonticelloFileTree-FileSystem-Utilities/FileSystemDirectoryEntry.extension.st
  src/MonticelloGUI/MCLazyVersionInfo.extension.st
Labels: tests passed please review!

#10352 10350-Backport-Pharo9-10059-cannot-save-method-when-it-contains-a-breakpoint
  src/Reflectivity-Tools-Tests/BreakpointTest.class.st
  src/Reflectivity/Breakpoint.class.st
Labels: tests passed please review!

#10357 Fix STONZnUrl source code problem
  src/STON-Core/STONZnUrl.class.st
  src/STON-Core/STONZnUrl.extension.st
Labels: tests passed please review!

#10355 10353-Backport-Pharo9-CI-ZnHTTPSTesttestGmailEncrypted-started-failing-on-the-CI-
  src/Zinc-HTTP/ZnClient.class.st
Labels: tests passed please review!

#10348 Forward porting the removal
  src/OSWindow-SDL2/OSSDL2BackendWindow.class.st
Labels: tests passed please review!

#10209 Remove class of the RBSelectorEnvirionment if there is no more selectors associated to the class
  src/Refactoring-Environment/RBBrowserEnvironment.class.st
  src/Refactoring-Environment/RBClassEnvironment.class.st
  src/Refactoring-Environment/RBSelectorEnvironment.class.st
  src/Refactoring-Environment/RBVariableEnvironment.class.st
  src/Refactoring-Tests-Environment/RBBrowserEnvironmentTest.class.st
Labels: tests passed please review!

#10351 rescue testForTiltedStickyness
  src/Morphic-Core/Morph.class.st
  src/Morphic-Tests/MorphTest.class.st
Labels: tests passed please review!

#10431 Behavior>>#allCallsOnIn: sends unimplemented methods
  src/System-Support/Behavior.extension.st
  src/System-Support/ClassDescription.extension.st
Labels: tests passed please review!

#10373 Cleanup UndefinedClassTest
  src/UndefinedClasses-Tests/ManifestUndefinedClassesTests.class.st
  src/UndefinedClasses-Tests/UndefinedClassTest.class.st
Labels: tests passed please review!

#10449 Cleanup newlines and blanks in "ExternalProjectLoader" packages
  src/ExternalProjectLoader/LoadableProject.class.st
Labels: tests passed please review!

#10443 Cleanup newlines and blanks in "EmergencyDebugger" packages
  src/EmergencyDebugger-Tests/EDDebuggingAPITest.class.st
  src/EmergencyDebugger-Tests/EDEmergencyDebuggerTest.class.st
  src/EmergencyDebugger-Tests/EDTest.class.st
  src/EmergencyDebugger/EDDebuggingAPI.class.st
  src/EmergencyDebugger/EDEmergencyDebugger.class.st
  src/EmergencyDebugger/EDREPLInterface.class.st
Labels: tests passed please review!

#10457 Cleanup newlines and blanks in "Flashback" packages
  src/Flashback-Decompiler-Tests/FBDExamples.class.st
  src/Flashback-Decompiler/FBDASTBuilder.class.st
  src/Flashback-Decompiler/FBDDecompiler.class.st
  src/Flashback-Decompiler/FBDOptimizedMessagesRewriter.class.st
Labels: tests passed please review!

#10447 Cleanup newlines and blanks in "Epicea" packages
  src/Epicea-Tests/EpAnnouncementsTest.class.st
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/Epicea-Tests/EpDisabledIntegrationTest.class.st
  src/Epicea-Tests/EpLogTest.class.st
  src/Epicea-Tests/EpMonitorIntegrationTest.class.st
  src/Epicea/CompiledMethod.extension.st
  src/Epicea/EpBehaviorCategoryChange.class.st
  src/Epicea/EpBehaviorChange.class.st
  src/Epicea/EpBehaviorCommentChange.class.st
  src/Epicea/EpBehaviorNameChange.class.st
  src/Epicea/EpCategoryChange.class.st
  src/Epicea/EpClassAddition.class.st
  src/Epicea/EpClassModification.class.st
  src/Epicea/EpClassRemoval.class.st
  src/Epicea/EpCodeChange.class.st
  src/Epicea/EpEvent.class.st
  src/Epicea/EpLog.class.st
  src/Epicea/EpLogEntriesComment.class.st
  src/Epicea/EpMethodChange.class.st
  src/Epicea/EpMethodModification.class.st
  src/Epicea/EpMethodRemoval.class.st
  src/Epicea/EpMonitor.class.st
  src/Epicea/EpProtocolChange.class.st
  src/Epicea/EpRBPropagateRefactoring.class.st
  src/Epicea/EpRefactoring.class.st
  src/Epicea/EpTraitAddition.class.st
  src/Epicea/EpTraitModification.class.st
  src/Epicea/EpTraitRemoval.class.st
  src/Epicea/RBRefactoring.extension.st
  src/Epicea/RGElementDefinition.extension.st
  src/EpiceaBrowsers-Tests/EpApplyPreviewerTest.class.st
  src/EpiceaBrowsers-Tests/EpApplyTest.class.st
  src/EpiceaBrowsers-Tests/EpCommentTest.class.st
  src/EpiceaBrowsers-Tests/EpHasImpactFilterTest.class.st
  src/EpiceaBrowsers-Tests/EpLostChangesDetectorTest.class.st
  src/EpiceaBrowsers-Tests/EpOmbuExporterTest.class.st
  src/EpiceaBrowsers-Tests/EpRevertTest.class.st
  src/EpiceaBrowsers/Date.extension.st
  src/EpiceaBrowsers/EpApplyPreviewer.class.st
  src/EpiceaBrowsers/EpApplyVisitor.class.st
  src/EpiceaBrowsers/EpCodeChange.extension.st
  src/EpiceaBrowsers/EpContentStringVisitor.class.st
  src/EpiceaBrowsers/EpFileLogNode.class.st
  src/EpiceaBrowsers/EpHasImpactVisitor.class.st
  src/EpiceaBrowsers/EpInverseVisitor.class.st
  src/EpiceaBrowsers/EpLogBrowserOperationFactory.class.st
  src/EpiceaBrowsers/EpLogBrowserOperationVisitor.class.st
  src/EpiceaBrowsers/EpLogBrowserPresenter.class.st
  src/EpiceaBrowsers/EpLogNode.class.st
  src/EpiceaBrowsers/EpLogNodeGraphPresenter.class.st
  src/EpiceaBrowsers/EpLostChangesDetector.class.st
  src/EpiceaBrowsers/EpMorphVisitor.class.st
  src/EpiceaBrowsers/EpNewStateVisitor.class.st
  src/EpiceaBrowsers/EpOldStateVisitor.class.st
  src/EpiceaBrowsers/EpPluggableFilter.class.st
  src/EpiceaBrowsers/EpRenameInstanceVariableRefactoring.extension.st
  src/EpiceaBrowsers/EpSettings.class.st
  src/EpiceaBrowsers/EpUnifiedBrowserPresenter.class.st
Labels: tests passed please review!

#10441 Cleanup newlines and blanks in "EmbeddedFreeType" packages
  src/EmbeddedFreeType-Tests/EmbeddedFreeTypeFontInstallerTest.class.st
  src/EmbeddedFreeType/EmbeddedFreeTypeFontDescription.class.st
  src/EmbeddedFreeType/EmbeddedFreeTypeFontInstaller.class.st
  src/EmbeddedFreeType/LucidaGrandeRegular.class.st
  src/EmbeddedFreeType/SourceCodeFonts.class.st
Labels: tests passed please review!

#10389 Added :ref to methodName for refactoring options
  src/Refactoring-Core/RBExtractMethodToComponentRefactoring.class.st
  src/Refactoring-Core/RBMoveMethodToClassSideRefactoring.class.st
  src/Refactoring-Core/RBRefactoring.class.st
  src/Refactoring2-Transformations-Tests/TSetUpRefactorings.trait.st
  src/SystemCommands-SourceCodeCommands/SycExtractMethodCommand.class.st
Labels: tests passed please review!

#10438 Fix completion of keyword selectors
  src/NECompletion-Tests/CompletionEngineTest.class.st
  src/Rubric/RubSmalltalkEditor.class.st
  src/Rubric/RubTextEditor.class.st
Labels: tests passed please review!

#10435 Reflectivity-Fix-Reify-Node-DynamicArray
  src/Reflectivity-Tests/ReflectiveMethodTest.class.st
  src/Reflectivity-Tests/ReflectivityExamples.class.st
  src/Reflectivity/RFReification.class.st
Labels: tests passed please review!

#10167 Adopt testNoUtilsMethods
  src/ReleaseTests/ProperMethodCategorizationTest.class.st
Labels: tests passed please review!

#10361 Fix Zinc extensions should use correct casing (package name)
  src/Zinc-HTTP/ZnUrl.extension.st
  src/Zinc-Resource-Meta-Core/Collection.extension.st
  src/Zinc-Resource-Meta-Core/String.extension.st
  src/Zinc-Resource-Meta-FileSystem/AbsolutePath.extension.st
  src/Zinc-Resource-Meta-FileSystem/AbstractFileReference.extension.st
  src/Zinc-Resource-Meta-FileSystem/ZnUrl.extension.st
  src/Zinc-Tests/ZnUrlTest.extension.st
Labels: tests passed please review!

#10434 Fix a rare case where the primitiveRegisterSurface fails without setting true or false.
  src/Athens-Cairo/AthensCairoSurface.class.st
Labels: tests passed please review!

#10463 Fix testIgnoreLongTestWhenItIsSuspendedAsUnderDebug
  src/SUnit-Tests/TestExecutionEnvironmentTest.class.st
Labels: tests passed please review!

#10171 Extend and align Method protocol rules and categorization release tests
  src/ReleaseTests/ProtocolConventionsTest.class.st
  src/Renraku/ReProperMethodProtocolNameForFileInOutRule.class.st
  src/Renraku/ReProperMethodProtocolNameForRemovalRule.class.st
Labels: tests passed please review!

#10470 Deprecated-message-testCreateClassWithFullExpandedDefinitionKeepsTheMinimum
  src/FluidClassBuilder-Tests/FluidClassBuilderTest.class.st
Labels: tests passed please review!, easyReview

#10225 10035 text anchors with morphs do not render in rubric
  src/Rubric-Tests/RubEditingAreaTest.class.st
  src/Rubric/RubAbstractTextArea.class.st
Labels: tests passed please review!

#10500 Cleanup newlines and blanks in "HeuristicCompletion" packages
  src/HeuristicCompletion-Model/CoASTResultSetBuilder.class.st
  src/HeuristicCompletion-Model/CoBeginsWithFilter.class.st
  src/HeuristicCompletion-Model/CoFetcher.class.st
  src/HeuristicCompletion-Model/CoStatistics.class.st
  src/HeuristicCompletion-Tests/CoFilterNarrowingComparisonTest.class.st
  src/HeuristicCompletion-Tests/CoMockASTResultSetBuilder.class.st
  src/HeuristicCompletion-Tests/CoMockClass.class.st
  src/HeuristicCompletion-Tests/CoMockFetcherToRecordResets.class.st
  src/HeuristicCompletion-Tests/CoMockMethod.class.st
  src/HeuristicCompletion-Tests/CoNarrowHistoryFetcherTest.class.st
Labels: tests passed please review!

#10390 Fix so that Rename Method refactoring does not start with a disabled text input
  src/SystemCommands-MessageCommands/SycAddMessageArgumentCommand.class.st
  src/SystemCommands-MessageCommands/SycChangeMessageSignatureCommand.class.st
  src/SystemCommands-RefactoringSupport/SycMethodNameEditorPresenter.class.st
Labels: tests passed please review!

#10498 Cleanup newlines and blanks in "Hermes" packages
  src/Hermes-Extensions/HEDuplicationModeStrategy.class.st
  src/Hermes/HEAdditionalMethodState.class.st
  src/Hermes/HEAssociation.class.st
  src/Hermes/HEBinaryReader.class.st
  src/Hermes/HEClassVariable.class.st
  src/Hermes/HEInstaller.class.st
  src/Hermes/HEMethodLiteral.class.st
  src/Hermes/HEPackage.class.st
  src/Hermes/HEPragma.class.st
  src/Hermes/HEScaledDecimal.class.st
Labels: tests passed please review!

#10518 fixes #10516: doing a ffi calll with ByteArray does not pins the object in memory
  src/ThreadedFFI-UFFI-Tests/TFUFFIDerivedTypeMarshallingTest.class.st
  src/ThreadedFFI/PointerUtils.class.st
  src/ThreadedFFI/TFOOPType.class.st
Labels: tests passed please review!

#10043 Smooth drag and drop2
  src/Calypso-Browser/ClyDataSource.class.st
  src/Calypso-Browser/ClyQueryViewMorph.class.st
  src/Calypso-SystemTools-FullBrowser-Tests/ClyQueryViewMorphShouldExpandTest.class.st
Labels: tests passed please review!

#10533 Cleanup newlines and blanks in "Jobs" packages
  src/Jobs/Job.class.st
Labels: tests passed please review!

#10537 [cleanup] fix comment for drag and drop setting
  src/Calypso-Browser/ClyQueryViewMorph.class.st
Labels: tests passed please review!

#10540 Cleanup newlines and blanks in "Keymapping" packages
  src/Keymapping-Core/KMBuffer.class.st
  src/Keymapping-Core/KMCategory.class.st
  src/Keymapping-Core/KMCategoryBinding.class.st
  src/Keymapping-Core/KMCategoryTarget.class.st
  src/Keymapping-Core/KMDispatcher.class.st
  src/Keymapping-Core/KMGlobalDispatcher.class.st
  src/Keymapping-Core/KMKeymap.class.st
  src/Keymapping-Core/KMShortcutPrinter.class.st
  src/Keymapping-KeyCombinations/KMKeyCombinationSequence.class.st
  src/Keymapping-KeyCombinations/KMModifiedKeyCombination.class.st
  src/Keymapping-KeyCombinations/KMNamedCharKeyCombination.class.st
  src/Keymapping-Pragmas/KMPragmaKeymapBuilder.class.st
  src/Keymapping-Settings/KMCatcherMorph.class.st
  src/Keymapping-Settings/SettingNodeBuilder.extension.st
  src/Keymapping-Tests/AbstractKeymappingTest.class.st
  src/Keymapping-Tests/KMShortcutPrinterTest.class.st
  src/Keymapping-Tests/KMShortcutTest.class.st
Labels: tests passed please review!
