Repository pharo-project/pharo, pull requests merged in 2022-10, with the labels that each got.

#11739 Removing the reification of TFSameThreadCall
  src/ThreadedFFI/TFSameThreadCall.class.st
  src/ThreadedFFI/TFSameThreadRunner.class.st
Labels: tests passed please review!

#11655 Fix "undo" operation erroneously removing the dirty flag when undo operation performed after saving
  src/Calypso-Browser/ClyTextEditorToolMorph.class.st
Labels: tests passed please review!

#11758 11753-Enhance-Breakpoint-API-with-enabled-method
  src/Reflectivity/Breakpoint.class.st
Labels: tests passed please review!

#11759 11671-MetaLinks-on-methods-with-no-return-statement-implicit-self-are-called-twice
  src/Reflectivity-Tests/ReflectivityReificationTest.class.st
  src/Reflectivity/RFASTTranslator.class.st
  src/Reflectivity/RFSemanticAnalyzer.class.st
  src/Reflectivity/ReflectiveMethod.class.st
Labels: tests passed please review!

#11700 Add a browser tool to see package dependencies
  src/BaselineOfDependencyAnalyzer/BaselineOfDependencyAnalyzer.class.st
  src/BaselineOfIDE/BaselineOfIDE.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageRelationGraphTest.class.st
  src/Tool-DependencyAnalyser-UI-Tab/DABrowserToolMorph.class.st
  src/Tool-DependencyAnalyser-UI-Tab/DATabPackageDependenciesPresenter.class.st
  src/Tool-DependencyAnalyser-UI-Tab/package.st
  src/Tool-DependencyAnalyser-UI/DAExtensionDependency.extension.st
  src/Tool-DependencyAnalyser-UI/DAInheritanceDependency.extension.st
  src/Tool-DependencyAnalyser-UI/DAPackageTreePresenter.class.st
  src/Tool-DependencyAnalyser-UI/DAPoolDictionaryDependency.extension.st
  src/Tool-DependencyAnalyser-UI/DAReferenceDependency.extension.st
  src/Tool-DependencyAnalyser-UI/DATraitDependency.extension.st
  src/Tool-DependencyAnalyser/DAPackage.class.st
  src/Tool-DependencyAnalyser/DAPackageRelationGraph.class.st
Labels: tests passed please review!

#11683 Add more executable comments for Collection
  src/Collections-Abstract/Collection.class.st
  src/Collections-Arithmetic/Collection.extension.st
Labels: tests passed please review!

#11768 Fixed resolving desktop file location
  src/FileSystem-Core/PlatformResolver.class.st
Labels: tests passed please review!

#11774 Multiline Executable Comments
  src/Calypso-SystemQueries/ClyLocalClassScope.class.st
  src/Collections-Abstract/Collection.class.st
  src/Collections-Abstract/SequenceableCollection.class.st
  src/Collections-Arithmetic/Collection.extension.st
  src/Collections-Unordered/Dictionary.class.st
  src/Colors/Color.class.st
  src/Debugging-Core/Context.extension.st
  src/DrTests-CommentsToTests-Tests/CommentsToTestsTest.class.st
  src/DrTests-CommentsToTests/DTCommentToTestPlugin.class.st
  src/Kernel/Point.class.st
  src/Math-Operations-Extensions/Integer.extension.st
  src/PharoDocComment-Tests/PharoDocCommentTest.class.st
  src/PharoDocComment/CommentTestCase.class.st
  src/PharoDocComment/DocCommentIconStyler.class.st
  src/PharoDocComment/Object.extension.st
  src/PharoDocComment/PharoDocCommentExpression.class.st
  src/PharoDocComment/PharoDocCommentNode.class.st
  src/PharoDocComment/SHRBTextStyler.extension.st
  src/System-Platforms/KeyboardKey.class.st
Labels: tests passed please review!

#11784 Syntactic check a single >>> on executable comments
  src/Kernel/AsciiCharset.class.st
  src/PharoDocComment-Tests/PharoDocCommentTest.class.st
  src/PharoDocComment/CommentTestCase.class.st
  src/PharoDocComment/DocCommentIconStyler.class.st
  src/PharoDocComment/Object.extension.st
  src/PharoDocComment/PharoDocCommentExpression.class.st
  src/PharoDocComment/SHRBTextStyler.extension.st
Labels: PharoDocComments

#11782 Reflectivity: more tests for multiple links
  src/Reflectivity-Tests/ReflectivityReificationTest.class.st
Labels: tests passed please review!

#11783 Categorize refactorings and transformations
  src/Refactoring-Core/RBAccessorClassRefactoring.class.st
  src/Refactoring-Core/RBCreateAccessorsForVariableRefactoring.class.st
  src/Refactoring-Core/RBCreateAccessorsWithLazyInitializationForVariableRefactoring.class.st
  src/Refactoring-Core/RBGenerateEqualHashRefactoring.class.st
  src/Refactoring-Core/RBGeneratePrintStringRefactoring.class.st
  src/Refactoring-Core/RBRefactoring.class.st
Labels: tests passed please review!

#11678 Odd PR builds use the the latest VM, else use the stable VM
  bootstrap/scripts/runKernelTests.sh
  bootstrap/scripts/runTests.sh
Labels: tests passed please review!

#11793 11792-FFIConstantHandleTest-calls-deprecated-method-FFIExternalReferencehandle
  src/UnifiedFFI-Tests/FFIConstantHandleTest.class.st
Labels: tests passed please review!

#11786 This adds an example and a test for Fluid Slot definitions
  src/Slot-Examples/ExampleSlotWithFluidAPI.class.st
  src/Slot-Tests/ExampleSlotWithFluidAPITest.class.st
Labels: tests passed please review!

#11780 CI: when getting pharo version/prefix on PR, do not use --first-parent
  bootstrap/scripts/envversion.sh
Labels: tests passed please review!

#11785 Pharo10: CI: when getting pharo version/prefix on PR, do not use --first-parent
  bootstrap/scripts/envversion.sh
Labels: tests passed please review!

#11771 Pharo11: 6191 find between substrings freezes the image
  src/Collections-Abstract-Tests/TAsStringCommaAndDelimiterTest.trait.st
  src/Collections-Strings-Tests/StringTest.class.st
  src/Collections-Strings/String.class.st
Labels: tests passed please review!

#11807 moved the condition creation from the calypso package to the breakpoint
  src/Calypso-SystemPlugins-Reflectivity-Browser-Tests/ClyAddConditionalBreakpointCommandTest.class.st
  src/Calypso-SystemPlugins-Reflectivity-Browser/ClyAddConditionalBreakpointCommand.class.st
  src/Reflectivity-Tools-Tests/BreakpointTest.class.st
  src/Reflectivity/Breakpoint.class.st
Labels: tests passed please review!

#11821 Adding removeKey:ifAbsent:
  src/Collections-Unordered-Tests/BagTest.class.st
  src/Collections-Unordered/Bag.class.st
Labels: tests passed please review!

#11829 add Collection>>atRandom:weighting: and cie and tests
  src/Random-Core/Collection.extension.st
  src/Random-Tests/CollectionTest.extension.st
Labels: tests passed please review!

#11827 Cleanup-asCollectionElement-ChunkFileFormatParser
  src/CodeImport/ChunkFileFormatParser.class.st
Labels: tests passed please review!, easyReview

#11828 Change `Apple Computer Inc.` to `Apple Inc.`
  LICENSE
Labels: tests passed please review!

#11788 ClassParser: CDVariableNode should use AST of the variable definition
  src/ClassParser-Tests/CDClassDefinitionParserTest.class.st
  src/ClassParser-Tests/CDCompiledMethodClassParserTest.class.st
  src/ClassParser-Tests/CDExistingClassDefinitionTest.class.st
  src/ClassParser-Tests/CDFluidClassParserTest.class.st
  src/ClassParser-Tests/RBSlotInitializationNodeTest.class.st
  src/ClassParser/CDAbstractClassDefinitionParser.class.st
  src/ClassParser/CDClassDefinitionNode.class.st
  src/ClassParser/CDFluidClassDefinitionParser.class.st
  src/ClassParser/CDSharedVariableNode.class.st
  src/ClassParser/CDVariableNode.class.st
  src/ClassParser/ShiftClassBuilder.extension.st
Labels: tests passed please review!
