Repository pharo-project/pharo, pull requests merged in 2023-12, with the labels that each got.

#15639 Change #OSWindowMorphicEventHandler>>visitMouseWheelEvent: to manage …
  src/OSWindow-Core/OSWindowMorphicEventHandler.class.st
Labels: Status: Tests passed please review!

#15645 Support removing old change sorter
  src/Tool-Registry/PharoCommonTools.class.st
  src/Tool-Registry/ToolRegistry.class.st
Labels: Type: Cleanup, Status: Tests passed please review!

#15649 Cleanup: move the methods for temps to the compiler package
  src/OpalCompiler-Core/BlockClosure.extension.st
  src/OpalCompiler-Core/CompiledMethod.extension.st
  src/Slot-Core/BlockClosure.extension.st
  src/Slot-Core/CompiledMethod.extension.st
Labels: Status: Tests passed please review!

#15650 use #valueWithReceiver: when possible
  src/BaselineOfPharo/BaselineOfPharo.class.st
  src/OpalCompiler-Tests/IRBuilderTest.class.st
  src/OpalCompiler-Tests/OCBytecodeDecompilerExamplesTest.class.st
  src/OpalCompiler-Tests/OCEnvironmentScopeTest.class.st
  src/ProfilerUI/ProfilerModel.class.st
  src/Reflectivity/RBMethodNode.extension.st
Labels: Status: Tests passed please review!

#15404 ExternalAddress: Avoid temporary instance of ByteArray
  src/FFI-Kernel/ExternalAddress.class.st
Labels: Status: Tests passed please review!

#15647 Add ScalingCanvas and #canvasScaleFactor for OSWorldRenderer
  src/FormCanvas-Core/FormCanvas.class.st
  src/Graphics-Canvas/ScalingCanvas.class.st
  src/Morphic-Core/ScalingCanvas.extension.st
  src/Morphic-Core/ScalingCanvasSavedPatch.class.st
  src/Morphic-Core/ShadowDrawingCanvas.extension.st
  src/OSWindow-Core/OSWindowFormRenderer.class.st
  src/OSWindow-Core/OSWorldRenderer.class.st
  src/Rubric/FormCanvas.extension.st
  src/Rubric/RubCharacterBlock.class.st
  src/Rubric/ScalingCanvas.extension.st
  src/System-DependenciesTests/SystemDependenciesTest.class.st
Labels: Status: Tests passed please review!

#15661 Fix a deprecated send in testComparisonToSimilarQueryButWithDifferentTag
  src/Calypso-SystemQueries-Tests/ClyMethodsInProtocolQueryTest.class.st
Labels: Status: Tests passed please review!

#15660 Add class comment as tooltip in Calypso.
  src/Calypso-SystemPlugins-InheritanceAnalysis-Browser/ClyAbstractClassTableDecorator.class.st
  src/Calypso-SystemTools-Core/ClyClassIconTableDecorator.class.st
  src/Calypso-SystemTools-Core/ClyClassTableDecorator.class.st
Labels: Status: Tests passed please review!

#15667 15665-Not-possible-to-edit-slots-when-using-new-definition-format--RBLiteralValueNode-DNU-name
  src/ClassParser-Tests/CDFluidClassParserTest.class.st
  src/ClassParser/CDFluidClassDefinitionParser.class.st
Labels: Status: Tests passed please review!

#15663 Merge package Shift-Changes into the main Shift-ClassBuilder package
  src/BaselineOfPharoBootstrap/BaselineOfPharoBootstrap.class.st
  src/BaselineOfShift/BaselineOfShift.class.st
  src/Shift-ClassBuilder-Tests/ShAbstractChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShClassSlotChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShLayoutChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShMetaclassChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShSharedPoolChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShSharedVariablesChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShSlotChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShSuperclassChangeDetectorTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftClassBuilderAbstractTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftClassBuilderTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftClassSideClassBuilderTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftClassSideTraitBuilderTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftTraitBuilderTest.class.st
  src/Shift-ClassBuilder-Tests/TViewModelMock.trait.st
  src/Shift-ClassBuilder-Tests/TViewModelMock2.trait.st
  src/Shift-ClassBuilder/CategoryConverter.class.st
  src/Shift-ClassBuilder/ClassResolver.class.st
  src/Shift-ClassBuilder/ClassResolverStrictResolve.class.st
  src/Shift-ClassBuilder/DangerousClassNotifier.class.st
  src/Shift-ClassBuilder/ShAbstractChange.class.st
  src/Shift-ClassBuilder/ShAbstractChangeDetector.class.st
  src/Shift-ClassBuilder/ShAbstractClassChangeDetector.class.st
  src/Shift-ClassBuilder/ShAbstractInstanceSideClassChangeDetector.class.st
  src/Shift-ClassBuilder/ShBitLayoutChangeDetector.class.st
  src/Shift-ClassBuilder/ShBitLayoutChanged.class.st
  src/Shift-ClassBuilder/ShClassChanged.class.st
  src/Shift-ClassBuilder/ShClassSlotChangeDetector.class.st
  src/Shift-ClassBuilder/ShDefaultBuilderEnhancer.class.st
  src/Shift-ClassBuilder/ShInstanceShapeChanged.class.st
  src/Shift-ClassBuilder/ShLayoutChangeDetector.class.st
  src/Shift-ClassBuilder/ShLayoutDefinition.class.st
  src/Shift-ClassBuilder/ShMetaclassChangeDetector.class.st
  src/Shift-ClassBuilder/ShMetaclassChanged.class.st
  src/Shift-ClassBuilder/ShNoChangesInClass.class.st
  src/Shift-ClassBuilder/ShSharedPoolChangeDetector.class.st
  src/Shift-ClassBuilder/ShSharedVariablesChangeDetector.class.st
  src/Shift-ClassBuilder/ShSlotChangeDetector.class.st
  src/Shift-ClassBuilder/ShSuperclassChangeDetector.class.st
  src/Shift-ClassBuilder/ShSuperclassChanged.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/Shift-ClassBuilder/ShiftClassSideBuilder.class.st
Labels: Status: Tests passed please review!

#15658 check if we can have WeakLayout as a subclass of VariableLayout
  src/Kernel/WeakLayout.class.st
  src/Slot-Tests/SlotBasicTest.class.st
Labels: Status: Tests passed please review!

#15659 reduce the senders of #asSlotCollection
  src/Traits-Tests/TraitOverloadingOfMethodsInTraitedClassTest.class.st
  src/Traits-Tests/TraitTest.class.st
  src/Traits-Tests/TraitWithSlotsTest.class.st
Labels: Status: Tests passed please review!

#15651 move error handling from CompiledMethod to CompiledCode and rename
  src/Kernel/CompiledCode.class.st
  src/Kernel/CompiledMethod.class.st
Labels: Status: Tests passed please review!

#15648 15640-Objectclone-has-code-for-CompiledCode
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel/Behavior.class.st
  src/Kernel/CompiledBlock.class.st
  src/Kernel/CompiledCode.class.st
  src/Kernel/Object.class.st
Labels: Status: Tests passed please review!

#15628 [WIP] Redo "Activate strict FFI""
  src/Athens-Cairo/AthensCairoCanvas.class.st
  src/Athens-Cairo/CairoFontMetricsProvider.class.st
  src/System-OSEnvironments/UnixEnvironment.class.st
  src/UnifiedFFI-Tests/FFICalloutAPITest.class.st
  src/UnifiedFFI/FFILibrary.class.st
  src/UnifiedFFI/FFIStrictResolutionMode.class.st
Labels: Status: Tests passed please review!

#15675 Refactor: extract method transformation cleanup
  src/Refactoring-Transformations/RBExtractMethodTransformation.class.st
Labels: Status: Tests passed please review!

#15696 Change to size_t for ffi calls that currently use ulong for pointers.
  src/Athens-Cairo/AthensCairoPath.class.st
  src/Athens-Cairo/AthensCairoPatternPaint.class.st
  src/Athens-Cairo/AthensCairoSurface.class.st
Labels: Status: Tests passed please review!

#15644 Add file out for Epicea entries
  src/CodeExport/ClassDescription.extension.st
  src/Epicea-Tests/EpEnabledIntegrationTest.class.st
  src/Epicea/EpClassAddition.class.st
  src/Epicea/EpClassModification.class.st
  src/Epicea/EpClassRemoval.class.st
  src/Epicea/EpMethodAddition.class.st
  src/Epicea/EpMethodModification.class.st
  src/Epicea/EpMethodRemoval.class.st
  src/Epicea/EpPackageAddition.class.st
  src/Epicea/EpPackageRemoval.class.st
  src/Epicea/EpPackageRename.class.st
  src/Epicea/EpPackageTagAddition.class.st
  src/Epicea/EpPackageTagRemoval.class.st
  src/Epicea/EpPackageTagRename.class.st
  src/Epicea/EpProtocolAddition.class.st
  src/Epicea/EpProtocolRemoval.class.st
  src/Epicea/EpTraitAddition.class.st
  src/Epicea/EpTraitModification.class.st
  src/Epicea/EpTraitRemoval.class.st
  src/Epicea/TestCase.extension.st
  src/EpiceaBrowsers-Tests/EpFileOutModificationsTest.class.st
  src/EpiceaBrowsers/EpChunkExporter.class.st
  src/EpiceaBrowsers/EpLogBrowserPresenter.class.st
  src/EpiceaBrowsers/EpOmbuExporter.class.st
  src/Ombu/OmEntry.class.st
Labels: Status: Tests passed please review!, Status: Discussion

#15685 Do not use #classVarNamed: / #classVarNamed:put:
  src/Fuel-Core-Tests/FLCompiledMethodSerializationTest.class.st
  src/Kernel-CodeModel/CompiledCode.class.st
  src/OSWindow-Core/OSKeySymbols.class.st
  src/OSWindow-Tests/OSWindowTest.class.st
  src/Reflectivity-Tests/ReflectivityControlTest.class.st
  src/Slot-Tests/ExampleClassVariableTest.class.st
  src/Specific-Rules-Tests/PharoBootstrapRuleTest.class.st
  src/UnifiedFFI/FFIStructure.class.st
Labels: Status: Tests passed please review!

#15702 Fix a ZeroDivide exception when scroll target is 0 calculating scroll deltas
  src/Morphic-Widgets-Scrolling/GeneralScrollPaneMorph.class.st
Labels: Type: Bug, Project: Graphics

#15706 use sharedPoolsFromString: in old style class defs and Hermes
  src/ClassParser/CDClassDefinitionNode.class.st
  src/Deprecated12/Class.extension.st
  src/Deprecated12/ClassFactoryForTestCase.extension.st
  src/Hermes/HEInstaller.class.st
  src/Monticello-Model/MCClassDefinition.class.st
Labels: Status: Tests passed please review!

#15629 Fix/baseline repo
  bootstrap/scripts/4-build.sh
  src/BaselineOfAthens/BaselineOfAthens.class.st
  src/BaselineOfBaseLibraries/BaselineOfBaseLibraries.class.st
  src/BaselineOfBasicTools/BaselineOfBasicTools.class.st
  src/BaselineOfCalypso/BaselineOfCalypso.class.st
  src/BaselineOfCommander/BaselineOfCommander.class.st
  src/BaselineOfExternalProjectLoader/BaselineOfExternalProjectLoader.class.st
  src/BaselineOfGeneralTests/BaselineOfGeneralTests.class.st
  src/BaselineOfIDE/BaselineOfIDE.class.st
  src/BaselineOfMorphic/BaselineOfMorphic.class.st
  src/BaselineOfMorphicCore/BaselineOfMorphicCore.class.st
  src/BaselineOfPharo/BaselineOfPharo.class.st
  src/BaselineOfQA/BaselineOfQA.class.st
  src/BaselineOfReflectivity/BaselineOfReflectivity.class.st
  src/BaselineOfRing/BaselineOfRing.class.st
  src/BaselineOfSUnit/BaselineOfSUnit.class.st
  src/BaselineOfSystemCommands/BaselineOfSystemCommands.class.st
  src/BaselineOfUI/BaselineOfUI.class.st
  src/Manifest-Core/ClassDescription.extension.st
  src/Manifest-Core/CompiledMethod.extension.st
  src/Metacello-Base/BaselineOf.class.st
  src/Metacello-Base/ConfigurationOf.class.st
  src/Metacello-Core/MetacelloBaselineConstructor.class.st
  src/Metacello-Core/MetacelloMCBaselineProject.class.st
  src/Metacello-Core/MetacelloProjectSpec.class.st
  src/Metacello-Core/MetacelloScriptEngine.class.st
  src/Monticello-Tests/PackageTest.extension.st
  src/Monticello/ClassDescription.extension.st
  src/Monticello/CompiledMethod.extension.st
  src/RPackage-Tests/PackageTest.class.st
Labels: Status: Need more work

#15713 Deprecate old API for traits
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/Traits-Tests/TraitFileOutTest.class.st
  src/Traits-Tests/TraitInTraitClassTest.class.st
  src/Traits-Tests/TraitMCDefinitionsTest.class.st
  src/Traits-Tests/TraitPrecedenceCompositionTest.class.st
  src/Traits/Metaclass.extension.st
Labels: Status: Tests passed please review!

#15712 15596-Cleanup-respondsTo-check-for-doItReceiver
  src/Rubric/RubSmalltalkEditor.class.st
Labels: Status: Tests passed please review!

#15710 refactor more #classPool users
  src/BaselineOfIDE/BaselineOfIDE.class.st
  src/BaselineOfMorphic/BaselineOfMorphic.class.st
  src/Kernel-Tests-Extended/UnicodeTest.class.st
  src/Multilingual-Encodings/Unicode.class.st
  src/OSWindow-SDL2/SDL_SystemCursorType.class.st
  src/Refactoring-Core-Tests/RBRefactoringBrowserTest.class.st
  src/Refactoring-Transformations-Tests/RBAbstractRefactoringTest.class.st
  src/Refactoring-Transformations-Tests/RBAbstractTransformationTest.class.st
Labels: Status: Tests passed please review!

#15692 simplify and comment #sharedVariablesFromString
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/Slot-Core/String.extension.st
  src/Slot-Tests/ClassVariableTest.class.st
Labels: Status: Tests passed please review!

#15693 Refactor: extract method third pass
  src/Refactoring-Core-Tests/RBAbstractConditionTest.class.st
  src/Refactoring-Core-Tests/RBMaxOneAssignmentWithReferencesConditionTest.class.st
  src/Refactoring-Core-Tests/RBNotInCascadedMessageConditionTest.class.st
  src/Refactoring-Core-Tests/RBParsableSubtreeConditionTest.class.st
  src/Refactoring-Core-Tests/RBSubtreeDoesNotContainReturnConditionTest.class.st
  src/Refactoring-Core-Tests/RBVariablesNotReadBeforeWrittenConditionTest.class.st
  src/Refactoring-Core/RBMaxOneAssignmentWithReferencesCondition.class.st
  src/Refactoring-Core/RBNotInCascadedMessageCondition.class.st
  src/Refactoring-Core/RBParsableSubtreeCondition.class.st
  src/Refactoring-Core/RBSubtreeCondition.class.st
  src/Refactoring-Core/RBSubtreeDoesNotContainReturnCondition.class.st
  src/Refactoring-Core/RBVariablesNotReadBeforeWrittenCondition.class.st
  src/Refactoring-Transformations-Tests/RBExtractMethodTransformationTest.class.st
  src/Refactoring-Transformations/RBExtractMethodTransformation.class.st
  src/SystemCommands-SourceCodeCommands/SycExtractMethodAndOccurrencesCommand.class.st
Labels: Status: Tests passed please review!

#15727 move ClassInstaller into the Builder package
  src/BaselineOfPharoBootstrap/BaselineOfPharoBootstrap.class.st
  src/BaselineOfShift/BaselineOfShift.class.st
  src/Kernel-CodeModel/ManifestKernelCodeModel.class.st
  src/Kernel/ManifestKernel.class.st
  src/Monticello-Model/ManifestMonticelloModel.class.st
  src/Shift-ClassBuilder-Tests/ShAnonymousClassInstallerTest.class.st
  src/Shift-ClassBuilder-Tests/ShClassInstallerAnnouncementsTest.class.st
  src/Shift-ClassBuilder-Tests/ShClassInstallerTest.class.st
  src/Shift-ClassBuilder-Tests/ShTestSlot.class.st
  src/Shift-ClassBuilder/Class.extension.st
  src/Shift-ClassBuilder/Metaclass.extension.st
  src/Shift-ClassBuilder/ShiftAnonymousClassInstaller.class.st
  src/Shift-ClassBuilder/ShiftClassInstaller.class.st
  src/Shift-ClassBuilder/SmalltalkImage.extension.st
  src/Shift-ClassInstaller/ManifestShiftClassInstaller.class.st
  src/Shift-ClassInstaller/Metaclass.extension.st
Labels: Status: Tests passed please review!

#15745 Harvested and improved some changes proposed in a PR that was also re…
  src/Collections-Sequenceable-Tests/OrderedDictionaryTest.class.st
  src/Collections-Sequenceable/OrderedDictionary.class.st
Labels: Status: Tests passed please review!

#15736 Rework #nonCachingFullDrawOn: on HandMorph to use a matching ScalingCanvas for the shadow form
  src/Athens-Morphic/AthensCanvasWrapper.class.st
  src/Graphics-Canvas/Canvas.class.st
  src/Graphics-Canvas/ScalingCanvas.class.st
  src/Graphics-Canvas/ShadowDrawingCanvas.class.st
  src/Morphic-Core/Canvas.extension.st
  src/Morphic-Core/HandMorph.class.st
  src/Morphic-Core/Morph.class.st
  src/Morphic-Core/ScalingCanvas.extension.st
Labels: Status: Tests passed please review!

#15747 ClassBuilder: cleanups and #hasSameDefinitionAs:
  src/Kernel-CodeModel/ClassVariable.class.st
  src/Kernel-Tests-Extended/ClassTest.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Shift-ClassBuilder/ShAbstractClassChangeDetector.class.st
  src/Shift-ClassBuilder/ShClassSlotChangeDetector.class.st
  src/Shift-ClassBuilder/ShLayoutDefinition.class.st
  src/Shift-ClassBuilder/ShSharedVariablesChangeDetector.class.st
  src/Shift-ClassBuilder/ShSlotChangeDetector.class.st
  src/Shift-ClassBuilder/ShiftClassInstaller.class.st
  src/Slot-Tests/SlotErrorsTest.class.st
  src/VariablesLibrary/AbstractInitializedClassVariable.class.st
Labels: Status: Tests passed please review!

#15743 Move-Slot-Exceptions
  src/Kernel-CodeModel/DuplicatedSlotName.class.st
  src/Kernel-CodeModel/IncompatibleLayoutConflict.class.st
  src/Kernel-CodeModel/InvalidSlotName.class.st
  src/Kernel-CodeModel/SlotNotFound.class.st
  src/Shift-ClassBuilder/CircularHierarchyError.class.st
  src/Shift-ClassBuilder/InvalidGlobalName.class.st
  src/Shift-ClassBuilder/ShNoChangesInClass.class.st
  src/Slot-Core/ClassBuilderError.class.st
Labels: Status: Tests passed please review!

#15757 Remove the empty package Slot-Core
  src/BaselineOfPharoBootstrap/BaselineOfPharoBootstrap.class.st
  src/BaselineOfSlot/BaselineOfSlot.class.st
  src/CodeExport/ManifestCodeExport.class.st
  src/Kernel-Tests/ManifestKernelTests.class.st
  src/Kernel/ManifestKernel.class.st
  src/Monticello-Model/ManifestMonticelloModel.class.st
  src/Slot-Core/ManifestSlotCore.class.st
Labels: Status: Tests passed please review!

#15760 15758-duplicateClassWithNewName-leads-to-wrong-packageTag
  src/Kernel-CodeModel/Class.class.st
  src/Shift-ClassBuilder-Tests/ShClassInstallerTest.class.st
  src/Shift-ClassBuilder/ShiftAnonymousClassInstaller.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/Shift-ClassBuilder/ShiftClassInstaller.class.st
Labels: Status: Tests passed please review!

#15763 Ring: Use Fluid syntax for definition string
  src/Ring-Core-Tests/RGClassStrategyTest.class.st
  src/Ring-Core-Tests/RGClassTest.class.st
  src/Ring-Core/RGBehavior.class.st
  src/Ring-Core/RGClassStrategy.class.st
Labels: Status: Tests passed please review!

#15765 ClassInstalle: clients can use #update:to: instead of #fillFor:
  src/Kernel-CodeModel/Class.class.st
  src/Kernel-Tests/ClassDescriptionTest.class.st
  src/Shift-ClassBuilder-Tests/ShClassInstallerAnnouncementsTest.class.st
  src/Traits-Tests/MethodAnnouncementsTest.extension.st
  src/Traits-Tests/ProtocolAnnouncementsTest.extension.st
  src/Traits-Tests/TraitTest.class.st
Labels: Status: Tests passed please review!

#15766 Ring: Migrate traits definition to fluid class syntax
  src/Ring-Core/RGClassStrategy.class.st
  src/Ring-Core/RGTraitStrategy.class.st
  src/Ring-Core/RGTraitV2Strategy.class.st
Labels: Status: Tests passed please review!

#15767 Fix: #hasSameDefinitionAs: for IndexedSlot
  src/Kernel-CodeModel/IndexedSlot.class.st
  src/Kernel-CodeModel/Slot.class.st
  src/Slot-Tests/SlotBasicTest.class.st
  src/VariablesLibrary/AbstractInitializedSlot.class.st
Labels: Status: Tests passed please review!

#15775 8055-RGClassStrategy-is-the-last-caller-of-definitionWithSlots
  src/Ring-Core/RGTraitV2Strategy.class.st
Labels: Easy, Status: Tests passed please review!

#15772 Allow using ProfilerPresenter on code blocks
  src/ProfilerUI/AndreasSystemProfiler.extension.st
  src/ProfilerUI/ProfilerModel.class.st
  src/ProfilerUI/StProfilerCodePresenter.class.st
  src/ProfilerUI/StProfilerInputPresenter.class.st
  src/ProfilerUI/StProfilerNumberInput.class.st
  src/ProfilerUI/StProfilerPresenter.class.st
  src/ProfilerUI/StProfilerResultsPresenter.class.st
  src/ProfilerUI/StProfilerToolbarButtonPresenter.class.st
  src/ProfilerUI/StProfilerToolbarPresenter.class.st
  src/ProfilerUI/StProfilerTreeTablePresenter.class.st
  src/ProfilerUI/TallyModel.class.st
  src/ProfilerUI/TallyModelAndreas.class.st
  src/ProfilerUI/TallyModelTime.class.st
  src/ProfilerUI/TimeProfiler.extension.st
Labels: Status: Tests passed please review!

#15784 some small cleanups related to ClassBuilder / ClassVariables
  src/ClassParser/CDSharedVariableNode.class.st
  src/Hermes/HEInstaller.class.st
  src/Monticello-Model/MCClassDefinition.class.st
  src/Refactoring-Core/RBNamespace.class.st
  src/Shift-ClassBuilder-Tests/ShClassInstallerTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftClassBuilderTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftTraitBuilderTest.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
Labels: Status: Tests passed please review!

#15785 15769-Backport-15767--Pharo11-Fix-hasSameDefinitionAs-for-IndexedSlot
  src/Kernel/IndexedSlot.class.st
  src/Kernel/Slot.class.st
  src/Slot-Tests/SlotBasicTest.class.st
  src/VariablesLibrary/AbstractInitializedSlot.class.st
Labels: Status: Tests passed please review!

#15786 15096-Backport-Pharo11-AdditionalMethodState-do-not-copy-the-AssociationsPragmas-when-growing-or-shrinking-15090
  src/Kernel-Tests/PragmaTest.class.st
  src/Kernel/AdditionalMethodState.class.st
Labels: Status: Tests passed please review!

#15787 ClassFactoryForTestCase #update:to:
  src/Deprecated12/ClassFactoryForTestCase.extension.st
  src/SUnit-Core/ClassFactoryForTestCase.class.st
  src/System-Changes-Tests/ChangeSetClassChangesTest.class.st
Labels: Status: Tests passed please review!

#15788 deprecate #anyUserOfClassVarNamed:
  src/Deprecated12/Class.extension.st
  src/Kernel-CodeModel/Class.class.st
  src/Kernel-Tests-Extended/ClassTest.class.st
Labels: Status: Tests passed please review!

#15781 Position temp definition before first occurrence of extracted expression, and always in outer scope (fixes #14611)
  src/AST-Core-Tests/RBParserTest.class.st
  src/AST-Core/RBProgramNode.class.st
  src/Refactoring-Core/RBExtractToTemporaryRefactoring.class.st
  src/Refactoring-DataForTesting/RBClassDataForRefactoringTest.class.st
  src/Refactoring-Transformations-Tests/RBExtractToTemporaryParametrizedTest.class.st
  src/Refactoring-Transformations/RBExtractToTemporaryTransformation.class.st
Labels: Status: Need more work

#15794 Remove ChangeSet
  bootstrap/scripts/emulation/shrink.st
  bootstrap/scripts/generateKernelHermesFiles.st
  bootstrap/scripts/generateSUnitHermesFiles.st
  bootstrap/scripts/generateTraitsHermesFiles.st
  src/BaselineOfBasicTools/BaselineOfBasicTools.class.st
  src/BaselineOfMorphic/BaselineOfMorphic.class.st
  src/CodeExport/ChangeSet.extension.st
  src/Kernel-CodeModel/Behavior.class.st
  src/Kernel-CodeModel/ClassDescription.class.st
  src/Kernel-CodeModel/Metaclass.class.st
  src/Monticello-Tests/MCMockDefinition.class.st
  src/MonticelloMocks/MCMock.class.st
  src/PharoBootstrap/PBBootstrap.class.st
  src/System-Changes-FileServices/ChangeSet.extension.st
  src/System-Changes-FileServices/package.st
  src/System-Changes-Tests/ChangeSet.extension.st
  src/System-Changes-Tests/ChangeSetClassChangesTest.class.st
  src/System-Changes-Tests/ClassRenameFixTest.class.st
  src/System-Changes-Tests/package.st
  src/System-Changes/ChangeSet.class.st
  src/System-Changes/ClassChangeRecord.class.st
  src/System-Changes/CurrentChangeSetChanged.class.st
  src/System-Changes/ManifestSystemChanges.class.st
  src/System-Changes/MethodChangeRecord.class.st
  src/System-FileRegistry/GZipReadStream.extension.st
  src/System-Support/SmalltalkImage.class.st
Labels: Status: Tests passed please review!

#15734 Unify packaging of Announcement>>#affects*
  src/Calypso-SystemQueries/Announcement.extension.st
  src/Calypso-SystemQueries/BreakpointAnnouncement.extension.st
  src/Calypso-SystemQueries/ClassAnnouncement.extension.st
  src/Calypso-SystemQueries/ClassRemoved.extension.st
  src/Calypso-SystemQueries/ClassRenamed.extension.st
  src/Calypso-SystemQueries/ClassRepackaged.extension.st
  src/Calypso-SystemQueries/MetalinkChanged.extension.st
  src/Calypso-SystemQueries/MethodAnnouncement.extension.st
  src/Calypso-SystemQueries/MethodModified.extension.st
  src/Calypso-SystemQueries/MethodRecategorized.extension.st
  src/Calypso-SystemQueries/MethodRepackaged.extension.st
  src/Calypso-SystemQueries/Package.extension.st
  src/Calypso-SystemQueries/PackageAnnouncement.extension.st
  src/Calypso-SystemQueries/PackageRenamed.extension.st
  src/Calypso-SystemQueries/PackageTagAnnouncement.extension.st
  src/Calypso-SystemQueries/ProtocolAnnouncement.extension.st
  src/Kernel-CodeModel/Package.class.st
  src/Reflectivity/BreakpointAnnouncement.class.st
  src/Reflectivity/MetalinkChanged.class.st
  src/System-Announcements/Announcement.extension.st
  src/System-Announcements/ClassAnnouncement.class.st
  src/System-Announcements/ClassRemoved.class.st
  src/System-Announcements/ClassRenamed.class.st
  src/System-Announcements/ClassRepackaged.class.st
  src/System-Announcements/MethodAnnouncement.class.st
  src/System-Announcements/MethodModified.class.st
  src/System-Announcements/MethodRecategorized.class.st
  src/System-Announcements/MethodRepackaged.class.st
  src/System-Announcements/PackageAnnouncement.class.st
  src/System-Announcements/PackageRenamed.class.st
  src/System-Announcements/PackageTagAnnouncement.class.st
  src/System-Announcements/ProtocolAnnouncement.class.st
Labels: Status: Tests passed please review!

#15813 Removing some quesk references
  src/Collections-Sequenceable-Tests/IntervalTest.class.st
  src/Fonts-Infrastructure/LogicalFont.class.st
  src/Fonts-Infrastructure/TextStyleAsFontFamilyMember.class.st
  src/Gofer-Core/Gofer.class.st
  src/Gofer-Tests/GoferApiTest.class.st
  src/Kernel-Tests/IntegerTest.class.st
  src/Kernel-Tests/NumberTest.class.st
  src/Monticello-Tests/MCRepositoryAuthorizationTest.class.st
Labels: Status: Tests passed please review!

#15746 Prevent logging exceptions twice when debugger is opened
  src/Debugger-Model/DebugSession.class.st
  src/Debugger-Model/DebuggerSettings.class.st
Labels: Status: Tests passed please review!, Project: Debugger, Status: Discussion

#15581 Shuffle tests
  bootstrap/scripts/runKernelTests.sh
  src/JenkinsTools-Core/HDTestReport.class.st
  src/JenkinsTools-Core/TestCommandLineHandler.class.st
  src/Kernel-CodeModel/Behavior.class.st
  src/Kernel/Number.class.st
  src/Math-Operations-Extensions/Number.extension.st
  src/PharoBootstrap/PBClassLoader.class.st
  src/PharoBootstrap/RGBehavior.extension.st
  src/PharoBootstrap/RGDoubleWordLayout.extension copy.st
  src/PharoBootstrap/RGDoubleWordLayout.extension.st
  src/Random-Core/SequenceableCollection.extension.st
  src/Ring-Core/RGBehavior.class.st
  src/Ring-Core/RGDoubleWordLayout.class.st
  src/SUnit-Core/TestSuite.class.st
  src/SUnit-Tests/Package.extension.st
Labels: Status: Need more work

#15822 Implements hierarchical senders system command
  src/BaselineOfSystemCommands/BaselineOfSystemCommands.class.st
  src/Calypso-SystemTools-Core/SycShowLocalSendersCommand.extension.st
  src/SystemCommands-MessageCommands-Tests/SycHierarchicalSendersCommandTest.class.st
  src/SystemCommands-MessageCommands-Tests/SycMockClassForHierarhicalSenderA.class.st
  src/SystemCommands-MessageCommands-Tests/SycMockClassForHierarhicalSenderB.class.st
  src/SystemCommands-MessageCommands-Tests/SycMockClassForHierarhicalSenderC.class.st
  src/SystemCommands-MessageCommands-Tests/package.st
  src/SystemCommands-MessageCommands/SycMessageDescription.class.st
  src/SystemCommands-MessageCommands/SycShowLocalSendersCommand.class.st
Labels: Status: Need more work

#15829 Another pass on rename variable driver with caro
  src/Refactoring-Core/RBAbstractTransformation.class.st
  src/Refactoring-Core/RBCompositeRefactoring.class.st
  src/Refactoring-Core/RBMoveMethodToClassSideRefactoring.class.st
  src/Refactoring-Core/RBPullUpMethodRefactoring.class.st
  src/Refactoring-Core/RBPushDownMethodRefactoring.class.st
  src/Refactoring-Core/RBRefactoring.class.st
  src/Refactoring-Core/RBRemoveClassRefactoring.class.st
  src/Refactoring-Core/RBRemoveInstanceVariableRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodsRefactoring.class.st
  src/Refactoring-Core/RBRemoveSharedVariableRefactoring.class.st
  src/Refactoring-Core/RBRenameMethodRefactoring.class.st
  src/Refactoring-Core/RBUpFrontPreconditionCheckingCompositeRefactoring.class.st
  src/Refactoring-UI-Tests/RBDriverTest.class.st
  src/Refactoring-UI-Tests/RBRemoveClassDriverTest.class.st
  src/Refactoring-UI-Tests/RBRenameInstanceVariableDriverTest.class.st
  src/Refactoring-UI-Tests/RBRenameSharedVariableDriverTest.class.st
  src/Refactoring-UI/RBInteractionDriver.class.st
  src/Refactoring-UI/RBRemoveClassDriver.class.st
  src/Refactoring-UI/RBRemoveInstanceVariablesDriver.class.st
  src/Refactoring-UI/RBRemoveMethodDriver.class.st
  src/Refactoring-UI/RBRemoveSharedVariablesDriver.class.st
  src/Refactoring-UI/RBRenameVariableDriver.class.st
  src/Refactoring-UI/StRefactoringPreviewPresenter.class.st
  src/Refactoring-UI/StRefactoringPreviewPresenterWithAutoAccept.class.st
Labels: Status: Need help

#15819 Fix Enlumineur Pretty Printer "One line messages" setting not showing options
  src/EnlumineurFormatter-Tests/EFContextTest.class.st
  src/EnlumineurFormatter/EFFormatter.class.st
Labels: Easy

#15864 Better Time class comment and tests
  src/Kernel-Tests/TimeTest.class.st
  src/Kernel/Time.class.st
Labels: Status: Tests passed please review!

#15868 Open class browser on Cmd/Ctrl B in the message brp
  src/Calypso-Browser/ClyDataSourceSelection.class.st
  src/Calypso-Browser/ClyQueryViewMorph.class.st
  src/Calypso-SystemTools-OldToolCompatibillity/ClyOldMessageBrowserAdapter.class.st
  src/Calypso-SystemTools-QueryBrowser/ClyQueryBrowserMorph.class.st
Labels: Project: Calypso

#15878 Replace UIManager progress bars with Job
  src/Compression/ZipArchive.class.st
  src/EpiceaBrowsers/EpLogBrowserPresenter.class.st
  src/Jobs/Collection.extension.st
  src/Jobs/String.extension.st
  src/MonticelloRemoteRepositories/MCHttpRepository.class.st
  src/System-Settings-Browser/SettingBrowser.class.st
Labels: Type: Cleanup

#15879 Fix Add argument refactoring failing in class side methods
  src/SystemCommands-MessageCommands/SycChangeMessageSignatureCommand.class.st
Labels: Type: Bug, Project: Refactorings
