Repository pharo-project/pharo, pull requests merged in 2023-09, with the labels that each got.

#14565 Monticello: Announce MethodAdded when compiling a method whose prior method is from a different origin
  src/Kernel/ClassDescription.class.st
  src/Monticello/MethodAddition.class.st
  src/RPackage-Tests/RPackageTraitTest.class.st
Labels: tests passed please review!

#14551 RPackage: Unify creation of packages from extension protocols
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14566 RPackage: Simplify method additions in tests
  src/RPackage-Tests/RPackageCompleteSetupButForModificationTest.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/RPackage-Tests/RPackageObsoleteTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/RPackage-Tests/RPackageTraitTest.class.st
Labels: tests passed please review!

#14512 Increase usage of new API in MCOrganizationDefinition
  src/Monticello-Tests/MCStWriterTest.class.st
  src/Monticello/MCOrganizationDefinition.class.st
  src/Monticello/MCPackage.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/Monticello/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
Labels: tests passed please review!

#14581 RPackage: clean API of RPackage
  src/Calypso-SystemQueries-Tests/ClyAllClassGroupsQueryTest.class.st
  src/Calypso-SystemQueries/RPackage.extension.st
  src/Deprecated12/RPackage.extension.st
  src/Monticello-Tests/RPackageExtensionMethodsSynchronisationTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageSet.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/ReleaseTests/ProperPackagesTest.class.st
  src/Renraku/RePackageManifestShouldBePackagedInManifestTagRule.class.st
Labels: tests passed please review!

#14584 Gofer: Remove update of categories
  src/Gofer-Core/GoferLoad.class.st
  src/Metacello-Core/MetacelloPlatform.class.st
  src/Metacello-MC/MetacelloGoferLoad.class.st
  src/Metacello-TestsMC/MetacelloDictionaryRepositoryTest.class.st
  src/Metacello-TestsMC/MetacelloIssueTestCase.class.st
  src/Metacello-TestsMC/MetacelloScriptingStdTstHarnessTestCase.class.st
Labels: tests passed please review!

#14579 RPackage: simplify class removal
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
Labels: tests passed please review!

#14590 RPackage: Remove empty tag while removing its last class
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
Labels: tests passed please review!

#14591 RPackage: Remove in image users of MCOrganizationDefinition categories
  src/Gofer-Tests/GoferResource.class.st
  src/Monticello-Tests/MCOrganizationTest.class.st
  src/Monticello-Tests/MCRepositoryTest.class.st
  src/Monticello-Tests/RPackageMonticelloSynchronisationTest.class.st
  src/Monticello/MCOrganizationDefinition.class.st
  src/Monticello/MCStReader.class.st
  src/Monticello/MCSystemCategoryParser.class.st
  src/Ring-Definitions-Tests-Monticello/RGMonticelloTest.class.st
Labels: tests passed please review!

#14572 Remove unused instance variables and methods from CharacterScanner and RubCharacterScanner hierarchies
  src/Athens-Morphic/AthensDisplayScanner.class.st
  src/FormCanvas-Core/FormCanvas.class.st
  src/Morphic-Base/GrafPort.extension.st
  src/Rubric/FormCanvas.extension.st
  src/Rubric/GrafPort.extension.st
  src/Rubric/RubCharacterScanner.class.st
  src/Rubric/RubDisplayScanner.class.st
  src/Rubric/RubEncryptedDisplayScanner.class.st
  src/Text-Scanning/BitBltDisplayScanner.class.st
  src/Text-Scanning/CharacterScanner.class.st
  src/Text-Scanning/CompositionScanner.class.st
  src/Text-Scanning/DisplayScanner.class.st
Labels: tests passed please review!

#14606 Monticello: try to fix flacky test
  src/Monticello-Tests/MCSnapshotTest.class.st
Labels: tests passed please review!

#14609 Monticello: avoid double loading of class definition
  src/Monticello/MCPackageLoader.class.st
Labels: tests passed please review!

#14610 Make unwind more flexible
  src/Instrumentation/BlockClosure.extension.st
  src/Kernel/BlockClosure.class.st
  src/Kernel/Context.class.st
  src/Reflectivity/BlockClosure.extension.st
Labels: tests passed please review!

#14608 Kernel: Speedup #isObsolete
  src/Kernel/Class.class.st
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
Labels: tests passed please review!

#14620 Metacello: Remove unused tests resources
  src/BaselineOfMetacello/BaselineOfMetacello.class.st
  src/Metacello-TestsMC/Gofer.extension.st
  src/Metacello-TestsMC/MCRepositoryGroup.extension.st
  src/Metacello-TestsMC/MetacelloBasicScriptingTestCase.class.st
  src/Metacello-TestsMC/MetacelloDictionaryRepositoryTest.class.st
  src/Metacello-TestsMC/MetacelloExternalScriptingTestCase.class.st
  src/Metacello-TestsMC/MetacelloIssueTestCase.class.st
  src/Metacello-TestsMC/MetacelloScriptingStdTstHarnessTestCase.class.st
  src/Metacello-TestsMC/MetacelloScriptingTestCase.class.st
  src/Metacello-TestsMC/MetacelloTestsGoferUnload.class.st
  src/Metacello-TestsMC/package.st
  src/Metacello-TestsMCResources/MetacelloAlternateResource.class.st
  src/Metacello-TestsMCResources/MetacelloAtomicConfigurationResource.class.st
  src/Metacello-TestsMCResources/MetacelloAtomicMonticelloResource.class.st
  src/Metacello-TestsMCResources/MetacelloConfigurationResource.class.st
  src/Metacello-TestsMCResources/MetacelloExampleProjectConfig.class.st
  src/Metacello-TestsMCResources/MetacelloIssue108Resource.class.st
  src/Metacello-TestsMCResources/MetacelloMCTestsAbstractConfig.class.st
  src/Metacello-TestsMCResources/MetacelloMonticelloResource.class.st
  src/Metacello-TestsMCResources/MetacelloScriptingResource.class.st
  src/Metacello-TestsMCResources/package.st
Labels: tests passed please review!

#14622 Kernel: Remove category at class removal
  src/ClassParser-Tests/ASTClassBuilderTest.class.st
  src/Kernel-Tests-Extended/ClassTest.class.st
  src/Kernel/Class.class.st
  src/Refactoring-Changes/RBAddClassChange.class.st
  src/Refactoring-Changes/RBAddTraitChange.class.st
  src/Shift-ClassInstaller/ShiftClassInstaller.class.st
  src/System-Support/SystemDictionary.class.st
Labels: tests passed please review!

#14612 Refactor: remove method/methods/hierarchy refactoring
  src/Calypso-SystemTools-Core/SycRemoveMethodsInHierarchyCommand.extension.st
  src/Refactoring-Core/RBInlineAllSendersRefactoring.class.st
  src/Refactoring-Core/RBRemoveHierarchyMethodRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodsInHierarchyRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodsRefactoring.class.st
  src/Refactoring-DataForTesting/RBBasicLintRuleTestData.class.st
  src/Refactoring-UI/RBRemoveMethodDriver.class.st
  src/Refactoring2-Transformations-Tests/RBComposeParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveHierarchyMethodParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveMethodParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveMethodRefactoringTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveMethodsInHierarchyRefactoringTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveMethodsRefactoringTest.class.st
  src/Refactoring2-Transformations/RBRemoveHierarchyMethodTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveMethodTransformation.class.st
  src/SystemCommands-MethodCommands/SycRemoveHierarchyMethodCommand.class.st
  src/SystemCommands-MethodCommands/SycRemoveMethodsInHierarchyCommand.class.st
Labels: tests passed please review!

#14613 Make unwind complete the second temporary
  src/Kernel/Context.class.st
Labels: tests passed please review!

#14621 Monticello: Do not use constructors with dizaines of paramaters in MCClassDescription
  src/Gofer-Tests/GoferResource.class.st
  src/Monticello-Tests/MCClassDefinitionTest.class.st
  src/Monticello-Tests/MCSortingTest.class.st
  src/Monticello-Tests/MCStWriterTest.class.st
  src/Monticello-Tests/MCTestCase.class.st
  src/Monticello/Class.extension.st
  src/Monticello/MCClassDefinition.class.st
  src/Monticello/MCStReader.class.st
  src/MonticelloFileTree-Core/MCFileTreeStCypressReader.class.st
  src/Ring-Monticello/RGClassStrategy.extension.st
  src/Ring-Monticello/RGTraitV2Strategy.extension.st
Labels: tests passed please review!

#14623 RPackage: Update class category in class builder
  src/Kernel/Class.class.st
  src/Shift-ClassInstaller/ShiftClassInstaller.class.st
Labels: tests passed please review!

#14636 RPackage: simplify package renaming
  src/Kernel/Class.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
Labels: tests passed please review!

#14638 Monticello: Speedup working copies lookup
  src/Monticello/MCWorkingCopy.class.st
Labels: tests passed please review!

#14639 RPackahe: Clean usage of packages instance variable
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
Labels: tests passed please review!

#14642 RPackage: Do not use categories API in trait tests
  src/TraitsV2-Tests/TraitFileOutTest.class.st
  src/TraitsV2-Tests/TraitsResource.class.st
  src/TraitsV2-Tests/TraitsTestCase.class.st
Labels: tests passed please review!

#14643 RPackage: Decrease the usage of categories in tests
  src/Monticello-Tests/RPackageCategorySynchronisationTest.class.st
  src/Monticello-Tests/RPackageClassesSynchronisationTest.class.st
  src/Monticello-Tests/RPackageExtensionMethodsSynchronisationTest.class.st
  src/Monticello-Tests/RPackageMCSynchronisationTest.class.st
  src/Monticello-Tests/RPackageMethodsSynchronisationTest.class.st
  src/Monticello-Tests/RPackageTraitSynchronisationTest.class.st
  src/RPackage-Core/String.extension.st
  src/RPackage-Tests/RPackageOrganizerAndSystemOrganizeSynchTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/Ring-Definitions-Containers/String.extension.st
  src/Ring-Definitions-Tests-Containers/RGContainerTest.class.st
Labels: tests passed please review!

#14647 Fix #14645. Calling one time instead of two times.
  src/Refactoring-Core/RBNamespace.class.st
Labels: tests passed please review!

#14651 Monticello: Add package and tag in class definition and start to migrate to it
  src/Gofer-Tests/GoferResource.class.st
  src/Monticello-Tests/MCClassDefinitionTest.class.st
  src/Monticello-Tests/MCTestCase.class.st
  src/Monticello/Class.extension.st
  src/Monticello/MCClassDefinition.class.st
  src/Monticello/MCDataStream.class.st
  src/Monticello/MCMczWriter.class.st
  src/Monticello/MCStReader.class.st
  src/Monticello/MCTraitDefinition.class.st
  src/Monticello/MCTraitParser.class.st
  src/Monticello/MCVersionReader.class.st
  src/Monticello/Trait.extension.st
  src/MonticelloFileTree-Core/MCFileTreeStCypressReader.class.st
  src/Ring-Monticello/RGClassStrategy.extension.st
  src/Ring-Monticello/RGTraitV2Strategy.extension.st
Labels: tests passed please review!

#14652 Remove dead code in HDReport
  src/JenkinsTools-Core/HDReport.class.st
Labels: tests passed please review!

#14653 Monticello: update MCClassTraitDefinition to follow changes of MCClassDefinition
  src/Monticello/MCClassTraitDefinition.class.st
  src/Monticello/MCClassTraitParser.class.st
  src/Monticello/MetaclassForTraits.extension.st
  src/MonticelloFileTree-Core/MCFileTreeStCypressReader.class.st
Labels: tests passed please review!

#14571 Remove some unused methods from StrikeFont, FixedFaceFont, GrafPort and BitBlt
  src/Graphics-Fonts/BitBlt.extension.st
  src/Graphics-Fonts/FixedFaceFont.class.st
  src/Graphics-Fonts/GrafPort.extension.st
  src/Graphics-Fonts/StrikeFont.class.st
Labels: tests passed please review!

#14662 add support for libgit2 1.7 in Linux
  src/BaselineOfPharo/BaselineOfPharo.class.st
Labels: more-information-needed

#14655 Make finalization registry entry removal O(1) -- backport P11
  src/Announcements-Core-Tests/WeakAnnouncerTest.class.st
  src/System-Finalization-Tests/FinalizationRegistryEntryTest.class.st
  src/System-Finalization/FinalizationRegistry.class.st
  src/System-Finalization/FinalizationRegistryEntry.class.st
  src/Tests/ObjectFinalizerTest.class.st
Labels: Need more work

#14629 Minimize the direct references to Transcript
  src/EnlumineurFormatter-Tests/EFBenchTest.class.st
  src/EnlumineurFormatter-Tests/EFLiteralValueExpressionTest.class.st
  src/MonticelloConfigurations/MCConfiguration.class.st
  src/Morphic-Core/WorldState.class.st
  src/Network-Kernel/Socket.class.st
  src/Network-Protocols/ProtocolClient.class.st
  src/Polymorph-Widgets/MorphicUIManager.class.st
  src/Refactoring-DataForTesting/RBClassDataForRefactoringTest.class.st
  src/Refactoring2-Transformations-Tests/RBAddParameterParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBInlineMethodParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveAllMessageSendsTransformationTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveSenderMethodParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBTransformationsTest.class.st
  src/SUnit-Core/TestAsserter.class.st
  src/SUnit-Core/TestCase.class.st
  src/Tool-ProcessBrowser/ProcessBrowser.class.st
  src/Zinc-HTTP/ZnLoggingReadStream.class.st
  src/Zinc-HTTP/ZnUtils.class.st
Labels: tests passed please review!

#14671 Use basicCategory in Ring instead of category
  src/Epicea/Class.extension.st
  src/Epicea/TestCase.extension.st
  src/Kernel/Class.class.st
  src/Ring-Definitions-Core/Class.extension.st
  src/Ring-Definitions-Core/Trait.extension.st
Labels: tests passed please review!

#14676 Kernel: Make sure category is never nil
  src/Kernel/Class.class.st
  src/Shift-ClassBuilder/ClassResolver.class.st
  src/Shift-ClassBuilder/ClassResolverStrictResolve.class.st
  src/Shift-ClassBuilder/DangerousClassNotifier.class.st
  src/Shift-ClassBuilder/ShDefaultBuilderEnhancer.class.st
  src/Shift-ClassBuilder/ShLayoutDefinition.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/Shift-ClassBuilder/package.st
  src/Shift-ClassInstaller/Class.extension.st
  src/Shift-ClassInstaller/ManifestShiftClassInstaller.class.st
  src/Shift-ClassInstaller/Metaclass.extension.st
  src/Shift-ClassInstaller/ShiftAnonymousClassInstaller.class.st
  src/Shift-ClassInstaller/ShiftClassInstaller.class.st
  src/Shift-ClassInstaller/SmalltalkImage.extension.st
  src/Shift-ClassInstaller/package.st
Labels: tests passed please review!

#14692 RPackage: cleanings now that SystemOrganizer is removed
  src/Deprecated12/RPackageOrganizer.extension.st
  src/FluidClassBuilder-Tests/FluidClassBuilderAbstractTest.class.st
  src/FluidClassBuilder-Tests/FluidClassBuilderTest.class.st
  src/FluidClassBuilder-Tests/FluidClassSideClassBuilderTest.class.st
  src/FluidClassBuilder-Tests/FluidClassSideTraitBuilderTest.class.st
  src/FluidClassBuilder-Tests/FluidTraitBuilderTest.class.st
  src/FluidClassBuilder-Tests/TViewModelMock.trait.st
  src/FluidClassBuilder-Tests/TViewModelMock2.trait.st
  src/FluidClassBuilder-Tests/package.st
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel-Tests/ClassDescriptionTest.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageRenameTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
  src/TraitsV2-Tests/TraitFileOutTest.class.st
Labels: tests passed please review!

#14702 Shift: Add tests and fix bugs in the change detectors
  src/BaselineOfShift/BaselineOfShift.class.st
  src/BaselineOfShift/package.st
  src/Shift-Changes-Tests/ShAbstractChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShClassSlotChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShLayoutChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShMetaclassChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShSharedPoolChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShSharedVariablesChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShSlotChangeDetectorTest.class.st
  src/Shift-Changes-Tests/ShSuperclassChangeDetectorTest.class.st
  src/Shift-Changes-Tests/package.st
  src/Shift-Changes/ShAbstractChange.class.st
  src/Shift-Changes/ShAbstractChangeDetector.class.st
  src/Shift-Changes/ShAbstractClassChangeDetector.class.st
  src/Shift-Changes/ShAbstractInstanceSideClassChangeDetector.class.st
  src/Shift-Changes/ShBitLayoutChangeDetector.class.st
  src/Shift-Changes/ShBitLayoutChanged.class.st
  src/Shift-Changes/ShClassChanged.class.st
  src/Shift-Changes/ShClassSlotChangeDetector.class.st
  src/Shift-Changes/ShInstanceShapeChanged.class.st
  src/Shift-Changes/ShLayoutChangeDetector.class.st
  src/Shift-Changes/ShMetaclassChangeDetector.class.st
  src/Shift-Changes/ShMetaclassChanged.class.st
  src/Shift-Changes/ShNoChangesInClass.class.st
  src/Shift-Changes/ShSharedPoolChangeDetector.class.st
  src/Shift-Changes/ShSharedVariablesChangeDetector.class.st
  src/Shift-Changes/ShSlotChangeDetector.class.st
  src/Shift-Changes/ShSuperclassChangeDetector.class.st
  src/Shift-Changes/ShSuperclassChanged.class.st
  src/Shift-Changes/ShSuperclassChangedDetector.class.st
  src/Shift-Changes/package.st
  src/Shift-ClassBuilder/ShDefaultBuilderEnhancer.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/Shift-ClassInstaller/ShiftClassInstaller.class.st
  src/TraitsV2/ShiftClassBuilder.extension.st
  src/TraitsV2/TraitBuilderEnhancer.class.st
Labels: tests passed please review!

#14712 Reflectivity cleaning and comments
  src/Reflectivity-Tests/ASTCacheResetTest.class.st
  src/Reflectivity-Tests/Breakpoint.extension.st
  src/Reflectivity-Tests/CoverageDemoTest.class.st
  src/Reflectivity-Tests/GlobalForTesting.class.st
  src/Reflectivity-Tests/LinkInstallerTest.class.st
  src/Reflectivity-Tests/ManifestReflectivityTests.class.st
  src/Reflectivity-Tests/MetaLinkAnonymousClassBuilder.extension.st
  src/Reflectivity-Tests/MetaLinkAnonymousClassBuilderTest.class.st
  src/Reflectivity-Tests/MetaLinkObjectAPITest.class.st
  src/Reflectivity-Tests/MetaLinkRegistryTest.class.st
  src/Reflectivity-Tests/MetaLinkTest.class.st
  src/Reflectivity-Tests/ReflectiveMethodTest.class.st
  src/Reflectivity-Tests/ReflectivityControlTest.class.st
  src/Reflectivity-Tests/ReflectivityExamples.class.st
  src/Reflectivity-Tests/ReflectivityExamples2.class.st
  src/Reflectivity-Tests/ReflectivityExamples2Subclass.class.st
  src/Reflectivity-Tests/ReflectivityReificationTest.class.st
  src/Reflectivity-Tests/ReflectivityTest.class.st
  src/Reflectivity-Tests/ReflectivityTestCase.class.st
  src/Reflectivity-Tests/VariableBreakpointMockClass.class.st
  src/Reflectivity-Tests/VariableBreakpointMockSubclass.class.st
  src/Reflectivity-Tests/VariableBreakpointTest.class.st
  src/Reflectivity-Tests/package.st
  src/Reflectivity/Breakpoint.class.st
  src/Reflectivity/BreakpointAdded.class.st
  src/Reflectivity/BreakpointAnnouncement.class.st
  src/Reflectivity/BreakpointHit.class.st
  src/Reflectivity/BreakpointRemoved.class.st
Labels: Enhancement, easyReview

#14717 RPackage: Some cleanings
  src/Deprecated12/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
Labels: tests passed please review!

#14716 RPackage: #removeTag: should remove contained classes
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
Labels: tests passed please review!

#14724 Kernel: Clean method removal (Protocol and Method announcements improvements)
  src/Epicea/EpMonitor.class.st
  src/Kernel-Tests/AbstractClassDescriptionTest.class.st
  src/Kernel-Tests/ClassDescriptionProtocolsTest.class.st
  src/Kernel-Tests/MethodAnnouncementsTest.class.st
  src/Kernel-Tests/ProtocolAnnouncementsTest.class.st
  src/Kernel/ClassDescription.class.st
  src/Manifest-Core/Class.extension.st
  src/Manifest-Core/ClassDescription.extension.st
  src/Manifest-Core/ClassTestCase.extension.st
  src/Manifest-Core/CompiledMethod.extension.st
  src/Manifest-Core/ManifestManifestCore.class.st
  src/Manifest-Core/Metaclass.extension.st
  src/Manifest-Core/RBBrowserEnvironment.extension.st
  src/Manifest-Core/RBClassEnvironment.extension.st
  src/Manifest-Core/RBCompositeLintRule.extension.st
  src/Manifest-Core/RBLintRule.extension.st
  src/Manifest-Core/RBMultiEnvironment.extension.st
  src/Manifest-Core/RBPackageEnvironment.extension.st
  src/Manifest-Core/RBSelectorEnvironment.extension.st
  src/Manifest-Core/RBTransformationRule.extension.st
  src/Manifest-Core/RBVariableEnvironment.extension.st
  src/Manifest-Core/RGClassDescriptionDefinition.extension.st
  src/Manifest-Core/RGMetaclassDefinition.extension.st
  src/Manifest-Core/RGMethodDefinition.extension.st
  src/Manifest-Core/RGPackageDefinition.extension.st
  src/Manifest-Core/RPackage.extension.st
  src/Manifest-Core/RPackageTag.extension.st
  src/Manifest-Core/TheManifestBuilder.class.st
  src/Manifest-Core/package.st
  src/Monticello-Tests/MCWorkingCopyManagementTest.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/Ring-Core/RGEnvironmentAnnouncer.class.st
  src/System-Announcements/MethodRemoved.class.st
  src/System-Announcements/SystemAnnouncer.class.st
  src/TraitsV2/TraitChange.class.st
Labels: Reviewed and Ready to Integrate

#14727 Symbol>>#asAnnouncement should be an extension
  src/Announcements-Core/AbstractAnnouncementSubscription.class.st
  src/Announcements-Core/Announcement.class.st
  src/Announcements-Core/AnnouncementDeliveryCondition.class.st
  src/Announcements-Core/AnnouncementSet.class.st
  src/Announcements-Core/AnnouncementSetWithExclusions.class.st
  src/Announcements-Core/AnnouncementSubscription.class.st
  src/Announcements-Core/Announcer.class.st
  src/Announcements-Core/ManifestAnnouncementsCore.class.st
  src/Announcements-Core/SubscriptionRegistry.class.st
  src/Announcements-Core/Symbol.extension.st
  src/Announcements-Core/WeakAnnouncementSubscription.class.st
  src/Announcements-Core/WeakSubscriptionBuilder.class.st
  src/Announcements-Core/package.st
  src/Collections-Strings/ByteString.class.st
  src/Collections-Strings/ByteSymbol.class.st
  src/Collections-Strings/ManifestCollectionsStrings.class.st
  src/Collections-Strings/String.class.st
  src/Collections-Strings/Symbol.class.st
  src/Collections-Strings/WideString.class.st
  src/Collections-Strings/WideSymbol.class.st
  src/Collections-Strings/package.st
Labels: Cleanup

#14736 Clean some tests
  src/Kernel/Class.class.st
  src/Shift-Changes-Tests/ShAbstractChangeDetectorTest.class.st
  src/Shift-ClassInstaller-Tests/ShAnonymousClassInstallerTest.class.st
  src/Shift-ClassInstaller-Tests/ShClassInstallerTest.class.st
  src/Shift-ClassInstaller-Tests/ShTestSlot.class.st
  src/Shift-ClassInstaller-Tests/package.st
Labels: tests passed please review!

#14728 RPackage: simplify classes cleanup of packages tests
  src/Monticello-Tests/RPackageMCSynchronisationTest.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
Labels: tests passed please review!

#14720 Unify class added and recategorized actions
  src/Kernel/Class.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/Shift-ClassInstaller/ShiftClassInstaller.class.st
Labels: tests passed please review!

#14744 RPackage: Iteration on package cleanings
  src/Monticello-Tests/RPackageMCSynchronisationTest.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/RPackage-Tests/RPackageRenameTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
Labels: tests passed please review!

#14733 RPackage: New step at unifying packages addition and removal
  src/Calypso-Browser-Tests/ClyBrowserToolValidityTest.class.st
  src/Calypso-SystemQueries/ClySystemEnvironment.class.st
  src/Deprecated12/RPackage.extension.st
  src/Deprecated12/RPackageOrganizer.extension.st
  src/Deprecated12/RPackageSet.extension.st
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/Gofer-Core/GoferUnload.class.st
  src/Monticello-Tests/MCWorkingCopyManagementTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageSet.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageRenameTest.class.st
  src/Tool-ImageCleaner/ImageCleaner.class.st
Labels: tests passed please review!

#14748 ShClassInstallerTest>>#testInstallInSpecificEnvironment should clean …
  src/Shift-ClassInstaller-Tests/ShClassInstallerTest.class.st
Labels: tests passed please review!

#14756 Monticello: Fix st export of organizations
  src/Monticello-Tests/MCStWriterTest.class.st
  src/Monticello/MCOrganizationParser.class.st
  src/Monticello/MCStWriter.class.st
Labels: tests passed please review!

#14759 Monticello: Clean installation of classes and traits
  src/Monticello/MCClassDefinition.class.st
  src/Monticello/MCTraitDefinition.class.st
Labels: tests passed please review!

#14765 Remove classes improvements
  src/Refactoring-Core/RBAbstractTransformation.class.st
  src/Refactoring-Core/RBClassesAreNotMetaClassCondition.class.st
  src/Refactoring-Core/RBClassesCondition.class.st
  src/Refactoring-Core/RBClassesEmptyCondition.class.st
  src/Refactoring-Core/RBClassesExistCondition.class.st
  src/Refactoring-Core/RBClassesHaveNoReferencesCondition.class.st
  src/Refactoring-Core/RBClassesHaveNoSubclassesCondition.class.st
  src/Refactoring-Core/RBConjunctiveCondition.class.st
  src/Refactoring-Core/RBNegationCondition.class.st
  src/Refactoring-Core/RBRemoveClassPushingStateToSubclassesRefactoring.class.st
  src/Refactoring-Core/RBRemoveClassRefactoring.class.st
  src/Refactoring-Tests-Core/RBNamespaceTest.class.st
  src/Refactoring-UI/RBRemoveClassDriver.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveClassRefactoringTest.class.st
Labels: tests passed please review!

#14768 Backport: Clean installation of MCClassTraitDefinition
  src/Monticello/MCClassTraitDefinition.class.st
Labels: tests passed please review!, pharo11

#14766 Monticello: do not rely on MCClassTraitDefinition
  src/Monticello/MCClassTraitDefinition.class.st
  src/Monticello/MCClassTraitParser.class.st
  src/Monticello/MetaclassForTraits.extension.st
  src/Monticello/Trait.extension.st
  src/MonticelloFileTree-Core/MCFileTreeStCypressReader.class.st
Labels: tests passed please review!

#14770 RPackage: depend less on categories in RPackage tests
  src/Monticello-Tests/RPackageClassesSynchronisationTest.class.st
  src/Monticello-Tests/RPackageExtensionMethodsSynchronisationTest.class.st
  src/Monticello-Tests/RPackageMCSynchronisationTest.class.st
  src/Monticello-Tests/RPackageMethodsSynchronisationTest.class.st
  src/Monticello-Tests/RPackageTraitSynchronisationTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageCompleteSetupButForModificationTest.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/RPackage-Tests/RPackageObsoleteTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/RPackage-Tests/RPackageRenameTest.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
  src/RPackage-Tests/RPackageTraitTest.class.st
Labels: tests passed please review!

#14772 RPackage: Deprecate RPackage>>#importClass:
  src/Deprecated12/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/SUnit-Rules-Tests/ReTestClassNotInPackageWithTestEndingNameTest.class.st
Labels: tests passed please review!

#14777 RPackage: divers cleanings
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageSet.class.st
  src/RPackage-Core/RPackageTag.class.st
Labels: tests passed please review!

#14780 RTFSelfCallInterpreter should be a subclass of RBProgramNodeVisitor
  src/RottenTestsFinder/RTFSelfCallInterpreter.class.st
Labels: tests passed please review!

#14784 RPackage: Deprecated RPackage>>#packageName
  src/Calypso-NavigationModel/RPackage.extension.st
  src/Manifest-Core/RPackage.extension.st
  src/Monticello/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
Labels: tests passed please review!

#14785 RPackage: Implement UndefinedPackage
  src/Deprecated12/RPackage.extension.st
  src/Epicea/EpMonitor.class.st
  src/Fuel-Core/FLTraitCluster.class.st
  src/GeneralRules/ReUnpackagedCodeRule.class.st
  src/Kernel-Rules/PharoBootstrapRule.class.st
  src/Kernel/FluidClassDefinitionPrinter.class.st
  src/Monticello/MonticelloBootstrap.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/UndefinedPackage.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/RPackage-Tests/UndefinedPackageTest.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Tool-DependencyAnalyser/DAMessageSendAnalyzer.class.st
  src/Tool-DependencyAnalyser/DAPackageRelationGraph.class.st
  src/UndefinedClasses/UndefinedClassClassResolver.class.st
Labels: tests passed please review!

#14792 Bootstrap should use P10 VM for small image
  bootstrap/scripts/2-download.sh
  bootstrap/scripts/3-prepare.sh
  bootstrap/scripts/envvars.sh
Labels: Reviewed and Ready to Integrate

#14791 RPackage: Always return undefined package for unpackaged class
  src/Kernel/FluidClassDefinitionPrinter.class.st
  src/Monticello-Tests/RPackageClassesSynchronisationTest.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/Shift-ClassInstaller-Tests/ShAnonymousClassInstallerTest.class.st
  src/TraitsV2-Tests/T2TraitWithPackagesTest.class.st
Labels: tests passed please review!

#14764 Show executed instructions in getPharoVM.sh
  bootstrap/scripts/getPharoVM.sh
Labels: tests passed please review!

#14799 RPackage: Update meaning of #removePackage:
  src/Calypso-SystemQueries/ClySystemEnvironment.class.st
  src/Deprecated12/RPackage.extension.st
  src/Deprecated12/RPackageOrganizer.extension.st
  src/FluidClassBuilder-Tests/FluidClassBuilderAbstractTest.class.st
  src/Kernel-Tests-Extended/ClassTest.class.st
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel-Tests/ClassDescriptionTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/Shift-Changes-Tests/ShAbstractChangeDetectorTest.class.st
  src/Shift-ClassInstaller-Tests/ShClassInstallerTest.class.st
  src/TraitsV2-Tests/TraitFileOutTest.class.st
Labels: tests passed please review!

#14811 #SHRBTextStyler: isScripting, not isWorkspace
  src/Shout/SHRBTextStyler.class.st
Labels: tests passed please review!

#14806 The tests for text editor can be removed
  src/BaselineOfGeneralTests/BaselineOfGeneralTests.class.st
  src/Text-Edition-Tests/TextEditorTest.class.st
  src/Text-Edition-Tests/package.st
Labels: tests passed please review!

#14815 Zodiac synch
  src/Zodiac-Core/ZdcAbstractSocketStream.class.st
  src/Zodiac-Core/ZdcOptimizedSocketStream.class.st
  src/Zodiac-Extra/ZdcSecureSMTPClient.class.st
Labels: tests passed please review!

#14814 Zinc synch
  src/Zinc-Character-Encoding-Core/ZnBufferedReadStream.class.st
  src/Zinc-Character-Encoding-Core/ZnBufferedReadWriteStream.class.st
  src/Zinc-Character-Encoding-Core/ZnCharacterEncoder.class.st
  src/Zinc-Character-Encoding-Core/ZnCharacterReadWriteStream.class.st
  src/Zinc-Character-Encoding-Core/ZnEncodedReadStream.class.st
  src/Zinc-Character-Encoding-Tests/ZnBufferedReadStreamTest.class.st
  src/Zinc-HTTP/ZnByteArrayEntity.class.st
  src/Zinc-HTTP/ZnChunkedReadStream.class.st
  src/Zinc-HTTP/ZnClientConnectionClosedEvent.class.st
  src/Zinc-HTTP/ZnClientFollowingRedirectEvent.class.st
  src/Zinc-HTTP/ZnClientIgnoringExceptionOnConnectionReuseEvent.class.st
  src/Zinc-HTTP/ZnClientLogEvent.class.st
  src/Zinc-HTTP/ZnClientRetryingEvent.class.st
  src/Zinc-HTTP/ZnClientTransactionEvent.class.st
  src/Zinc-HTTP/ZnConnectionAcceptedEvent.class.st
  src/Zinc-HTTP/ZnConnectionEstablishedEvent.class.st
  src/Zinc-HTTP/ZnConnectionRejectedEvent.class.st
  src/Zinc-HTTP/ZnConstants.class.st
  src/Zinc-HTTP/ZnLimitedReadStream.class.st
  src/Zinc-HTTP/ZnLogEvent.class.st
  src/Zinc-HTTP/ZnRequestReadEvent.class.st
  src/Zinc-HTTP/ZnRequestResponseHandledEvent.class.st
  src/Zinc-HTTP/ZnRequestWrittenEvent.class.st
  src/Zinc-HTTP/ZnResponseReadEvent.class.st
  src/Zinc-HTTP/ZnResponseWrittenEvent.class.st
  src/Zinc-HTTP/ZnServer.class.st
  src/Zinc-HTTP/ZnServerConnectionClosedEvent.class.st
  src/Zinc-HTTP/ZnServerGenericLogEvent.class.st
  src/Zinc-HTTP/ZnServerHandlerErrorEvent.class.st
  src/Zinc-HTTP/ZnServerLogEvent.class.st
  src/Zinc-HTTP/ZnServerReadErrorEvent.class.st
  src/Zinc-HTTP/ZnServerSocketBoundEvent.class.st
  src/Zinc-HTTP/ZnServerSocketReleasedEvent.class.st
  src/Zinc-HTTP/ZnServerStartedEvent.class.st
  src/Zinc-HTTP/ZnServerStoppedEvent.class.st
  src/Zinc-HTTP/ZnServerTransactionEvent.class.st
  src/Zinc-HTTP/ZnServerTransactionTiming.class.st
  src/Zinc-HTTP/ZnServerWriteErrorEvent.class.st
  src/Zinc-HTTP/ZnSimplifiedClientTransactionEvent.class.st
  src/Zinc-HTTP/ZnSimplifiedServerTransactionEvent.class.st
  src/Zinc-HTTP/ZnSingleThreadedServer.class.st
  src/Zinc-HTTP/ZnStringEntity.class.st
  src/Zinc-HTTP/ZnUtils.class.st
Labels: tests passed please review!

#14812 Fix intersection of dictionaries
  src/Collections-Unordered-Tests/DictionaryTest.class.st
  src/Collections-Unordered/Dictionary.class.st
  src/Collections-Unordered/SmallDictionary.class.st
Labels: tests passed please review!

#14816 Fix announcements during class creation
  src/Shift-ClassInstaller-Tests/ShClassInstallerAnnouncementsTest.class.st
  src/TraitsV2/TaAbstractComposition.class.st
  src/TraitsV2/TraitBuilderEnhancer.class.st
Labels: tests passed please review!

#14813 Prevent SystemDictionary key to be something else than symbols
  src/Collections-Unordered-Tests/DictionaryTest.class.st
  src/System-Support-Tests/SystemDictionaryTest.class.st
  src/System-Support/SystemDictionary.class.st
Labels: tests passed please review!

#14828 Refactoring: Remove controllers
  src/Refactoring-Changes/RBAddMethodChange.class.st
  src/Refactoring-Changes/RBRefactoryChangeFactory.class.st
  src/Refactoring-Changes/RBRefactoryDefinitionChange.class.st
  src/Refactoring-Changes/SystemDictionary.extension.st
  src/Refactoring-Tests-Changes/RBRefactoringChangeTest.class.st
Labels: tests passed please review!
