Repository pharo-project/pharo, pull requests merged in 2023-11, with the labels that each got.

#15195 Bootstrap: Remove dead code
  src/Pharo30Bootstrap/PBClassLoader.class.st
  src/Pharo30Bootstrap/PBImageBuilder50.class.st
Labels: Status: Tests passed please review!

#15208 RPackage: Remove last listeners to SystemAnnouncer
  bootstrap/scripts/02-monticello-bootstrap/01-bootstrapMonticello.st
  bootstrap/scripts/02-monticello-bootstrap/01-fixLocalMonticello.st
  bootstrap/scripts/02-monticello-bootstrap/02-bootstrapMonticelloRemote.st
  bootstrap/scripts/4-build.sh
  src/Deprecated12/RPackage.extension.st
  src/Epicea/EpMonitor.class.st
  src/Epicea/TestCase.extension.st
  src/InitializePackagesCommandLineHandler/InitializePackagesCommandLineHandler.class.st
  src/Kernel/ClassDescription.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
  src/RPackage-Tests/RPackageWithDoTest.class.st
Labels: Status: Tests passed please review!

#15207 Monticello: Fix problem in package loading logic
  src/Hermes/HEInstaller.class.st
  src/Monticello/MCDefinition.class.st
  src/Monticello/MCMethodDefinition.class.st
  src/Monticello/MCPackageLoader.class.st
  src/System-Announcements/SystemAnnouncer.class.st
Labels: Status: Tests passed please review!

#14906 Replace extracted expression only in containing scope (fixes #14771)
  src/Refactoring-Core/RBExtractToTemporaryRefactoring.class.st
  src/Refactoring-DataForTesting/RBClassDataForRefactoringTest.class.st
  src/Refactoring-Transformations-Tests/RBExtractToTemporaryParametrizedTest.class.st
  src/Refactoring-Transformations/RBExtractToTemporaryTransformation.class.st
Labels: Status: Reviewed and Ready to Integrate, Project: Refactorings

#15220 Calypso: Fix regression in taskbar label
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserMorph.class.st
Labels: Status: Tests passed please review!

#15217 Improve logs while running tests
  src/JenkinsTools-Core/HDReport.class.st
Labels: Status: Tests passed please review!

#15221 Calypso: Simplify ClyExtendingPackagesQuery adn clean package API
  src/Calypso-Ring/RGMethod.extension.st
  src/Calypso-SystemQueries/ClyExtendingPackagesQuery.class.st
  src/Deprecated12/ClassDescription.extension.st
  src/Deprecated12/CompiledMethod.extension.st
  src/Deprecated12/RGBehavior.extension.st
  src/Deprecated12/RGMethod.extension.st
  src/RPackage-Core/ClassDescription.extension.st
  src/RPackage-Core/CompiledMethod.extension.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/Ring-RuntimeSupport/RGBehavior.extension.st
Labels: Status: Tests passed please review!

#15215 Merge Metacello-PharoExtensions into Metacello-Base
  bootstrap/scripts/03-metacello-bootstrap/01-loadMetacello.st
  bootstrap/scripts/generateKernelHermesFiles.st
  bootstrap/scripts/generateSUnitHermesFiles.st
  bootstrap/scripts/generateTraitsHermesFiles.st
  src/BaselineOfMetacello/BaselineOfMetacello.class.st
  src/Metacello-Base/BaselineOf.class.st
  src/Metacello-PharoExtensions/BaselineOf.extension.st
  src/Metacello-PharoExtensions/package.st
  src/Pharo30Bootstrap/PBBootstrap.class.st
Labels: Status: Tests passed please review!

#15219 Packages: Do some cleanings
  src/Kernel/Class.class.st
  src/Monticello/MCClassDefinition.class.st
  src/RPackage-Core/ClassDescription.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/Refactoring-Core/RBNamespace.class.st
  src/SUnit-Tests/ClassFactoryWithNonDefaultEnvironmentTest.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/SystemCommands-ClassCommands/SycCmAddSubclassCommand.class.st
  src/SystemCommands-ClassCommands/SycCmInsertSubclassCommand.class.st
  src/SystemCommands-ClassCommands/SycCmInsertSuperclassCommand.class.st
Labels: Status: Tests passed please review!

#15238 Fix some deprecations
  src/CodeImport/OldClassDefinitionBuilder.class.st
Labels: Status: Tests passed please review!

#15237 Deprecate Class>>#category: and ShiftClassBuilder>>#category(:)
  src/Deprecated12/Class.extension.st
  src/Deprecated12/ShiftClassBuilder.extension.st
  src/Kernel/Class.class.st
  src/Shift-ClassBuilder-Tests/ShiftClassBuilderTest.class.st
  src/Shift-ClassBuilder-Tests/ShiftTraitBuilderTest.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
Labels: Status: Tests passed please review!

#15235 Ring-Definitions: Remove concept of categories
  src/Deprecated12/RGBehaviorDefinition.extension.st
  src/Epicea-Tests/EpAsEpiceaRingDefinitionTest.class.st
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/Epicea/Class.extension.st
  src/Epicea/Trait.extension.st
  src/EpiceaBrowsers/EpApplyPreviewer.class.st
  src/Ring-Definitions-Core/Class.extension.st
  src/Ring-Definitions-Core/RGBehaviorDefinition.class.st
  src/Ring-Definitions-Core/RGClassDefinition.class.st
  src/Ring-Definitions-Core/RGMetaclassDefinition.class.st
  src/Ring-Definitions-Core/RGMetatraitDefinition.class.st
  src/Ring-Definitions-Core/RGTraitDefinition.class.st
  src/Ring-Definitions-Core/Trait.extension.st
  src/Ring-Definitions-Monticello/MCClassDefinition.extension.st
  src/Ring-Definitions-Monticello/MCTraitDefinition.extension.st
  src/Ring-Definitions-Tests-Core/RGClassDefinitionTest.class.st
  src/Ring-Definitions-Tests-Core/RGMetaclassDefinitionTest.class.st
  src/Ring-Definitions-Tests-Core/RGMetatraitDefinitionTest.class.st
  src/Ring-Definitions-Tests-Core/RGTraitDefinitionTest.class.st
  src/Ring-Definitions-Tests-Monticello/RGClassDefinitionTest.extension.st
  src/Ring-Definitions-Tests-Monticello/RGTraitDefinitionTest.extension.st
  src/Ring-OldChunkImporter/RingChunkImporter.class.st
Labels: Status: Tests passed please review!

#15236 Fix ‘span’ in BalloonEngine not being wider than the ‘destForm’
  src/FormCanvas-Core/BalloonEngine.class.st
  src/FormCanvas-Tests/BalloonEngineTest.class.st
Labels: Status: Tests passed please review!

#15153 Fix clean blocks with dead context on debugger
  src/Kernel-BytecodeEncoders/EncoderForSistaV1.class.st
  src/Kernel/Context.class.st
  src/OpalCompiler-Core/CompiledBlock.extension.st
Labels: Status: Tests passed please review!

#15243 Clean traits tests
  src/TraitsV2-Tests/T2AbstractTest.class.st
  src/TraitsV2-Tests/T2ObsoleteClassTest.class.st
  src/TraitsV2-Tests/T2OverloadingOfMethodsInTraitedClassTest.class.st
  src/TraitsV2-Tests/T2PrecedenceCompositionTest.class.st
  src/TraitsV2-Tests/T2SubclassingTraitedClassTest.class.st
  src/TraitsV2-Tests/T2TraitAnnouncementsTest.class.st
  src/TraitsV2-Tests/T2TraitChangesTest.class.st
  src/TraitsV2-Tests/T2TraitInTraitClassTest.class.st
  src/TraitsV2-Tests/T2TraitMCDefinitionsTest.class.st
  src/TraitsV2-Tests/T2TraitPropagatingSlotChangesTest.class.st
  src/TraitsV2-Tests/T2TraitSlotScopeTest.class.st
  src/TraitsV2-Tests/T2TraitTest.class.st
  src/TraitsV2-Tests/T2TraitWithAliasTest.class.st
  src/TraitsV2-Tests/T2TraitWithComplexSlotsTest.class.st
  src/TraitsV2-Tests/T2TraitWithConflictsTest.class.st
  src/TraitsV2-Tests/T2TraitWithMethodsInProtocolsTest.class.st
  src/TraitsV2-Tests/T2TraitWithPackagesTest.class.st
  src/TraitsV2-Tests/T2TraitWithSlotsTest.class.st
  src/TraitsV2-Tests/T2UsingTraitsWithSlotsTest.class.st
  src/TraitsV2-Tests/TraitTest.class.st
Labels: Status: Tests passed please review!

#15241 Ensure no association is added to the system dictionary
  src/System-Support-Tests/SystemDictionaryTest.class.st
  src/System-Support/SystemDictionary.class.st
Labels: Status: Tests passed please review!

#15242 Improve tests logs
  src/JenkinsTools-Core/HDReport.class.st
  src/JenkinsTools-Core/HDTestReport.class.st
Labels: Status: Tests passed please review!

#15244 Improve cleanups of tests
  src/AST-Core-Tests/RBCodeSnippetTest.class.st
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel-Tests-Extended/ProcessTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/Reflectivity-Tests/VariableBreakpointMockClass.class.st
  src/Reflectivity-Tests/VariableBreakpointTest.class.st
Labels: Status: Tests passed please review!

#15239 Make class know its package tag instead of its category
  src/Deprecated12/RPackageOrganizer.extension.st
  src/Fuel-Core/FLBehaviorCluster.class.st
  src/Fuel-Core/FLClassCluster.class.st
  src/Fuel-Core/FLTraitCluster.class.st
  src/InitializePackagesCommandLineHandler/RPackageOrganizer.extension.st
  src/Kernel-Tests/ClassDescriptionTest.class.st
  src/Kernel/Class.class.st
  src/Kernel/ClassDescription.class.st
  src/Kernel/FluidClassDefinitionPrinter.class.st
  src/Kernel/Metaclass.class.st
  src/RPackage-Core/ClassDescription.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageClassesSynchronisationTest.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/UndefinedPackageTagTest.class.st
  src/RPackage-Tests/UndefinedPackageTest.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Shift-ClassBuilder/ShiftClassBuilder.class.st
  src/Tool-DependencyAnalyser/DADependencyChecker.class.st
  src/Tool-DependencyAnalyser/DAPackageRelationGraph.class.st
Labels: Status: Tests passed please review!

#15262 Simplify ClassRemoved and MethodRemoved now that packages are preserved
  src/Deprecated12/ClassRemoved.extension.st
  src/Kernel/Class.class.st
  src/Kernel/ClassDescription.class.st
  src/Ring-Core/RGEnvironmentAnnouncer.class.st
  src/System-Announcements/ClassRemoved.class.st
  src/System-Announcements/MethodRemoved.class.st
  src/System-Announcements/SystemAnnouncer.class.st
Labels: Status: Tests passed please review!

#15272 Remove some classes generated by tests
  src/ClassParser-Tests/ASTClassBuilderTest.class.st
  src/TraitsV2-Tests/T2TraitSlotScopeTest.class.st
Labels: Status: Tests passed please review!

#15270 Remove unused Calypso-SystemPlugins-Monticello-Queries
  src/BaselineOfCalypso/BaselineOfCalypso.class.st
  src/Calypso-SystemPlugins-Monticello-Queries/ClyDirtyPackageTag.class.st
  src/Calypso-SystemPlugins-Monticello-Queries/package.st
Labels: Status: Tests passed please review!

#15275 Fix more deprecated messages in traits
  src/CodeImport/OldClassDefinitionBuilder.class.st
Labels: Status: Tests passed please review!

#15274 Shout: Fix styling of symbols representing a deprecated global variable
  src/Shout-Tests/SHRBStyleAttributionTest.class.st
  src/Shout/SHRBTextStyler.class.st
Labels: Status: Tests passed please review!

#15264 Introduce Behavior>>#definedSelectors and #definedMethods and add tests
  src/Kernel-Tests/BehaviorTest.class.st
  src/Kernel/Behavior.class.st
  src/RPackage-Core/ClassDescription.extension.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/TraitsV2-Tests/TraitTest.class.st
  src/TraitsV2/Behavior.extension.st
Labels: Status: Tests passed please review!

#15281 Calypso: Fix refresh of project view
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserMorph.class.st
  src/Tools/Project.class.st
Labels: Status: Tests passed please review!

#15271 Introduce a specific collection for undeclareds
  src/OpalCompiler-Tests/OCCompiledMethodIntegrityTest.class.st
  src/Pharo30Bootstrap/PBImageBuilder50.class.st
  src/System-Support/UndeclaredRegistry.class.st
Labels: Status: Tests passed please review!

#15289 Opal: Make plugins no-op to not crash during the loading
  src/OpalCompiler-Core/OCASTCompilerPlugin.class.st
  src/OpalCompiler-Core/OCStaticASTCompilerPlugin.class.st
  src/OpalCompiler-Core/OpalCompiler.class.st
  src/OpalCompiler-Tests/ASTPluginMeaningOfLife.class.st
Labels: Status: Tests passed please review!

#15273 Release test: Add test that all packages are defined in a baseline
  src/Metacello-Base/BaselineOf.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/System-DependenciesTests/SystemDependenciesTest.class.st
  src/Tools/Project.class.st
Labels: Status: Tests passed please review!

#15263 Fix trait method recompilation and clean
  src/OpalCompiler-Core/CompiledMethod.extension.st
  src/TraitsV2-Tests/T2AbstractTest.class.st
  src/TraitsV2-Tests/T2TraitTest.class.st
  src/TraitsV2/TraitedClass.class.st
  src/TraitsV2/TraitedMetaclass.class.st
Labels: Status: Tests passed please review!

#15291 Opal: Add concept of prior methods
  src/Flashback-Decompiler/FBDDecompiler.class.st
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel/ClassDescription.class.st
  src/OpalCompiler-Core/Behavior.extension.st
  src/OpalCompiler-Core/OpalCompiler.class.st
  src/Reflectivity-Tests/ReflectiveMethodTest.class.st
Labels: Status: Tests passed please review!

#15292 Monticello: Simplify method loading
  src/Deprecated12/MethodAddition.extension.st
  src/Monticello/MCMethodDefinition.class.st
  src/Monticello/MCPackageLoader.class.st
  src/Monticello/MethodAddition.class.st
Labels: Type: Cleanup, Status: Tests passed please review!

#15284 Remove workspace
  src/BaselineOfGeneralTests/BaselineOfGeneralTests.class.st
  src/BaselineOfUI/BaselineOfUI.class.st
  src/HeuristicCompletion-Morphic/Workspace.extension.st
  src/Morphic-Base/FallbackMenu.class.st
  src/SUnit-Support-UITesting/Workspace.extension.st
  src/Tool-Workspace-Tests/WorkspaceTest.class.st
  src/Tool-Workspace-Tests/package.st
  src/Tool-Workspace/RubWorkspaceBarRuler.class.st
  src/Tool-Workspace/Workspace.class.st
  src/Tool-Workspace/package.st
Labels: Type: Cleanup, Status: Tests passed please review!

#15290 declare:from: cleanup, first step
  src/Collections-Sequenceable-Tests/OrderedDictionaryTest.class.st
  src/Collections-Unordered-Tests/TDictionaryAddingTest.trait.st
  src/Collections-Unordered/Dictionary.class.st
  src/Kernel/Class.class.st
  src/NewValueHolder-Core/DictionaryValueHolder.class.st
  src/System-Support/SystemDictionary.class.st
Labels: Status: Tests passed please review!

#15308 Use a test resource for SystemDependenciesTest
  src/System-DependenciesTests/SystemDependenciesReportResource.class.st
  src/System-DependenciesTests/SystemDependenciesTest.class.st
Labels: Status: Tests passed please review!

#15305 Deprecate TRBProgramNodeVisitor
  bootstrap/scripts/4-build.sh
  src/AST-Core-Traits/package.st
  src/BaselineOfShout/BaselineOfShout.class.st
  src/BaselineOfTraits/BaselineOfTraits.class.st
  src/Deprecated12/TRBProgramNodeVisitor.trait.st
Labels: Status: Tests passed please review!

#15304 Traits: Do a new cleaning pass over the traits tests and fix file out bug
  src/CodeExport/RPackageTag.extension.st
  src/TraitsV2-Tests/AbstractTraitsOnPreparedModelTest.class.st
  src/TraitsV2-Tests/ClassTraitTest.class.st
  src/TraitsV2-Tests/T2OverloadingOfMethodsInTraitedClassTest.class.st
  src/TraitsV2-Tests/T2SubclassingTraitedClassTest.class.st
  src/TraitsV2-Tests/T2TraitTest.class.st
  src/TraitsV2-Tests/T2TraitWithConflictsTest.class.st
  src/TraitsV2-Tests/TraitAbstractTest.class.st
  src/TraitsV2-Tests/TraitAnnouncementsTest.class.st
  src/TraitsV2-Tests/TraitChangesTest.class.st
  src/TraitsV2-Tests/TraitCommonClassDefinitionPrinterTest.class.st
  src/TraitsV2-Tests/TraitCompositionTest.class.st
  src/TraitsV2-Tests/TraitFileOutTest.class.st
  src/TraitsV2-Tests/TraitFluidClassDefinitionPrinterTest.class.st
  src/TraitsV2-Tests/TraitInTraitClassTest.class.st
  src/TraitsV2-Tests/TraitLegacyPharoClassDefinitionPrinterTest.class.st
  src/TraitsV2-Tests/TraitMCDefinitionsTest.class.st
  src/TraitsV2-Tests/TraitMethodDescriptionTest.class.st
  src/TraitsV2-Tests/TraitObsoleteClassTest.class.st
  src/TraitsV2-Tests/TraitOldPharoClassDefinitionPrinterTest.class.st
  src/TraitsV2-Tests/TraitOverloadingOfMethodsInTraitedClassTest.class.st
  src/TraitsV2-Tests/TraitPrecedenceCompositionTest.class.st
  src/TraitsV2-Tests/TraitPropagatingSlotChangesTest.class.st
  src/TraitsV2-Tests/TraitPureBehaviorTest.class.st
  src/TraitsV2-Tests/TraitSlotScopeTest.class.st
  src/TraitsV2-Tests/TraitSubclassingTraitedClassTest.class.st
  src/TraitsV2-Tests/TraitTest.class.st
  src/TraitsV2-Tests/TraitTestCase.class.st
  src/TraitsV2-Tests/TraitUsingTraitsWithSlotsTest.class.st
  src/TraitsV2-Tests/TraitWithAliasTest.class.st
  src/TraitsV2-Tests/TraitWithComplexSlotsTest.class.st
  src/TraitsV2-Tests/TraitWithConflictsTest.class.st
  src/TraitsV2-Tests/TraitWithMethodsInProtocolsTest.class.st
  src/TraitsV2-Tests/TraitWithPackagesTest.class.st
  src/TraitsV2-Tests/TraitWithSlotsTest.class.st
  src/TraitsV2-Tests/TraitsTestCase.class.st
  src/TraitsV2/Trait.class.st
Labels: Status: Tests passed please review!

#15315 Calypso: Show content of projects
  src/Calypso-Browser/ClyDataSourceSelection.class.st
  src/Calypso-SystemQueries/ClyMethodQuery.class.st
  src/Calypso-SystemQueries/ClyProjectContentQuery.class.st
  src/Calypso-SystemQueries/ClyProjectScope.class.st
  src/Calypso-SystemQueries/ClyTypedScope.extension.st
  src/Calypso-SystemQueries/Project.extension.st
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserMorph.class.st
  src/Collections-Abstract/Collection.class.st
  src/Kernel-Traits/TIsEmpty.trait.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
Labels: Project: Calypso, Type: New Feature

#15310 Introduce a method to get the meta model announcer
  src/Kernel/Behavior.class.st
  src/Kernel/Class.class.st
  src/Kernel/ClassDescription.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/Reflectivity/Breakpoint.class.st
  src/System-Support/SystemDictionary.class.st
Labels: Type: Enhancement, Status: Tests passed please review!

#15309 Allow to create anonymous classes in a specific environment
  src/Kernel/Class.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/Shift-ClassInstaller-Tests/ShAnonymousClassInstallerTest.class.st
Labels: Type: Enhancement, Status: Tests passed please review!

#15320 Packages: Removing more references to #category
  src/EpiceaBrowsers/EpHasImpactVisitor.class.st
  src/Fuel-Core-Tests/FLCreateClassSerializationTest.class.st
  src/Fuel-Core-Tests/FLTCreateClassOrTraitSerializationTest.trait.st
  src/JenkinsTools-Core/HDTestReport.class.st
  src/Monticello-BackwardCompatibility/MCClassTraitDefinition.class.st
  src/Monticello/MCClassDefinition.class.st
  src/Monticello/MCTraitDefinition.class.st
  src/Renraku-Tests/ReSmokeExceptionStrategyTest.class.st
  src/Tool-Finder-UI/FinderUI.class.st
  src/UnifiedFFI/FFIEnumeration.class.st
Labels: Status: Tests passed please review!

#15318 Traits: Speedup #isFromTrait
  src/Kernel/CompiledMethod.class.st
Labels: Type: Enhancement, Easy, Status: Tests passed please review!, Project: Traits

#15214 RPackage: Deprecate #includesDefinedSelector:ofClass:
  src/Deprecated12/RPackage.extension.st
  src/Kernel/Behavior.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageClassesSynchronisationTest.class.st
  src/RPackage-Tests/RPackageExtensionMethodsSynchronisationTest.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/RPackage-Tests/RPackageMethodsSynchronisationTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/RPackage-Tests/RPackageTraitSynchronisationTest.class.st
  src/RPackage-Tests/RPackageTraitTest.class.st
Labels: Status: Tests passed please review!

#15324 Manifest builder should not rely on categories
  src/Deprecated12/TheManifestBuilder.extension.st
  src/Manifest-Core/TheManifestBuilder.class.st
  src/Renraku/ReSmalllintChecker.class.st
Labels: Status: Tests passed please review!

#15322 Speedup #explicitRequirement
  src/Kernel/Behavior.class.st
  src/Kernel/Context.class.st
  src/Kernel/Object.class.st
  src/Traits-Tests/TraitTestCase.class.st
Labels: Status: Tests passed please review!

#15340 Refactorings: Follow package name convention
  src/BaselineOfRefactoring/BaselineOfRefactoring.class.st
  src/Refactoring-Changes-Tests/RBRefactoringChangeManagerTest.class.st
  src/Refactoring-Changes-Tests/RBRefactoringChangeMock.class.st
  src/Refactoring-Changes-Tests/RBRefactoringChangeTest.class.st
  src/Refactoring-Changes-Tests/package.st
  src/Refactoring-Core-Tests/LowLevelReflectiveAPITest.class.st
  src/Refactoring-Core-Tests/RBClassTest.class.st
  src/Refactoring-Core-Tests/RBConditionTest.class.st
  src/Refactoring-Core-Tests/RBMethodNameTest.class.st
  src/Refactoring-Core-Tests/RBNamespaceTest.class.st
  src/Refactoring-Core-Tests/RBRefactoringBrowserTest.class.st
  src/Refactoring-Core-Tests/RBSearchTest.class.st
  src/Refactoring-Core-Tests/RBSharedPoolTest.class.st
  src/Refactoring-Core-Tests/RBVariableTypeTest.class.st
  src/Refactoring-Core-Tests/package.st
  src/Refactoring-Critics-Tests/ManifestRefactoringCriticsTests.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestAddRemoveDependentsGoodObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestAddRemoveDependentsObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestClassNotReferencedObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestDefinesEqualNotHashGoodObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestDefinesEqualNotHashObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestLocalMethodsSameThanTraitObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestNoClassCommentObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestObject.class.st
  src/Refactoring-Critics-Tests/RBSmalllintTestSuperclassObject.class.st
  src/Refactoring-Critics-Tests/package.st
  src/Refactoring-Environment-Tests/RBBrowserEnvironmentTest.class.st
  src/Refactoring-Environment-Tests/package.st
  src/Refactoring-Tests-Changes/package.st
  src/Refactoring-Tests-Core/package.st
  src/Refactoring-Tests-Critics/package.st
  src/Refactoring-Tests-Environment/package.st
  src/Refactoring-Transformations-Tests/RBCopyPackageParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBMoveClassTransformationTest.class.st
  src/Refactoring-Transformations-Tests/RBRenamePackageParametrizedTest.class.st
Labels: Status: Tests passed please review!

#15341 Release tests: Improve testNoSentButNotImplementedSelectors
  src/ReleaseTests/ReleaseTest.class.st
Labels: Status: Tests passed please review!

#15343 Fix bug in remake of anonymous classes
  src/Fuel-Core/FLBehaviorCluster.class.st
  src/Kernel/Class.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/UndefinedPackage.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Shift-ClassBuilder/ShDefaultBuilderEnhancer.class.st
  src/Shift-ClassInstaller/ShiftClassInstaller.class.st
  src/Traits-Tests/TraitTest.class.st
  src/Traits/TraitBuilderEnhancer.class.st
Labels: Status: Tests passed please review!

#15349 Remove #isUnitTest
  src/Gofer-Tests/GoferTest.class.st
  src/Kernel-Tests-Extended/StopwatchTest.class.st
  src/Monticello-Tests/MCDependencySorterTest.class.st
  src/Monticello-Tests/MCSortingTest.class.st
  src/Monticello-Tests/MCTestCase.class.st
  src/SUnit-Core/TestCase.class.st
  src/SUnit-Tests/TestCaseTest.class.st
  src/System-Support-Tests/SystemNavigationTest.class.st
  src/Traits-Tests/AbstractTraitsOnPreparedModelTest.class.st
Labels: Status: Tests passed please review!

#15355 Remove private system announcer
  src/Ring-Core/RGEnvironmentAnnouncer.class.st
  src/System-Announcements/SystemAnnouncer.class.st
  src/System-Changes/ChangeSet.class.st
Labels: Status: Tests passed please review!

#15353 Traits: Fix bug in dictionary rebuild
  src/Traits-Tests/TraitWithConflictsTest.class.st
  src/Traits/TaCompositionElement.class.st
  src/Traits/TaSequence.class.st
Labels: Status: Tests passed please review!

#15358 Clean AST-Core
  src/AST-Core/ASTCache.class.st
  src/AST-Core/ManifestASTCore.class.st
  src/AST-Core/RBArrayErrorNode.class.st
  src/AST-Core/RBBlockErrorNode.class.st
  src/AST-Core/RBCascadeNode.class.st
  src/AST-Core/RBMessageNode.class.st
  src/AST-Core/RBParser.class.st
  src/ClassParser/CDFluidClassDefinitionParser.class.st
  src/ClassParser/RBCascadeNode.extension.st
  src/ClassParser/RBMessageNode.extension.st
  src/Refactoring-Transformations/RBParser.extension.st
Labels: Status: Tests passed please review!

#15351 Monticello: Remove dead code
  bootstrap/scripts/03-metacello-bootstrap/01-loadMetacello.st
  src/BaselineOfMetacello/BaselineOfMetacello.class.st
  src/Gofer-Core/Gofer.class.st
  src/Gofer-Tests/GoferApiTest.class.st
  src/Metacello-GitBasedRepository/MCGitBasedNetworkRepository.class.st
  src/Monticello-GUI-Diff/MCVersionHistoryBrowser.extension.st
  src/Monticello-GUI-Diff/MCVersionInspector.extension.st
  src/Monticello-Tests/MCAncestryTest.class.st
  src/Monticello-Tests/MCSerializationTest.class.st
  src/Monticello-Tests/MCSubDirectoryRepositoryTest.class.st
  src/Monticello-Tests/MCWorkingCopyTest.class.st
  src/Monticello/MCAncestry.class.st
  src/Monticello/MCCacheRepository.class.st
  src/Monticello/MCChangeSelectionRequest.class.st
  src/Monticello/MCDictionaryRepository.class.st
  src/Monticello/MCDiffyVersion.class.st
  src/Monticello/MCFileBasedRepository.class.st
  src/Monticello/MCFilteredVersionSorter.class.st
  src/Monticello/MCFrontier.class.st
  src/Monticello/MCMcdReader.class.st
  src/Monticello/MCMcdWriter.class.st
  src/Monticello/MCMczReader.class.st
  src/Monticello/MCMerger.class.st
  src/Monticello/MCPackageCache.class.st
  src/Monticello/MCRepository.class.st
  src/Monticello/MCSnapshotReader.class.st
  src/Monticello/MCStReader.class.st
  src/Monticello/MCSubDirectoryRepository.class.st
  src/Monticello/MCThreeWayMerger.class.st
  src/Monticello/MCVersion.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/MonticelloConfigurations/MCConfiguration.class.st
  src/MonticelloConfigurations/MCMcmReader.class.st
  src/MonticelloConfigurations/MCMcmWriter.class.st
  src/MonticelloConfigurations/package.st
  src/MonticelloGUI/MCChangeSelectionRequest.extension.st
  src/MonticelloGUI/MCChangeSelector.class.st
  src/MonticelloGUI/MCConfiguration.extension.st
  src/MonticelloGUI/MCConfigurationBrowser.class.st
  src/MonticelloGUI/MCVersion.extension.st
  src/MonticelloGUI/MCVersionHistoryBrowser.class.st
  src/MonticelloGUI/MCVersionInspector.class.st
Labels: Status: Tests passed please review!

#15362 Metacello: fix block evaluation
  src/Metacello-Core/MetacelloProjectRegistration.class.st
Labels: Status: Tests passed please review!

#15360 Rename RPackageOrganizer into PackageOrganizer
  bootstrap/scripts/emulation/shrink.st
  scripts/cleaning/removeEmptyPackage.st
  src/Calypso-Browser-Tests/ClyBrowserContextAbstractTest.class.st
  src/Calypso-Ring/RGBehavior.extension.st
  src/Calypso-SystemQueries/ClySystemEnvironment.class.st
  src/Deprecated12/CompiledCode.extension.st
  src/Deprecated12/PackageOrganizer.extension.st
  src/Hermes/HEInstaller.class.st
  src/InitializePackagesCommandLineHandler/InitializePackagesCommandLineHandler.class.st
  src/InitializePackagesCommandLineHandler/PackageOrganizer.extension.st
  src/Kernel-ExtraUtils/ClassHierarchyPrinter.class.st
  src/Monticello/MonticelloBootstrap.class.st
  src/Monticello/PackageOrganizer.extension.st
  src/Morphic-Examples/PackageTreeExample.class.st
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/RPackage-Core/PackageOrganizer.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageOrganizerSystemTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/Refactoring-Environment/RBPackageEnvironment.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Renraku/ReSmalllintChecker.class.st
  src/Ring-Core/RGReadOnlyImageBackend.class.st
  src/Ring-Definitions-Core/RGPackageDefinition.class.st
  src/Rubric/RubTextFieldWithEntryCompletionExample.class.st
  src/System-Settings-Browser/SettingBrowser.class.st
  src/System-Support-Tests/SystemDictionaryTest.class.st
  src/System-Support/SystemDictionary.class.st
  src/SystemCommands-RefactoringSupport/RBEnvironmentVisitor.class.st
  src/TestRunner-UI/TestRunnerAbstractPresenter.class.st
  src/Tool-ImageCleaner/ImageCleaner.class.st
Labels: Status: Tests passed please review!

#15347 Deprecate gofer command line
  bootstrap/scripts/03-metacello-bootstrap/01-loadMetacello.st
  src/BaselineOfGeneralTests/BaselineOfGeneralTests.class.st
  src/BaselineOfMetacello/BaselineOfMetacello.class.st
  src/ConfigurationCommandLineHandler-Core/package.st
  src/ConfigurationCommandLineHandler-Tests/package.st
  src/Deprecated12/ConfigurationCommandLineHandler.class.st
  src/Deprecated12/ConfigurationCommandLineHandlerTest.class.st
Labels: Status: Tests passed please review!

#15374 backport "Defer change list update to avoid a race condition" #14853
  src/EpiceaBrowsers/EpLogBrowserPresenter.class.st
Labels: Status: Tests passed please review!

#15373 15372-backport-Pharo11-safer-morph-access-in-NECMenuMorphmouseDown-14356
  src/NECompletion-Morphic/NECMenuMorph.class.st
Labels: Status: Tests passed please review!

#15390 remove deadcode from driver package
  src/Refactoring-UI/RBMethodStillCalled.class.st
  src/Refactoring-UI/RBSharedVariableStillReferenced.class.st
Labels: more-information-needed

#15363 Monticello: Remove usage of RPackageSet
  src/Deprecated12/MCPackage.extension.st
  src/Deprecated12/MCScriptDefinition.extension.st
  src/Deprecated12/MCWorkingCopy.extension.st
  src/Gofer-Core/GoferRecompile.class.st
  src/Gofer-Core/GoferReinitialize.class.st
  src/Gofer-Core/GoferUnload.class.st
  src/Metacello-Core/MetacelloVersionSpec.class.st
  src/Monticello-Model/MCScriptDefinition.class.st
  src/Monticello-Tests/MCChangeNotificationTest.class.st
  src/Monticello/MCPackage.class.st
  src/Monticello/MCWorkingCopy.class.st
Labels: Status: Tests passed please review!

#15371 fix icons
  src/Morphic-Base/HaloMorph.class.st
Labels: Status: Tests passed please review!

#15376 Remove MCPatchBrowser
  src/Monticello-GUI-Diff/MCMergeBrowser.extension.st
  src/Monticello/MCCacheRepository.class.st
  src/MonticelloGUI/MCMergeBrowser.class.st
  src/MonticelloGUI/MCPatch.extension.st
  src/MonticelloGUI/MCPatchBrowser.class.st
  src/ReleaseTests/ReleaseTest.class.st
Labels: Status: Tests passed please review!

#15380 Some cleanup of CodeExport
  bootstrap/scripts/4-build.sh
  src/BaselineOfBasicTools/BaselineOfBasicTools.class.st
  src/BaselineOfPharoBootstrap/BaselineOfPharoBootstrap.class.st
  src/BaselineOfTraits/BaselineOfTraits.class.st
  src/CodeExport/ChangeSet.extension.st
  src/CodeExport/ClassDescription.extension.st
  src/CodeExport/TraitedClass.extension.st
  src/CodeExport/TraitedMetaclass.extension.st
  src/CodeExport/WriteStream.extension.st
  src/OpalCompiler-Core/ManifestOpalCompilerCore.class.st
  src/System-Changes/ChangeSet.class.st
  src/System-Sources/ClassDescription.extension.st
  src/System-Sources/ManifestSystemSources.class.st
  src/System-Sources/WriteStream.extension.st
Labels: Status: Tests passed please review!

#15393 Update RPackage dependencies
  src/RPackage-Core/ManifestRPackageCore.class.st
  src/RPackage-Core/PackageOrganizer.class.st
  src/System-DependenciesTests/SystemDependenciesTest.class.st
Labels: Status: Tests passed please review!

#15368 DependencyAnalyzer: Remove usage of RPackageSet
  src/Tool-DependencyAnalyser-Tests/DAMessageSendAnalyzerTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageCycleDetectorTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageCycleTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageDependencyTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageDependencyWrapperTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageRelationGraphDiffTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageRelationGraphTest.class.st
  src/Tool-DependencyAnalyser-Tests/DAPackageTest.class.st
  src/Tool-DependencyAnalyser-Tests/DATarjanAlgorithmTest.class.st
  src/Tool-DependencyAnalyser-Tests/ManifestToolDependencyAnalyserTests.class.st
  src/Tool-DependencyAnalyser-UI-Tab/DABrowserToolMorph.class.st
  src/Tool-DependencyAnalyser-UI/DAAbstractPackageNode.class.st
  src/Tool-DependencyAnalyser-UI/DAAddPackagePresenter.class.st
  src/Tool-DependencyAnalyser-UI/DADependencyTreePresenter.class.st
  src/Tool-DependencyAnalyser-UI/DADependentPackageNode.class.st
  src/Tool-DependencyAnalyser-UI/DAMissingMethodNode.class.st
  src/Tool-DependencyAnalyser-UI/DANode.class.st
  src/Tool-DependencyAnalyser-UI/DAPackageUnderAnalysisNode.class.st
  src/Tool-DependencyAnalyser-UI/DAReverseDependentPackageNode.class.st
  src/Tool-DependencyAnalyser-UI/DAReversePackageNode.class.st
  src/Tool-DependencyAnalyser/DADependentPackageWrapper.class.st
  src/Tool-DependencyAnalyser/DAMessageSendAnalyzer.class.st
  src/Tool-DependencyAnalyser/DAMessageSendDependency.class.st
  src/Tool-DependencyAnalyser/DAPackage.class.st
  src/Tool-DependencyAnalyser/DAPackageCycleDetector.class.st
  src/Tool-DependencyAnalyser/DAPackageDependencyWrapper.class.st
  src/Tool-DependencyAnalyser/DAPackageRelationGraph.class.st
Labels: Status: Tests passed please review!

#15398 Do not log recompilation in the source file
  src/OpalCompiler-Core/Behavior.extension.st
Labels: Status: Tests passed please review!

#15392 Auto completion should propose globals
  src/HeuristicCompletion-Model/CoGlobalVariableFetcher.class.st
  src/HeuristicCompletion-Tests/CoMockSystemNavigation.class.st
  src/System-Support-Tests/SystemNavigationTest.class.st
  src/System-Support/SystemNavigation.class.st
Labels: Status: Tests passed please review!

#15405 OSSDL2Driver loop: Avoid creating a new Delay every 5ms
  src/OSWindow-SDL2/OSSDL2Driver.class.st
Labels: Status: Tests passed please review!

#15414 Fix Icerberg extension detection bug
  src/Kernel-Tests/AbstractClassDescriptionAnnouncementTest.class.st
  src/Kernel-Tests/AbstractClassDescriptionTest.class.st
  src/Kernel-Tests/ClassAnnouncementsTest.class.st
  src/Kernel-Tests/ClassDescriptionProtocolsTest.class.st
  src/Kernel-Tests/MethodAnnouncementsTest.class.st
  src/Kernel-Tests/ProtocolAnnouncementsTest.class.st
  src/System-Announcements/ClassRemoved.class.st
Labels: Status: Tests passed please review!

#15415 Fix class template when a tag is selected
  src/Calypso-Browser/ClyTextEditorToolMorph.class.st
  src/Calypso-SystemTools-Core/ClyClassCreationToolMorph.class.st
  src/Kernel-Tests/FluidClassDefinitionPrinterTest.class.st
  src/Kernel/FluidClassDefinitionPrinter.class.st
  src/Kernel/OldPharoClassDefinitionPrinter.class.st
  src/Traits-Tests/AbstractTraitsOnPreparedModelTest.class.st
  src/Traits-Tests/TraitFluidClassDefinitionPrinterTest.class.st
Labels: Status: Tests passed please review!

#15419 Monticello: Simplify class announcement listening
  src/Manifest-Core/ClassDescription.extension.st
  src/Manifest-Core/CompiledMethod.extension.st
  src/Metacello-Core/MetacelloProject.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/System-Announcements/ClassRepackaged.class.st
Labels: Status: Tests passed please review!

#15416 Clean Epicea Baseline
  src/BaselineOfEpicea/BaselineOfEpicea.class.st
  src/BaselineOfGeneralTests/BaselineOfGeneralTests.class.st
  src/BaselineOfIDE/BaselineOfIDE.class.st
Labels: Status: Tests passed please review!

#15418 Introduce #codeSupportAnnouncer
  src/AST-Core/ASTCache.class.st
  src/Kernel/Behavior.class.st
  src/Reflectivity-Tests/Breakpoint.extension.st
  src/Reflectivity/Breakpoint.class.st
  src/Reflectivity/MetaLink.class.st
  src/Reflectivity/MetaLinkInstaller.class.st
  src/Reflectivity/VariableBreakpoint.class.st
  src/System-Support/SystemDictionary.class.st
Labels: Status: Tests passed please review!

#15364 CompiledMethod: Preserve protocol after removal
  src/Epicea/EpMonitor.class.st
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel-Tests/AbstractObjectsAsMethod.class.st
  src/Kernel-Tests/ObjectsAsMethodsExample.class.st
  src/Kernel-Tests/ObjectsAsMethodsTest.class.st
  src/Kernel/ClassDescription.class.st
  src/Kernel/CompiledMethod.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Ring-Core/RGEnvironmentAnnouncer.class.st
  src/System-Announcements/MethodAnnouncement.class.st
  src/System-Announcements/MethodRemoved.class.st
  src/System-Announcements/SystemAnnouncer.class.st
Labels: Status: Tests passed please review!

#15422 Start to deprecate Gofer
  src/BaselineOfPharo/BaselineOfPharo.class.st
  src/Epicea-Tests/EpTriggeringIntegrationTest.class.st
  src/Gofer-Core/Gofer.class.st
  src/Gofer-Core/GoferResolvedReference.class.st
  src/Gofer-Core/ManifestGoferCore.class.st
  src/Gofer-Deprecated/Gofer.extension.st
  src/Gofer-Deprecated/GoferApiTest.extension.st
  src/Gofer-Deprecated/GoferChanges.class.st
  src/Gofer-Deprecated/GoferCleanup.class.st
  src/Gofer-Deprecated/GoferCommit.class.st
  src/Gofer-Deprecated/GoferConstraintReference.class.st
  src/Gofer-Deprecated/GoferFetch.class.st
  src/Gofer-Deprecated/GoferLocalChanges.class.st
  src/Gofer-Deprecated/GoferMerge.class.st
  src/Gofer-Deprecated/GoferMetacelloLoad.class.st
  src/Gofer-Deprecated/GoferOperationTest.extension.st
  src/Gofer-Deprecated/GoferPush.class.st
  src/Gofer-Deprecated/GoferRecompile.class.st
  src/Gofer-Deprecated/GoferReferenceTest.extension.st
  src/Gofer-Deprecated/GoferReinitialize.class.st
  src/Gofer-Deprecated/GoferRemoteChanges.class.st
  src/Gofer-Deprecated/GoferResolvedReference.extension.st
  src/Gofer-Deprecated/GoferRevert.class.st
  src/Gofer-Deprecated/GoferSynchronize.class.st
  src/Gofer-Deprecated/GoferUnload.class.st
  src/Gofer-Deprecated/GoferUpdate.class.st
  src/Gofer-Deprecated/GoferWorking.class.st
  src/Gofer-Deprecated/ManifestGoferDeprecated.class.st
  src/Gofer-Deprecated/package.st
  src/Gofer-Tests/GoferApiTest.class.st
  src/Gofer-Tests/GoferOperationTest.class.st
  src/Gofer-Tests/GoferReferenceTest.class.st
  src/JenkinsTools-ExtraReports/HDChangeReport.class.st
  src/Monticello-Tests/MCSubDirectoryRepositoryTest.class.st
Labels: Status: Tests passed please review!

#15417 Fix flacky testSubClassWithTraitsAfterModificationOfParentSharedPools
  src/Traits-Tests/TraitSlotScopeTest.class.st
Labels: Status: Tests passed please review!

#15397 Bootstrap: Remove pre Spur code
  src/Pharo30Bootstrap/PBAbstractImageBuilder.class.st
  src/Pharo30Bootstrap/PBBootstrap.class.st
  src/Pharo30Bootstrap/PBClassLoader.class.st
  src/Pharo30Bootstrap/PBImageBuilder32bit.class.st
  src/Pharo30Bootstrap/PBImageBuilder50.class.st
  src/Pharo30Bootstrap/PBImageBuilder64bit.class.st
  src/Pharo30Bootstrap/PBImageBuilderSpur50.class.st
  src/Pharo30Bootstrap/PBSpurClassLoader.class.st
Labels: Status: Tests passed please review!

#15421 Refactor ThemeIcons to have methods that answer a FormSet instead of a Form
  src/Calypso-Browser/ClyMainItemCellMorph.class.st
  src/Calypso-SystemTools-Core/ClyClassIconTableDecorator.class.st
  src/Morphic-Base/HaloMorph.class.st
  src/Polymorph-Widgets/AboutDialogWindow.class.st
  src/Polymorph-Widgets/Object.extension.st
  src/Polymorph-Widgets/ThemeIcons.class.st
Labels: Status: Tests passed please review!

#15432 fix #15407 and remove a spurious UIManager crappy pops up
  src/Refactoring-Core/RBMoveMethodToClassRefactoring.class.st
  src/Refactoring-Transformations/RBClassTransformation.class.st
Labels: more-information-needed

#15434 Fixes: #14367
  src/System-SessionManager/StartupUIManager.class.st
Labels: more-information-needed

#15445 Refact/remove class model factory
  src/Refactoring-Core-Tests/RBClassTest.class.st
  src/Refactoring-Core-Tests/RBConditionTest.class.st
  src/Refactoring-Core-Tests/RBNamespaceTest.class.st
  src/Refactoring-Core-Tests/RBSharedPoolTest.class.st
  src/Refactoring-Core-Tests/RBVariableTypeTest.class.st
  src/Refactoring-Core/RBAbstractClass.class.st
  src/Refactoring-Core/RBAbstractTransformation.class.st
  src/Refactoring-Core/RBClassModelFactory.class.st
  src/Refactoring-Core/RBEntity.class.st
  src/Refactoring-Core/RBMoveMethodToClassRefactoring.class.st
  src/Refactoring-Core/RBMoveMethodToClassSideRefactoring.class.st
  src/Refactoring-Core/RBNamespace.class.st
  src/Refactoring-Core/RBPackage.class.st
  src/Refactoring-Core/RBRefactoryTyper.class.st
  src/Refactoring-Transformations-Tests/RBExtractMethodParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBExtractSetUpMethodParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBInlineAllMethodParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBInlineMethodFromComponentParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBMoveMethodToClassParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBRenameMethodParametrizedTest.class.st
  src/Refactoring-Transformations/RBMoveMethodToClassSideTransformation.class.st
  src/Refactoring-Transformations/RBMoveMethodToClassTransformation.class.st
  src/Refactoring-UI/RBInteractionDriver.class.st
  src/SystemCommands-RefactoringSupport/TRefactoringCommandSupport.trait.st
Labels: Status: Reviewed and Ready to Integrate

#15441 Remove unused RBEnvironmentVisitor and RBEnvironmentsPresenter. Fix #…
  src/Refactoring-Environment/RBClassEnvironment.class.st
  src/Refactoring-Environment/RBPackageEnvironment.class.st
  src/Refactoring-Environment/RBProtocolEnvironment.class.st
  src/SystemCommands-RefactoringSupport/RBEnvironmentVisitor.class.st
  src/SystemCommands-RefactoringSupport/RBEnvironmentsPresenter.class.st
  src/SystemCommands-RefactoringSupport/RBFindAndReplacePreviewPresenter.class.st
Labels: Status: Reviewed and Ready to Integrate

#15423 Fix bug in recompilation of trait methods
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel/CompiledMethod.class.st
  src/OpalCompiler-Core/OpalCompiler.class.st
  src/Traits-Tests/TraitTest.class.st
Labels: Status: Tests passed please review!

#15436 Push the bahevior of SystemAnnouncer into Announcer
  src/Announcements-Core/Announcer.class.st
  src/Ring-Core/RGEnvironmentAnnouncer.class.st
  src/System-Announcements/SystemAnnouncer.class.st
Labels: Status: Tests passed please review!

#15435 Packages: Rename package tags and conflict error
  src/Calypso-SystemQueries/RPackage.extension.st
  src/CodeExport/PackageTag.extension.st
  src/Deprecated12/ClassDescription.extension.st
  src/Deprecated12/PackageTag.extension.st
  src/Manifest-Core/PackageTag.extension.st
  src/Ombu/PackageTag.extension.st
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/RPackage-Core/PackageConflictError.class.st
  src/RPackage-Core/PackageOrganizer.class.st
  src/RPackage-Core/PackageTag.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/UndefinedPackageTag.class.st
  src/RPackage-Tests/PackageOrganizerTest.class.st
  src/SystemCommands-PackageCommands-Tests/SycAddNewPackageCommandTest.class.st
  src/SystemCommands-PackageCommands/SycAddNewPackageCommand.class.st
Labels: Status: Tests passed please review!

#15424 Add tests on method announcements and fix a bug in traits announcements
  src/BaselineOfIDE/BaselineOfIDE.class.st
  src/Kernel-Tests/MethodAnnouncementsTest.class.st
  src/Kernel/ClassDescription.class.st
  src/Kernel/CompiledMethod.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/System-Announcements/MethodAnnouncement.class.st
  src/System-Announcements/SystemAnnouncer.class.st
  src/Traits-Tests/MethodAnnouncementsTest.extension.st
  src/Traits-Tests/ProtocolAnnouncementsTest.extension.st
  src/Traits-Tests/TraitAnnouncementsTest.class.st
  src/Traits-Tests/TraitTest.class.st
  src/Traits/TraitChange.class.st
Labels: Status: Tests passed please review!

#15420 Bootstrap: Remove hack for defined methods
  src/InitializePackagesCommandLineHandler/PackageOrganizer.extension.st
Labels: Status: Tests passed please review!

#15293 CompileMethod: Introduce the concept of properties to persist
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel/AdditionalMethodState.class.st
  src/Kernel/CompiledMethod.class.st
  src/RPackage-Core/RPackage.class.st
Labels: Status: Tests passed please review!

#15403 Simplify MCWorkingCopy announcement listening
  src/Kernel/ClassDescription.class.st
  src/Monticello-Tests/MCChangeNotificationTest.class.st
  src/Monticello/MCWorkingCopy.class.st
Labels: Status: Tests passed please review!

#15460 Ring: Some fixes with Traits V2
  src/Ring-Core/RGMetaclassTraitV2Strategy.class.st
  src/Ring-Core/RGTraitDescriptionStrategy.class.st
  src/Ring-Core/RGTraitV2Strategy.class.st
  src/Ring-Definitions-Core/RGClassDefinition.class.st
  src/Ring-Definitions-Core/RGMetaclassDefinition.class.st
  src/Ring-Definitions-Core/RGTraitDescriptionDefinition.class.st
  src/Ring-Definitions-Tests-Core/RGClassDefinitionTest.class.st
Labels: Status: Tests passed please review!

#15468 Announcer: Reduce usage of global SystemAnnouncer
  src/Calypso-SystemTools-Core/ClyMethodCodeEditorToolMorph.class.st
  src/CodeImport/DoItChunk.class.st
  src/EnlumineurFormatter/EFFormatter.class.st
  src/Graphics-Display Objects/DisplayScreen.class.st
  src/Hermes/HEInstaller.class.st
  src/Monticello/MCVersionLoader.class.st
  src/Monticello/MCWorkingCopy.class.st
  src/Morphic-Core/WorldMorph.class.st
  src/Morphic-Widgets-Menubar/MenubarMorph.class.st
  src/Polymorph-Widgets/ThemeIcons.class.st
  src/Polymorph-Widgets/UITheme.class.st
  src/PragmaCollector/PragmaCollector.class.st
  src/Refactoring-Changes/RBRefactoryChangeManager.class.st
  src/Reflectivity/ExecutionCounter.class.st
  src/SUnit-Core/TestCase.class.st
  src/System-Changes/ChangeSet.class.st
  src/System-SessionManager/SessionManager.class.st
  src/System-Support/SystemDictionary.class.st
Labels: Status: Tests passed please review!

#15466 Monticello: Remove unused announcer
  src/Monticello/MCWorkingCopy.class.st
Labels: Status: Tests passed please review!

#15486 Improving performance of some Refactoring Transformation tests
  src/Refactoring-Transformations-Tests/RBAbstractTransformationTest.class.st
  src/Refactoring-Transformations-Tests/RBExtractMethodTransformationTest.class.st
  src/Refactoring-Transformations-Tests/RBRemoveClassPushStateToSubclassesTest.class.st
Labels: Project: Refactorings

#15488 Ring: Fix RGPackage>>#asMCSnapshot
  src/Ring-Monticello/RGPackage.extension.st
  src/Ring-Tests-Monticello/RGMCPackageTest.class.st
Labels: Status: Tests passed please review!

#15494 Small improvements to the primary baselines
  src/BaselineOfIDE/BaselineOfIDE.class.st
  src/BaselineOfIDE/ManifestBaselineOfIDE.class.st
  src/BaselineOfPharo/BaselineOfPharo.class.st
  src/BaselineOfPharo/ManifestBaselineOfPharo.class.st
  src/BaselineOfPharo/PharoExternalProject.class.st
Labels: Status: Tests passed please review!

#15461 Bootstrap: Remove dead code
  src/Pharo30Bootstrap/PBAbstractImageBuilder.class.st
Labels: Status: Tests passed please review!

#15490 Cleanup: Fix notNil -> isNotNil in all Refactoring-* packages
  src/Refactoring-Changes-Tests/RBRefactoringChangeTest.class.st
  src/Refactoring-Core-Tests/RBNamespaceTest.class.st
  src/Refactoring-Core-Tests/RBVariableTypeTest.class.st
  src/Refactoring-Core/RBAbstractClass.class.st
  src/Refactoring-Core/RBAbstractVariablesRefactoring.class.st
  src/Refactoring-Core/RBClassRegexRefactoring.class.st
  src/Refactoring-Core/RBCondition.class.st
  src/Refactoring-Core/RBCreateAccessorsForVariableTransformation.class.st
  src/Refactoring-Core/RBDeprecateClassRefactoring.class.st
  src/Refactoring-Core/RBExtractToTemporaryRefactoring.class.st
  src/Refactoring-Core/RBInlineMethodRefactoring.class.st
  src/Refactoring-Core/RBMoveMethodRefactoring.class.st
  src/Refactoring-Core/RBNamespace.class.st
  src/Refactoring-Core/RBPullUpMethodRefactoring.class.st
  src/Refactoring-Core/RBRefactoring.class.st
  src/Refactoring-Core/RBRefactoryTyper.class.st
  src/Refactoring-Core/RBRenameClassRefactoring.class.st
  src/Refactoring-Critics/RBSmalllintContext.class.st
  src/Refactoring-DataForTesting/RBBasicDummyLintRuleTest.class.st
  src/Refactoring-DataForTesting/RBBasicLintRuleTestData.class.st
  src/Refactoring-DataForTesting/RBClassDataForRefactoringTest.class.st
  src/Refactoring-DataForTesting/RBDummyCompositeLintRuleTest.class.st
  src/Refactoring-Environment/RBBrowserEnvironment.class.st
  src/Refactoring-Environment/RBBrowserEnvironmentWrapper.class.st
  src/Refactoring-Environment/RBClassEnvironment.class.st
  src/Refactoring-Environment/RBSelectorEnvironment.class.st
  src/Refactoring-Environment/RBVariableEnvironment.class.st
  src/Refactoring-Transformations-Tests/RBInlineMethodParametrizedTest.class.st
  src/Refactoring-Transformations/RBAbstractVariablesTransformation.class.st
  src/Refactoring-Transformations/RBExtractToTemporaryTransformation.class.st
  src/Refactoring-Transformations/RBInlineMethodTransformation.class.st
  src/Refactoring-Transformations/RBMoveMethodTransformation.class.st
  src/Refactoring-Transformations/RBMoveTemporaryVariableDefinitionTransformation.class.st
  src/Refactoring-Transformations/RBPullUpMethodTransformation.class.st
  src/Refactoring-Transformations/RBRealizeClassTransformation.class.st
Labels: Status: Tests passed please review!

#15511 15446 clipboard class should be packaged outside of morphic core
  src/BaselineOfGeneralTests/BaselineOfGeneralTests.class.st
  src/BaselineOfMorphicCore/BaselineOfMorphicCore.class.st
  src/Deprecated12/Clipboard.extension.st
  src/Morphic-Core/Clipboard.class.st
  src/OSWindow-Core/OSWindowClipboard.class.st
  src/Rubric/RubTextEditor.class.st
  src/System-Clipboard-Tests/ClipboardTest.class.st
  src/System-Clipboard-Tests/ManifestSystemClipboardTests.class.st
  src/System-Clipboard-Tests/package.st
  src/System-Clipboard/Clipboard.class.st
  src/System-Clipboard/ExternalClipboard.class.st
  src/System-Clipboard/MacOSClipboard.class.st
  src/System-Clipboard/MacOSPlatform.extension.st
  src/System-Clipboard/OSPlatform.extension.st
  src/System-Clipboard/UnixClipboard.class.st
  src/System-Clipboard/UnixPlatform.extension.st
Labels: Status: Tests passed please review!

#15377 Rename RPackage into Package
  bootstrap/scripts/testing/core/runTests.st
  src/Calypso-NavigationModel/Package.extension.st
  src/Calypso-Ring/RGPackage.extension.st
  src/Calypso-SystemPlugins-Critic-Browser/ClyOpenCriticBrowserCommand.class.st
  src/Calypso-SystemPlugins-DependencyAnalyser-Browser/ClyOpenDependencyBrowserCommand.class.st
  src/Calypso-SystemPlugins-Monticello-Browser/ClyBrowseIcebergCommitCommand.class.st
  src/Calypso-SystemPlugins-Monticello-Browser/ClyBrowseIcebergPackageCommand.class.st
  src/Calypso-SystemPlugins-Monticello-Browser/ClyBrowseIcebergRepositoryCommand.class.st
  src/Calypso-SystemPlugins-SUnit-Browser/ClyRunTestsFromPackagesCommand.class.st
  src/Calypso-SystemQueries/ClyNoTagClassGroup.class.st
  src/Calypso-SystemQueries/ClyPackageQuery.class.st
  src/Calypso-SystemQueries/Package.extension.st
  src/Calypso-SystemTools-Core/ClyPackageTableDecorator.class.st
  src/Calypso-SystemTools-Core/ClySystemSearchDialogContext.class.st
  src/Calypso-SystemTools-Core/SycMoveMethodsToPackageCommand.extension.st
  src/Calypso-SystemTools-FullBrowser-Tests/ClyQueryViewStateTest.class.st
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserMorph.class.st
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserPackageContext.class.st
  src/Calypso-SystemTools-FullBrowser/ClyMoveClassToGroupCommand.class.st
  src/Calypso-SystemTools-FullBrowser/ClyMoveMethodGroupsToPackageCommand.class.st
  src/Calypso-SystemTools-FullBrowser/SycDemoteToPackageWithTagCommand.extension.st
  src/Calypso-SystemTools-FullBrowser/SycRecompilePackageCommand.extension.st
  src/CodeExport/Package.extension.st
  src/Deprecated12/Package.extension.st
  src/Manifest-Core/Package.extension.st
  src/Manifest-Core/TheManifestBuilder.class.st
  src/Monticello-BackwardCompatibility/MCClassTraitDefinition.class.st
  src/Monticello-Model/MCClassDefinition.class.st
  src/Monticello-Model/MCOrganizationDefinition.class.st
  src/Monticello-Model/Package.extension.st
  src/Monticello/Package.extension.st
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/RPackage-Core/Package.class.st
  src/RPackage-Core/PackageOrganizer.class.st
  src/RPackage-Core/UndefinedPackage.class.st
  src/RPackage-Tests/PackageOnModelTest.class.st
  src/RPackage-Tests/PackageOrganizerTest.class.st
  src/Refactoring-Environment/Package.extension.st
  src/Renraku/Package.extension.st
  src/Renraku/ReRuleManager.class.st
  src/Ring-Core/Package.extension.st
  src/Ring-Definitions-Core/Package.extension.st
  src/SUnit-Tests/Package.extension.st
  src/SUnit-Visitor/Package.extension.st
  src/SUnit-Visitor/RPackage.extension.st
  src/Specific-Rules-Tests/PharoBootstrapRuleTest.class.st
  src/System-Support/Package.extension.st
  src/TestRunner-Core/Package.extension.st
  src/Tool-Base/Package.extension.st
  src/Tool-DependencyAnalyser-Tests/DAMessageSendAnalyzerTest.class.st
  src/Tool-DependencyAnalyser-UI-Tab/DABrowserToolMorph.class.st
  src/Tool-DependencyAnalyser/DAMessageSendAnalyzer.class.st
  src/Tool-DependencyAnalyser/Package.extension.st
Labels: Status: Tests passed please review!

#15359 Remove last references to RPackage
  bootstrap/scripts/4-build.sh
  src/Calypso-SystemPlugins-Traits-Browser/ClyCreateTraitCommand.class.st
  src/Calypso-SystemQueries/ClyExternalPackageMethodGroup.class.st
  src/Calypso-SystemQueries/ClyPackageChange.class.st
  src/Calypso-SystemQueries/ClyPackageExtensionMethodsQuery.class.st
  src/Calypso-SystemTools-Core/ClyClassCreationToolMorph.class.st
  src/Calypso-SystemTools-Core/ClyMethodEditorToolMorph.class.st
  src/Calypso-SystemTools-FullBrowser/ClyMoveMethodGroupsToPackageCommand.class.st
  src/Calypso-SystemTools-FullBrowser/ClyRenamePackageTagCommand.class.st
  src/Epicea/EpMonitor.class.st
  src/HeuristicCompletion-Model/CoBenchmarkPackage.class.st
  src/Kernel/ClassDescription.class.st
  src/Monticello-Tests/RPackageMonticelloSynchronisationTest.class.st
  src/Pharo30Bootstrap/PBBootstrap.class.st
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/RPackage-Core/PackageAdded.class.st
  src/RPackage-Core/PackageConflictError.class.st
  src/RPackage-Core/PackageRemoved.class.st
  src/RPackage-Core/PackageRenamed.class.st
  src/RPackage-Tests/PackageAndTraitOnModelTest.class.st
  src/RPackage-Tests/PackageAndTraitsTest.class.st
  src/RPackage-Tests/PackageObsoleteTest.class.st
  src/RPackage-Tests/PackageTagTest.class.st
  src/RPackage-Tests/PackageTest.class.st
  src/RPackage-Tests/PackageTestCase.class.st
  src/Refactoring-Core/RBRegexRefactoring.class.st
  src/Refactoring-Critics/RBSmalllintChecker.class.st
  src/Renraku/ReRuleManager.class.st
  src/Ring-Definitions-Core/String.extension.st
  src/SUnit-Visitor/SUnitSuiteBuilder.class.st
  src/SUnit-Visitor/SUnitVisitor.class.st
  src/SystemCommands-MethodCommands/SycMoveMethodsToPackageCommand.class.st
  src/SystemCommands-PackageCommands/SycAddNewClassTagCommand.class.st
  src/SystemCommands-PackageCommands/SycAddNewPackageCommand.class.st
  src/SystemCommands-PackageCommands/SycCopyPackageCommand.class.st
  src/SystemCommands-PackageCommands/SycPackageCommand.class.st
  src/SystemCommands-PackageCommands/SycPromotePackageFromTagCommand.class.st
  src/SystemCommands-PackageCommands/SycRenamePackageCommand.class.st
  src/TestRunner-Core/NewTestRunner.class.st
Labels: Status: Tests passed please review!

#15462 Bootstrap: Do not rely on symlink to locate the bootstrap files
  bootstrap/scripts/prepare_image.st
  bootstrap/src/.properties
  bootstrap/src/BaselineOfPharoBootstrapProcess
  bootstrap/src/Pharo30Bootstrap
Labels: Status: Tests passed please review!

#15521 Integrate new release of pharo-ai / graph-algorithms v1.2.6
  src/BaselineOfDependencyAnalyzer/BaselineOfDependencyAnalyzer.class.st
Labels: Status: Tests passed please review!

#15528 transform timeout: into timeLimit:
  src/Kernel-Tests-Extended/IntegerTest.extension.st
Labels: more-information-needed

#15533 Bootstrap: Update localisation of SourceFileArray
  bootstrap/scripts/4-build.sh
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/System-Sources/SourceFileArray.class.st
Labels: Status: Tests passed please review!

#15459 Rename Pharo30Bootstrap into PharoBootstrap
  src/BaselineOfPharoBootstrapProcess/BaselineOfPharoBootstrapProcess.class.st
  src/Pharo30Bootstrap/package.st
  src/PharoBootstrap/PBAbstractImageBuilder.class.st
  src/PharoBootstrap/PBBootstrap.class.st
  src/PharoBootstrap/PBBootstrapLogger.class.st
  src/PharoBootstrap/PBBootstrapStatistics.class.st
  src/PharoBootstrap/PBClassDefinition.class.st
  src/PharoBootstrap/PBClassLoader.class.st
  src/PharoBootstrap/PBImageBuilder32bit.class.st
  src/PharoBootstrap/PBImageBuilder64bit.class.st
  src/PharoBootstrap/PBInstanceVariableMapping.class.st
  src/PharoBootstrap/PBSignal.class.st
  src/PharoBootstrap/PBStepFinishedSignal.class.st
  src/PharoBootstrap/PBStepStartedSignal.class.st
  src/PharoBootstrap/PBSubStepFinishedSignal.class.st
  src/PharoBootstrap/PBVersionInfo.class.st
  src/PharoBootstrap/PBVersionInfoTest.class.st
  src/PharoBootstrap/RGEnvironment.extension.st
  src/PharoBootstrap/RGInstanceVariableSlot.extension.st
  src/PharoBootstrap/RGSlot.extension.st
  src/PharoBootstrap/TonelRepository.extension.st
  src/PharoBootstrap/package.st
Labels: Status: Tests passed please review!

#15532 Add logs on PharoBootstrapInitialization
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
Labels: Status: Tests passed please review!

#15544 Fix #14957 by removing the special case for empty string
  src/Rubric-SpecFindReplaceDialog/SpRubFindReplaceDialog.class.st
Labels: Status: Tests passed please review!

#15526 Add String>>#findClosing:startingAt: generalizing #findCloseParenthesisFor:
  src/Collections-Strings-Tests/StringTest.class.st
  src/Collections-Strings/String.class.st
  src/Deprecated12/String.extension.st
Labels: Status: Tests passed please review!

#15505 Bootstrap: Improve logging architecture
  src/PharoBootstrap/PBAbstractImageBuilder.class.st
  src/PharoBootstrap/PBBootstrap.class.st
  src/PharoBootstrap/PBBootstrapLogger.class.st
  src/PharoBootstrap/PBLogger.class.st
Labels: Status: Tests passed please review!

#15557 Remove Class Variable refactoring since we have removeSharedVariableR…
  src/Refactoring-Core/RBCondition.class.st
  src/Refactoring-Core/RBRemoveClassVariableRefactoring.class.st
  src/Refactoring-Transformations-Tests/RBRemoveClassVariableParametrizedTest.class.st
  src/Refactoring-Transformations-Tests/RBRemoveClassVariableRefactoringTest.class.st
Labels: Status: Tests passed please review!

#15555 Removing all the RemoveClass strategy now that we have a driver.
  src/BaselineOfSystemCommands/BaselineOfSystemCommands.class.st
  src/Calypso-SystemQueries/SycRemoveClassStrategy.extension.st
  src/Calypso-SystemTools-Core/ClyBrowserMorph.extension.st
  src/Calypso-SystemTools-Core/ClySystemBrowserContext.class.st
  src/Calypso-SystemTools-QueryBrowser/ClyInteractiveRemoveClassStrategy.class.st
  src/Calypso-SystemTools-QueryBrowser/ClyNotRemoveAndShowReferencesClassStrategy.class.st
  src/Calypso-SystemTools-QueryBrowser/ClyNotRemoveAndShowSubclassesClassStrategy.class.st
  src/Calypso-SystemTools-QueryBrowser/ClyNotRemoveAndShowUsersClassStrategy.class.st
  src/SystemCommands-ClassCommands-Tests/SycRemoveClassStrategyTest.class.st
  src/SystemCommands-ClassCommands/SycNotRemoveClassStrategy.class.st
  src/SystemCommands-ClassCommands/SycRemoveKeepingSubclassesClassStrategy.class.st
  src/SystemCommands-ClassCommands/SycRenameClassCommand2.class.st
  src/SystemCommands-ClassCommands/SycSilentlyRemoveClassStrategy.class.st
Labels: Status: Tests passed please review!, more-information-needed

#15558 Refactor: remove method driver
  src/Refactoring-Core/RBCompositeRefactoring.class.st
  src/Refactoring-Core/RBDefinesSelectorsCondition.class.st
  src/Refactoring-Core/RBMethodsCondition.class.st
  src/Refactoring-Core/RBMethodsHaveNoSendersCondition.class.st
  src/Refactoring-Core/RBRefactoring.class.st
  src/Refactoring-Core/RBRemoveClassRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodsInHierarchyRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodsRefactoring.class.st
  src/Refactoring-Transformations-Tests/RBRemoveMethodsRefactoringTest.class.st
  src/Refactoring-UI/RBDontRemoveButShowSendersChoice.class.st
  src/Refactoring-UI/RBRemoveAndShowSendersChoice.class.st
  src/Refactoring-UI/RBRemoveChoice.class.st
  src/Refactoring-UI/RBRemoveClassDriver.class.st
  src/Refactoring-UI/RBRemoveMethodChoice.class.st
  src/Refactoring-UI/RBRemoveMethodDriver.class.st
Labels: Status: Tests passed please review!

#15588 Packages: Unify way to name tags
  src/Calypso-SystemPlugins-FileOut-Queries/ClyTaggedClassGroup.extension.st
  src/Calypso-SystemQueries/Package.extension.st
  src/CodeExport/Package.extension.st
  src/Deprecated12/Package.extension.st
  src/Deprecated12/PackageOrganizer.extension.st
  src/EpiceaBrowsers/EpBrowseVisitor.class.st
  src/General-Rules/ReClassNotCategorizedRule.class.st
  src/InitializePackagesCommandLineHandler/PackageOrganizer.extension.st
  src/Kernel/Package.class.st
  src/RPackage-Tests/PackageAndClassesTest.class.st
  src/RPackage-Tests/PackageOnModelTest.class.st
  src/RPackage-Tests/PackageRenameTest.class.st
  src/RPackage-Tests/PackageTagTest.class.st
  src/RPackage-Tests/PackageTest.class.st
  src/ReleaseTests/ProperPackagesTest.class.st
  src/ReleaseTests/ReleaseTest.class.st
  src/Ring-OldChunkImporter/RingChunkImporter.class.st
  src/SystemCommands-PackageCommands/SycPromotePackageFromTagCommand.class.st
Labels: Status: Tests passed please review!

#15603 15592-MNU-when-looking-for-the-writers-of-a-shared-pool-variable
  src/Kernel/CleanBlockClosure.class.st
  src/Slot-Tests/ClassVariableTest.class.st
Labels: Status: Tests passed please review!

#15595 Move IR decompilation from Opal to Flashback
  src/BaselineOfIDE/BaselineOfIDE.class.st
  src/Flashback-Decompiler-Tests/FBIRBytecodeDecompilerTest.class.st
  src/Flashback-Decompiler-Tests/RBCodeSnippetTest.extension.st
  src/Flashback-Decompiler/CompiledMethod.extension.st
  src/Flashback-Decompiler/FBIRBytecodeDecompiler.class.st
  src/OpalCompiler-Core/CompiledMethod.extension.st
  src/OpalCompiler-Tests/OCBytecodeDecompilerExamplesTest.class.st
  src/OpalCompiler-Tests/RBCodeSnippetTest.extension.st
Labels: Status: Tests passed please review!

#15534 Remove some SessionManager dependencies from Kernel
  src/Kernel/Delay.class.st
  src/Kernel/ProcessorScheduler.class.st
  src/PharoBootstrap-Initialization/PharoBootstrapInitialization.class.st
  src/System-SessionManager/SessionManager.class.st
  src/System-SessionManager/SmalltalkImage.extension.st
  src/System-Support/SmalltalkImage.class.st
  src/System-Support/SystemDictionary.class.st
Labels: Status: Tests passed please review!

#15605 Bootstrap: Remove Network-UUID from KernelGroup
  bootstrap/scripts/4-build.sh
  src/BaselineOfPharoBootstrap/BaselineOfPharoBootstrap.class.st
  src/System-SessionManager/WorkingSession.class.st
Labels: Status: Tests passed please review!

#15609 Repackage some ByteArray methods
  src/Collections-Native/ByteArray.class.st
  src/System-Hashing/ByteArray.extension.st
Labels: Status: Tests passed please review!

#15443 Fix inconsistent behavior after BlockCannotReturn exception; fixes issue #15433
  src/Kernel-Tests-Extended/ProcessTest.class.st
  src/Kernel/Context.class.st
Labels: Status: Tests passed please review!

#15506 Activate strict FFI
  src/Athens-Cairo/AthensCairoCanvas.class.st
  src/Athens-Cairo/CairoFontMetricsProvider.class.st
  src/System-OSEnvironments/UnixEnvironment.class.st
  src/UnifiedFFI-Tests/FFICalloutAPITest.class.st
  src/UnifiedFFI/FFILibrary.class.st
  src/UnifiedFFI/FFIStrictResolutionMode.class.st
Labels: Status: Tests passed please review!

#15626 add CompiledCode #basicNew:header:
  src/Fuel-Core/FLCompiledBlockCluster.class.st
  src/Fuel-Core/FLCompiledMethodCluster.class.st
  src/Hermes/HECompiledBlock.class.st
  src/Hermes/HEInstaller.class.st
  src/Kernel/CompiledCode.class.st
  src/Kernel/CompiledMethod.class.st
  src/Kernel/Object.class.st
  src/Monticello-BackwardCompatibility/MCDataStream.extension.st
  src/OpalCompiler-Core/IRBytecodeGenerator.class.st
Labels: Status: Tests passed please review!

#15624 Remove dead code in Debugging-Core
  src/Debugging-Core/BlockLocalTempCounter.class.st
  src/Debugging-Core/CompiledCode.extension.st
  src/Debugging-Core/Context.extension.st
  src/Debugging-Core/InstVarRefLocator.class.st
  src/Deprecated12/Context.extension.st
  src/FFI-Kernel/ExternalStructure.class.st
  src/Kernel-BytecodeEncoders/EncoderForSistaV1.class.st
  src/Kernel-Tests-Extended/CompiledMethodTest.class.st
  src/Kernel-Tests-Extended/ContextTest.extension.st
  src/Kernel-Tests-Extended/InstVarRefLocatorTest.class.st
  src/Kernel/Behavior.class.st
  src/Kernel/CompiledCode.class.st
  src/Kernel/Context.class.st
  src/Kernel/Object.class.st
  src/Kernel/Process.class.st
  src/OpalCompiler-Core/CompiledMethod.extension.st
  src/OpalCompiler-Core/IRMethod.class.st
  src/OpalCompiler-Core/IRSequence.class.st
  src/OpalCompiler-Tests/OCBytecodeGeneratorTest.class.st
  src/SUnit-Core/ClassTestCase.class.st
Labels: Status: Tests passed please review!
