Repository pharo-project/pharo, pull requests merged in 2023-08, with the labels that each got.

#14398 Make ClassFactoryForTestCase follow changes on class definition
  src/Deprecated12/ClassFactoryForTestCase.extension.st
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/EpiceaBrowsers-Tests/EpHasImpactFilterTest.class.st
  src/Equals-Tests/TEqualityTest.class.st
  src/Kernel-Tests/IVsAndClassVarNamesConflictTest.class.st
  src/ReleaseTests/ObsoleteTest.class.st
  src/SUnit-Core/ClassFactoryForTestCase.class.st
  src/SUnit-Core/ManifestSUnitCore.class.st
  src/SUnit-Tests/ClassFactoryForTestCaseTest.class.st
  src/SUnit-Tests/ClassFactoryWithNonDefaultEnvironmentTest.class.st
  src/SUnit-Tests/TestCaseTest.class.st
  src/System-Changes-Tests/ChangeSetClassChangesTest.class.st
  src/System-Sources-Tests/SourceFileBufferedReadWriteStreamTest.class.st
  src/System-Support-Tests/SystemNavigationTest.class.st
Labels: tests passed please review!

#14402 Fixing shared variable remove
  src/Calypso-SystemTools-FullBrowser/SycRemoveVariableCommand.extension.st
  src/Refactoring-Core/RBAbstractClass.class.st
  src/Refactoring-Core/RBCondition.class.st
  src/Refactoring-Core/RBRemoveInstanceVariableRefactoring.class.st
  src/Refactoring-Core/RBRemoveSharedVariableRefactoring.class.st
  src/Refactoring-Core/RBSplitClassRefactoring.class.st
  src/Refactoring-Environment/RBBrowserEnvironment.class.st
  src/Refactoring-Tests-Core/RBClassTest.class.st
  src/Refactoring-Tests-Core/RBConditionTest.class.st
  src/Refactoring-UI/RBInstanceVariableStillReferenced.class.st
  src/Refactoring-UI/RBOverrideMethod.class.st
  src/Refactoring-UI/RBRemoveInstanceVariableDriver.class.st
  src/Refactoring-UI/RBRemoveSharedVariableDriver.class.st
  src/Refactoring-UI/RBRenameMethodDriver.class.st
  src/Refactoring-UI/RBSharedVariableStillReferenced.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveInstanceVariable2ParametrizedTest.class.st
  src/SystemCommands-VariableCommands/SycRemoveVariable2Command.class.st
  src/SystemCommands-VariableCommands/SycRemoveVariableCommand.class.st
Labels: Need more work

#14017 Disable Epicea in tests
  src/Epicea-Tests/EpAsEpiceaRingDefinitionTest.class.st
  src/Epicea-Tests/EpLogTest.class.st
  src/Epicea-Tests/EpMonitorIntegrationTest.class.st
  src/Epicea/EpMonitor.class.st
  src/Epicea/TestCase.extension.st
  src/EpiceaBrowsers-Tests/EpFilterTest.class.st
  src/EpiceaBrowsers-Tests/EpHasImpactFilterTest.class.st
  src/EpiceaBrowsers-Tests/EpOmbuExporterTest.class.st
  src/RottenTestsFinder-FakeTests/RTFFakeTestSuperClass.class.st
Labels: tests passed please review!

#14404 Use ClassFactoryForTestCase instead of FLClassFactoryForTestCase
  src/Fuel-Core-Tests/FLBasicSerializationTest.class.st
  src/Fuel-Core-Tests/FLBlockClosureSerializationTest.class.st
  src/Fuel-Core-Tests/FLClassFactoryForTestCase.class.st
  src/Fuel-Core-Tests/FLCompiledMethodSerializationTest.class.st
  src/Fuel-Core-Tests/FLConfigurationTest.class.st
  src/Fuel-Core-Tests/FLCreateClassSerializationTest.class.st
  src/Fuel-Core-Tests/FLCreateTraitSerializationTest.class.st
  src/Fuel-Core-Tests/FLFullBasicSerializationTest.class.st
  src/Fuel-Core-Tests/FLFullHeaderSerializationTest.class.st
  src/Fuel-Core-Tests/FLGlobalClassSerializationTest.class.st
  src/Fuel-Core-Tests/FLGlobalTraitSerializationTest.class.st
  src/Fuel-Core-Tests/FLHeaderSerializationTest.class.st
  src/Fuel-Core-Tests/FLHookedSubstitutionTest.class.st
  src/Fuel-Core-Tests/FLIgnoredVariablesTest.class.st
  src/Fuel-Core-Tests/FLMigrationTest.class.st
  src/Fuel-Core-Tests/FLSerializationTest.class.st
  src/Fuel-Core-Tests/FLTCreateClassOrTraitSerializationTest.trait.st
  src/Fuel-Core-Tests/FLTGlobalClassOrTraitSerializationTest.trait.st
  src/Fuel-Core-Tests/FLTraitSerializationTest.class.st
  src/SUnit-Core/ClassFactoryForTestCase.class.st
Labels: tests passed please review!

#14407 Package: React to class renaming without announcement
  src/RPackage-Core/RPackageOrganizer.class.st
  src/System-Support/SystemDictionary.class.st
Labels: tests passed please review!

#14409 Backport fixed tests
  src/Announcements-Core-Tests/WeakAnnouncerTest.class.st
  src/Coverage/CoverageCollectorTest.class.st
  src/Fuel-Tests-Core/FLCreateClassSerializationTest.class.st
  src/Fuel-Tests-Core/FLTCreateClassOrTraitSerializationTest.trait.st
  src/SUnit-Core/TestCase.class.st
  src/System-DependenciesTests/SystemDependenciesTest.class.st
Labels: pharo11

#14413 Fix RBCondition test
  src/Refactoring-Tests-Core/RBClassTest.class.st
Labels: more-information-needed

#14408 Introduce Class>>packageName and simplify Epicea
  src/Calypso-SystemQueries/ClyClass.class.st
  src/Calypso-SystemQueries/ClyClassComment.class.st
  src/Epicea/Class.extension.st
  src/Epicea/EpPlatform.class.st
  src/Epicea/Trait.extension.st
  src/Kernel/ClassDescription.class.st
  src/ProfStef-Core/AbstractTutorial.class.st
  src/RPackage-Core/ClassDescription.extension.st
Labels: tests passed please review!

#14410 Use real classes in #classDefinedSelectors
  src/Calypso-SystemQueries/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
  src/System-Support-Tests/SystemNavigationTest.class.st
Labels: tests passed please review!

#14416 RPackage: Save package defined selectors with class instance
  src/Calypso-SystemQueries/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
  src/System-Support-Tests/SystemNavigationTest.class.st
Labels: tests passed please review!

#14427 Epicea: Migrate category addition and removal to package tag API
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/Epicea/EpCategoryAddition.class.st
  src/Epicea/EpCategoryChange.class.st
  src/Epicea/EpCategoryRemoval.class.st
  src/Epicea/EpMonitor.class.st
  src/Epicea/EpPackageTagAddition.class.st
  src/Epicea/EpPackageTagRemoval.class.st
  src/Epicea/EpTCodeChangeVisitor.trait.st
  src/Epicea/TestCase.extension.st
  src/EpiceaBrowsers-Tests/EpApplyPreviewerTest.class.st
  src/EpiceaBrowsers-Tests/EpApplyTest.class.st
  src/EpiceaBrowsers-Tests/EpRevertTest.class.st
  src/EpiceaBrowsers/EpApplyPreviewer.class.st
  src/EpiceaBrowsers/EpApplyVisitor.class.st
  src/EpiceaBrowsers/EpContentStringVisitor.class.st
  src/EpiceaBrowsers/EpHasImpactVisitor.class.st
  src/EpiceaBrowsers/EpIconVisitor.class.st
  src/EpiceaBrowsers/EpInverseVisitor.class.st
  src/EpiceaBrowsers/EpMorphVisitor.class.st
  src/EpiceaBrowsers/EpNewStateVisitor.class.st
  src/EpiceaBrowsers/EpOldStateVisitor.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14425 Improve flacky test
  src/SUnit-Tests/ClassFactoryForTestCaseTest.class.st
  src/SUnit-Tests/TestCaseTest.class.st
  src/System-Support-Tests/SystemNavigationTest.class.st
Labels: tests passed please review!

#14424 Use PackageTagAdded instead of CategoryAdded
  src/Refactoring-Changes/RBRefactoryChangeManager.class.st
  src/SUnit-UI/TestRunner.class.st
Labels: tests passed please review!

#14420 Package: Remove methods without announcement
  src/Kernel-Tests/AbstractObjectsAsMethod.class.st
  src/Kernel/ClassDescription.class.st
  src/Kernel/CompiledMethod.class.st
  src/RPackage-Core/CompiledMethod.extension.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/Reflectivity/ReflectiveMethod.class.st
  src/TraitsV2/TraitChange.class.st
Labels: tests passed please review!

#14419 Package: Save extension selectors under real classes
  src/Calypso-SystemQueries/RPackage.extension.st
  src/CodeExport/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14426 RPackage: Do not manage differently instance and class side methods
  src/Calypso-SystemQueries/RPackage.extension.st
  src/CodeExport/RPackage.extension.st
  src/RPackage-Core/RPackage.class.st
Labels: tests passed please review!

#14351 Backport display scale factor improvements to Pharo 11
  src/Calypso-Browser/ClyBrowserMorph.class.st
  src/Calypso-Browser/ClyMainItemCellMorph.class.st
  src/Calypso-Browser/ClyNotebookPageActionButtonMorph.class.st
  src/Calypso-Browser/ClyNotebookPageMorph.class.st
  src/Calypso-Browser/ClyToolbarMorph.class.st
  src/Calypso-SystemPlugins-InheritanceAnalysis-Browser/ClyOverriddenMethodTableDecorator.class.st
  src/EpiceaBrowsers/EpLogBrowserPresenter.class.st
  src/EpiceaBrowsers/EpUnifiedBrowserPresenter.class.st
  src/Morphic-Base/HaloMorph.class.st
  src/Morphic-Core/BorderStyle.class.st
  src/Morphic-Core/Number.extension.st
  src/Morphic-Core/WorldState.class.st
  src/Morphic-Widgets-Basic/IconicButtonMorph.class.st
  src/Morphic-Widgets-FastTable/FTTreeDataSource.class.st
  src/Polymorph-Widgets/PharoDarkTheme.class.st
  src/Polymorph-Widgets/ThemeSettings.class.st
  src/Polymorph-Widgets/UITheme.class.st
  src/ProfStef-Core/ProfStef.class.st
  src/Rubric/RubTextSegmentIconDisplayer.class.st
  src/System-Settings-Browser/SettingBrowser.class.st
  src/Tool-Finder/FinderUI.class.st
  src/Transcript-Core/ThreadSafeTranscript.class.st
Labels: tests passed please review!

#14352 Backport scale 2.0 icons support to Pharo 11
  src/Polymorph-Widgets/ThemeIcons.class.st
  src/Polymorph-Widgets/UITheme.class.st
Labels: tests passed please review!

#14163 Changed finder behavior to not depend on copies
  src/Tool-Finder-Tests/MethodFinderTest.class.st
  src/Tool-Finder/FinderExamplesSearchStrategy.class.st
  src/Tool-Finder/MethodFinder.class.st
Labels: tests passed please review!

#14430 TestRunner should not rely on category announcements
  src/SUnit-UI/TestRunner.class.st
Labels: tests passed please review!

#14428 Epicea: Finish refactoring about packages and tags in Epicea
  src/Epicea-Tests/EpCodeChangeIntegrationTest.class.st
  src/Epicea/EpBehaviorChange.class.st
  src/Epicea/EpCategoryChange.class.st
  src/Epicea/EpCategoryRename.class.st
  src/Epicea/EpClassChange.class.st
  src/Epicea/EpCodeChange.class.st
  src/Epicea/EpEvent.class.st
  src/Epicea/EpMethodChange.class.st
  src/Epicea/EpMonitor.class.st
  src/Epicea/EpPackageRename.class.st
  src/Epicea/EpPackageTagAddition.class.st
  src/Epicea/EpPackageTagChange.class.st
  src/Epicea/EpPackageTagRemoval.class.st
  src/Epicea/EpPackageTagRename.class.st
  src/Epicea/EpProtocolChange.class.st
  src/Epicea/EpTCodeChangeVisitor.trait.st
  src/Epicea/EpTraitChange.class.st
  src/EpiceaBrowsers-Tests/EpApplyPreviewerTest.class.st
  src/EpiceaBrowsers-Tests/EpApplyTest.class.st
  src/EpiceaBrowsers-Tests/EpLogBrowserOperationFactoryTest.class.st
  src/EpiceaBrowsers-Tests/EpLostChangesDetectorTest.class.st
  src/EpiceaBrowsers-Tests/EpRevertTest.class.st
  src/EpiceaBrowsers/EpApplyPreviewer.class.st
  src/EpiceaBrowsers/EpApplyVisitor.class.st
  src/EpiceaBrowsers/EpBrowseVisitor.class.st
  src/EpiceaBrowsers/EpHasImpactVisitor.class.st
  src/EpiceaBrowsers/EpIconVisitor.class.st
  src/EpiceaBrowsers/EpInverseVisitor.class.st
  src/EpiceaBrowsers/EpMorphVisitor.class.st
  src/EpiceaBrowsers/EpNewStateVisitor.class.st
  src/EpiceaBrowsers/EpOldStateVisitor.class.st
  src/Monticello-Tests/RPackageCategorySynchronisationTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageTag.class.st
Labels: tests passed please review!

#14434 RPackageTag should store real classes
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/Renraku-Tests/RenrakuBaseTestCase.class.st
  src/SUnit-Rules-Tests/ReTestBasedTestCase.class.st
Labels: tests passed please review!

#14436 RPackage: Factorize import code
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14437 RPackage: Simplify some code in RPackageOrganizer
  src/Monticello-Tests/RPackageClassesSynchronisationTest.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageOrganizerAndSystemOrganizeSynchTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
Labels: tests passed please review!

#14438 Deprecate CategoryRemoved and CategoryRenamed
  src/Deprecated12/PackageTagAnnouncement.extension.st
  src/Deprecated12/PackageTagRenamed.extension.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/System-Announcements/CategoryRemoved.class.st
  src/System-Announcements/CategoryRenamed.class.st
  src/System-Announcements/PackageTagRemoved.class.st
  src/System-Announcements/PackageTagRenamed.class.st
  src/System-Announcements/SystemAnnouncer.class.st
Labels: tests passed please review!

#14440 RPackage: Improve creation of package during demotion to tag
  src/RPackage-Core/RPackage.class.st
Labels: tests passed please review!

#14445 Refactor: add method refactoring
  src/Refactoring-Core/RBAddMethodRefactoring.class.st
  src/Refactoring-Core/RBAddMethodTransformRefactoring.class.st
  src/Refactoring-Core/RBChildrenToSiblingsRefactoring.class.st
  src/Refactoring-Core/RBClassRegexRefactoring.class.st
  src/Refactoring-Core/RBCopyClassRefactoring.class.st
  src/Refactoring-Core/RBCreateAccessorsForVariableTransformation.class.st
  src/Refactoring-Core/RBCreateLazyAccessorsForVariableTransformation.class.st
  src/Refactoring-Core/RBDeprecateClassRefactoring.class.st
  src/Refactoring-Core/RBDeprecateMethodRefactoring.class.st
  src/Refactoring-Core/RBExtractSetUpMethodRefactoring.class.st
  src/Refactoring-Core/RBGenerateEqualHashTransformation.class.st
  src/Refactoring-Core/RBGeneratePrintOnTransformation.class.st
  src/Refactoring-Core/RBMakeClassAbstractTransformation.class.st
  src/Refactoring-Core/RBMoveMethodToClassRefactoring.class.st
  src/Refactoring-Core/RBMoveMethodToClassSideRefactoring.class.st
  src/Refactoring-Core/RBPrettyPrintCodeTransformation.class.st
  src/Refactoring-Core/RBProtocolRegexTransformation.class.st
  src/Refactoring-Core/RBPullUpMethodRefactoring.class.st
  src/Refactoring-Core/RBPushDownMethodRefactoring.class.st
  src/Refactoring-Core/RBRenameInstanceVariableRefactoring.class.st
  src/Refactoring-Core/RBSourceRegexTransformation.class.st
  src/Refactoring-Core/RBSwapMethodRefactoring.class.st
  src/Refactoring2-Transformations-Tests/RBAddMethodRefactoringTest.class.st
  src/Refactoring2-Transformations-Tests/RBAddMethodTransformRefactoringTest.class.st
  src/Refactoring2-Transformations-Tests/RBAddMethodTransformationParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBCopyPackageParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBExtractMethodTransformationTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveSubtreeTransformationTest.class.st
  src/Refactoring2-Transformations-Tests/RBRemoveTemporaryVariableTransformationTest.class.st
  src/Refactoring2-Transformations-Tests/RBRenameTemporaryParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBTransformationsTest.class.st
  src/Refactoring2-Transformations/RBAddMethodTransformation.class.st
  src/Refactoring2-Transformations/RBDeprecateClassTransformation.class.st
  src/Refactoring2-Transformations/RBExtractMethodTransformation.class.st
  src/Refactoring2-Transformations/RBPullUpMethodTransformation.class.st
  src/Refactoring2-Transformations/RBPushDownMethodTransformation.class.st
  src/System-DependenciesTests/SystemDependenciesTest.class.st
Labels: tests passed please review!

#14391 Use classes in the class mapping of RPackageOrganizer
  src/Kernel/FluidClassDefinitionPrinter.class.st
  src/Monticello-Tests/RPackageClassesSynchronisationTest.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/Shift-ClassInstaller-Tests/ShAnonymousClassInstallerTest.class.st
  src/System-Changes/ClassChangeRecord.class.st
Labels: tests passed please review!

#14448 14141-BlockClosureisClean-regression-from-Pharo-10-to-11
  src/OpalCompiler-Core/OCBlockScope.class.st
  src/OpalCompiler-Core/RBBlockNode.extension.st
  src/OpalCompiler-Core/RBProgramNode.extension.st
  src/OpalCompiler-Core/RBVariableNode.extension.st
Labels: tests passed please review!

#14447 RPackage: Cleanings in tag
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
Labels: tests passed please review!

#14449 RPackage: Clean bootstrap initialization
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14461 Revert "RPackage: Clean bootstrap initialization"
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14454 RPackage: Use real classes for extension caches
  src/Monticello-Tests/RPackageClassesSynchronisationTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14463 RPackage: Clean package demotion and tag promotion
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/SystemCommands-PackageCommands/SycDemoteToPackageWithTagCommand.class.st
  src/SystemCommands-PackageCommands/SycPromotePackageFromTagCommand.class.st
Labels: tests passed please review!

#14465 RPackage: Improve coherence of names in RPackageTraitTest
  src/RPackage-Tests/RPackageTraitTest.class.st
Labels: tests passed please review!

#14466 RPackage: Clean some tests
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
Labels: tests passed please review!

#14471 RPackage: Automatically register packages in tests
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
Labels: tests passed please review!

#14468 RPackage: Simplify class recategorization
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
Labels: tests passed please review!

#14475 Make Remove instance variables works well on a list using a new compo…
  src/Calypso-SystemTools-FullBrowser/ManifestCalypsoSystemToolsFullBrowser.class.st
  src/Calypso-SystemTools-FullBrowser/SycRemoveVariablesCommand.extension.st
  src/Refactoring-Core/RBCompositeContinuingRefactoring.class.st
  src/Refactoring-Core/RBCompositeRefactoring.class.st
  src/Refactoring-Core/RBRemoveInstanceVariableRefactoring.class.st
  src/Refactoring-UI/RBDeprecateMethodDriver.class.st
  src/Refactoring-UI/RBDriver.class.st
  src/Refactoring-UI/RBRemoveInstanceVariablesDriver.class.st
  src/Refactoring2-Transformations-Tests/RBAbstractEnvTestCase.class.st
  src/SystemCommands-VariableCommands/SycRemoveVariableCommand.class.st
  src/SystemCommands-VariableCommands/SycRemoveVariablesCommand.class.st
Labels: need help

#13952 Add #enumerationsDo: and #enumerationsOfSize:
  src/Collections-Abstract-Tests/TEnumeratingTest.trait.st
  src/Collections-Abstract/SequenceableCollection.class.st
Labels: Need more work

#14478 Creating less blocks instead of using simple temporaries.
  src/Collections-Strings/String.class.st
  src/Collections-Unordered/SmallDictionary.class.st
  src/DrTests-TestCoverage/DTTestCoveragePlugin.class.st
  src/GeneralRules-Tests/ReAbstractRuleTestCase.class.st
  src/Kernel/ClassDescription.class.st
  src/Monticello/MCVersionInfo.class.st
  src/MonticelloConfigurations/MCConfiguration.class.st
  src/MonticelloGUI/MCLazyVersionInfo.extension.st
  src/Ombu/OmMemoryStore.class.st
  src/SUnit-UI/TestRunner.class.st
  src/System-Caching/LRUCache.class.st
Labels: tests passed please review!

#14484 Cleanup: rename all conditions to preconditions
  src/Refactoring-Core/RBAddClassVariableRefactoring.class.st
  src/Refactoring-Core/RBAddInstanceVariableRefactoring.class.st
  src/Refactoring-Core/RBCompositeRefactoring.class.st
  src/Refactoring-Core/RBDeprecateMethodRefactoring.class.st
  src/Refactoring-Core/RBMoveMethodToClassSideRefactoring.class.st
  src/Refactoring-Core/RBRemoveInstanceVariableRefactoring.class.st
  src/Refactoring-Core/RBRemoveMethodRefactoring.class.st
  src/Refactoring-Core/RBRemoveSharedVariableRefactoring.class.st
  src/Refactoring-Core/RBRenameMethodRefactoring.class.st
  src/Refactoring2-Transformations/RBAddAssignmentTransformation.class.st
  src/Refactoring2-Transformations/RBAddMessageSendTransformation.class.st
  src/Refactoring2-Transformations/RBAddMethodTransformation.class.st
  src/Refactoring2-Transformations/RBAddParameterTransformation.class.st
  src/Refactoring2-Transformations/RBAddPragmaTransformation.class.st
  src/Refactoring2-Transformations/RBAddProtocolTransformation.class.st
  src/Refactoring2-Transformations/RBAddReturnStatementTransformation.class.st
  src/Refactoring2-Transformations/RBAddSubtreeTransformation.class.st
  src/Refactoring2-Transformations/RBAddTemporaryVariableTransformation.class.st
  src/Refactoring2-Transformations/RBAddVariableAccessorTransformation.class.st
  src/Refactoring2-Transformations/RBAddVariableAccessorWithLazyInitializationTransformation.class.st
  src/Refactoring2-Transformations/RBAddVariableTransformation.class.st
  src/Refactoring2-Transformations/RBChangeMethodNameTransformation.class.st
  src/Refactoring2-Transformations/RBDeprecateMethodTransformation.class.st
  src/Refactoring2-Transformations/RBExtractMethodTransformation.class.st
  src/Refactoring2-Transformations/RBExtractToTemporaryTransformation.class.st
  src/Refactoring2-Transformations/RBInlineMethodTransformation.class.st
  src/Refactoring2-Transformations/RBInlineTemporaryTransformation.class.st
  src/Refactoring2-Transformations/RBInsertNewClassTransformation.class.st
  src/Refactoring2-Transformations/RBMergeInstanceVariableIntoAnotherTransformation.class.st
  src/Refactoring2-Transformations/RBMethodProtocolTransformation.class.st
  src/Refactoring2-Transformations/RBMoveClassTransformation.class.st
  src/Refactoring2-Transformations/RBMoveMethodToClassSideTransformation.class.st
  src/Refactoring2-Transformations/RBMoveMethodToClassTransformation.class.st
  src/Refactoring2-Transformations/RBMoveMethodTransformation.class.st
  src/Refactoring2-Transformations/RBMoveTemporaryVariableDefinitionTransformation.class.st
  src/Refactoring2-Transformations/RBPullUpMethodTransformation.class.st
  src/Refactoring2-Transformations/RBPushDownMethodTransformation.class.st
  src/Refactoring2-Transformations/RBPushDownVariableTransformation.class.st
  src/Refactoring2-Transformations/RBRealizeClassTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveAllMessageSendsTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveAssignmentTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveClassTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveDirectAccessToVariableTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveHierarchyMethodTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveMethodTransformation.class.st
  src/Refactoring2-Transformations/RBRemovePragmaTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveProtocolTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveReturnStatementTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveSubtreeTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveTemporaryVariableTransformation.class.st
  src/Refactoring2-Transformations/RBRemoveVariableTransformation.class.st
  src/Refactoring2-Transformations/RBRenameClassTransformation.class.st
  src/Refactoring2-Transformations/RBRenameMethodTransformation.class.st
  src/Refactoring2-Transformations/RBRenameTemporaryVariableTransformation.class.st
  src/Refactoring2-Transformations/RBRenameVariableTransformation.class.st
  src/Refactoring2-Transformations/RBReplaceSubtreeTransformation.class.st
  src/Refactoring2-Transformations/RBSplitClassTransformation.class.st
  src/Refactoring2-Transformations/RBTemporaryToInstanceVariableTransformation.class.st
  src/Refactoring2-Transformations/RBTransformation.class.st
Labels: Reviewed and Ready to Integrate

#14494 RPackage: Fix failing tests
  src/RPackage-Tests/RPackageIncrementalTest.class.st
Labels: tests passed please review!, easyReview, Annoying, CI

#14488 RPackage: Make Gofer cleanup use Package API
  src/Gofer-Core/GoferCleanup.class.st
  src/Gofer-Tests/GoferOperationTest.class.st
Labels: tests passed please review!

#14492 Refactoring: Use less categories in RBMoveClassTransformation
  src/Refactoring2-Transformations-Tests/RBMoveClassTransformationTest.class.st
  src/Refactoring2-Transformations/RBMoveClassTransformation.class.st
Labels: tests passed please review!

#14500 Fix: enable push down method for concrete classes
  src/Refactoring-Core/RBPushDownMethodRefactoring.class.st
  src/Refactoring2-Transformations-Tests/RBPushDownMethodParametrizedTest.class.st
  src/Refactoring2-Transformations-Tests/RBPushDownMethodRefactoringTest.class.st
  src/Refactoring2-Transformations/RBPushDownMethodTransformation.class.st
Labels: tests passed please review!

#14501 Save real classes in RPackage
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/System-Support/SystemDictionary.class.st
Labels: tests passed please review!

#14487 RPackage: Fix some flacky tests
  src/Deprecated12/ClassFactoryForTestCase.extension.st
  src/ReleaseTests/ObsoleteTest.class.st
  src/SUnit-Core/ClassFactoryForTestCase.class.st
  src/SUnit-Core/ManifestSUnitCore.class.st
Labels: tests passed please review!

#14462 RPackage: Clean bootstrap initialization
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14507 RPackage: Simplify class import
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Tests/RPackageIncrementalTest.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/RPackage-Tests/RPackageTestCase.class.st
Labels: tests passed please review!

#14510 RPackage: Simplify actions of method modifications
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
Labels: tests passed please review!

#14509 Packages: Introduce new API in MCOrganizationDefinition
  src/Metacello-TestsMCResources/MetacelloAlternateResource.class.st
  src/Metacello-TestsMCResources/MetacelloAtomicConfigurationResource.class.st
  src/Metacello-TestsMCResources/MetacelloAtomicMonticelloResource.class.st
  src/Metacello-TestsMCResources/MetacelloConfigurationResource.class.st
  src/Metacello-TestsMCResources/MetacelloIssue108Resource.class.st
  src/Metacello-TestsMCResources/MetacelloMonticelloResource.class.st
  src/Metacello-TestsMCResources/MetacelloScriptingResource.class.st
  src/Monticello-Tests/MCOrganizationTest.class.st
  src/Monticello-Tests/MCStWriterTest.class.st
  src/Monticello/MCOrganizationDefinition.class.st
  src/Monticello/MCPackage.class.st
  src/Monticello/MCStReader.class.st
  src/MonticelloFileTree-Core/MCFileTreeStCypressReader.class.st
Labels: tests passed please review!

#14531 Update Calypso after removal of a new package.
  src/Calypso-Browser-Tests/ClyBrowserToolValidityTest.class.st
  src/Calypso-SystemTools-Core/ClyClassCreationToolMorph.class.st
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserMorph.class.st
  src/SystemCommands-PackageCommands-Tests/SycRemoveNewPackageCommandTest.class.st
  src/SystemCommands-PackageCommands/SycRemovePackageCommand.class.st
Labels: tests passed please review!

#14521 Revert "Enh/browse in morphic pane"
  src/Calypso-SystemTools-FullBrowser/ClyTextEditor.extension.st
  src/Calypso-SystemTools-QueryBrowser/ClyTextEditor.extension.st
  src/OpalCompiler-Core/OCDoItSemanticScope.class.st
Labels: tests passed please review!

#14517 RPackage: Remove #systemCategories
  src/Deprecated12/RPackageOrganizer.extension.st
  src/Monticello-Tests/MCStWriterTest.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageSet.class.st
Labels: tests passed please review!

#14537 RPackage: Simplify protocol manipulation
  src/Deprecated12/RPackage.extension.st
  src/Epicea/EpMonitor.class.st
  src/Kernel/ClassDescription.class.st
  src/Kernel/Protocol.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageSet.class.st
Labels: tests passed please review!

#14539 RPackage: Clean package tag API
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
Labels: tests passed please review!

#14513 RPackage: Remove duplicated classes infos
  src/RPackage-Core/RPackage.class.st
Labels: tests passed please review!, IMPORTANT ISSUE

#14538 RPackage: Do not repackage methods twice
  src/Kernel/ClassDescription.class.st
Labels: tests passed please review!

#14546 Refactorings: Remove categories from environments and clean the code
  src/Monticello/MCWorkingCopy.class.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageSet.class.st
  src/Refactoring-Critics/RBMultiEnvironment.class.st
  src/Refactoring-Environment/RBAndEnvironment.class.st
  src/Refactoring-Environment/RBBrowserEnvironment.class.st
  src/Refactoring-Environment/RBBrowserEnvironmentWrapper.class.st
  src/Refactoring-Environment/RBClassEnvironment.class.st
  src/Refactoring-Environment/RBClassHierarchyEnvironment.class.st
  src/Refactoring-Environment/RBNotEnvironment.class.st
  src/Refactoring-Environment/RBOrEnvironment.class.st
  src/Refactoring-Environment/RBPackageEnvironment.class.st
  src/Refactoring-Environment/RBPragmaEnvironment.class.st
  src/Refactoring-Environment/RBProtocolEnvironment.class.st
  src/Refactoring-Environment/RBSelectorEnvironment.class.st
  src/Refactoring-Environment/RBVariableEnvironment.class.st
  src/Refactoring-Tests-Environment/RBBrowserEnvironmentTest.class.st
Labels: tests passed please review!

#14548 RPackage: Iteration on tag API in RPackage
  src/Calypso-SystemQueries/ClyTaggedClassGroup.class.st
  src/Deprecated12/RPackage.extension.st
  src/RPackage-Core/ClassDescription.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageOrganizer.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageOrganizerTest.class.st
  src/RPackage-Tests/RPackageReadOnlyCompleteSetupTest.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
  src/RPackage-Tests/RPackageTest.class.st
  src/SystemCommands-PackageCommands/SycAddNewClassTagCommand.class.st
Labels: tests passed please review!

#14556 RPackage: #packageTag should always return a tag
  src/Calypso-SystemQueries/ClyRestUntaggedClassesQuery.class.st
  src/Calypso-SystemQueries/ClyUntaggedClassesQuery.class.st
  src/Calypso-SystemTools-FullBrowser/ClyFullBrowserMorph.class.st
  src/GeneralRules/ReClassNotCategorizedRule.class.st
  src/RPackage-Core/ClassDescription.extension.st
  src/Ring-Core/RGReadOnlyImageBackend.class.st
Labels: tests passed please review!

#14561 RPackage: #packageTag should work on class side
  src/Calypso-SystemPlugins-SUnit-Browser/TClyGenerateTestClass.trait.st
  src/Deprecated12/ClassDescription.extension.st
  src/Deprecated12/RPackage.extension.st
  src/FluidClassBuilder/FluidBuilder.class.st
  src/Kernel/FluidClassDefinitionPrinter.class.st
  src/RPackage-Core/ClassDescription.extension.st
  src/RPackage-Core/RPackage.class.st
  src/RPackage-Core/RPackageTag.class.st
  src/RPackage-Tests/RPackageRenameTest.class.st
  src/RPackage-Tests/RPackageTagTest.class.st
Labels: tests passed please review!
